
<ion-header>

  <ion-navbar>
    <ion-title>Edit Scene</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Edit Scene Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Scene Name</ion-label>
      <ion-input type="text" item-right class="txt-normal mr-5px" text-right [(ngModel)]="scene_name"></ion-input>
    </ion-item>

    <ion-item class="itm" *ngIf="current_scene.scheduleSceneName">
      <ion-label>Schedule Time</ion-label>
      <ion-datetime displayFormat="hh:mm A" [(ngModel)]="scene_time" placeholder="Select"></ion-datetime>
    </ion-item>
    <p class="m-40150" padding-left=""> Scene name suggestions: Morning, Party, Bedtime etc.</p>
    <!--ion-item class="itm" *ngIf="current_scene.days">
      <ion-label>Repeat on</ion-label>
      <ion-select [(ngModel)]="current_scene.days" multiple="true"  (ionChange)="repeatChange()" [selectedText]="repeat_selectText">
        <ion-option value = '0'>Monday</ion-option>
        <ion-option value = '1'>Tuesday</ion-option>
        <ion-option value = '2'>Wednesday</ion-option>
        <ion-option value = '3'>Thursday</ion-option>
        <ion-option value = '4'>Friday</ion-option>
        <ion-option value = '5'>Saturday</ion-option>
        <ion-option value = '6'>Sunday</ion-option>
      </ion-select>
    </ion-item-->
        <div class="txt-center mb-5vw" *ngIf="current_scene.days">
      <input type="checkbox" [(ngModel)]="schedule_repeats[0]" class="day" id="monday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[1]" class="day" id="tuesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[2]" class="day" id="wednesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[3]" class="day" id="thursday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[4]" class="day" id="friday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[5]" class="day" id="saturday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[6]" class="day" id="sunday">
    </div>
    <!-- <p class="m-40150" padding-left=""> When you click on it, you can view all users in your home and also you can approve pending users. Please provider the Wifi Router Details to configure</p> -->
  </ion-item-group>
  <button ion-button full text-left class="btn txt-orange" (click)="goToRoomListForEdit()">Edit Appliances </button>
  <p class="m-40150" padding-left=""> Click to edit the appliances in the scene</p>
   <button ion-button full class="txt-orange" (click)="editScene()" [disabled]="!scene_name">Save Scene </button>


</ion-content>
