page-edit-scene {
	.mt20{
		margin-top:20px;
	}
.datetime-md {
    padding: 2px 10px 2px 10px !important;
}
.datetime-ios {
    padding: 2px 10px 2px 10px !important;
}
ion-datetime {
    color: $orange !important;
    border: solid 1px $orange;
}
}
