
<ion-header> 
  <ion-navbar>         
    <ion-title>Rooms</ion-title> 
  </ion-navbar>  
</ion-header> 
<ion-content no-padding> 
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver"> Select A Room </span>
    </ion-item-divider>
      <button ion-item class="itm" *ngFor="let item of room_data;let ind = index" (click)="goNext(ind)">
        <span>{{ item.room_name }}</span>
        <ion-icon item-right md="ios-arrow-forward"></ion-icon>
      </button> 
  </ion-item-group>
  <br>
  <!-- <p padding-left padding-top>  When you click on it, you can view all users in your home and also you can approve pending users. </p> -->
  <button ion-button block no-margin class="txt-orange" (click)="checkApps()">{{ isEdit?'Save Edits':'Create Scene' }}</button>
  
</ion-content>    