<ion-header>
  <ion-navbar>
    <ion-title>{{name}}</ion-title>
    <ion-buttons end > 
      <button ion-button class="txt-orange" (click)="goToEditIrApp()">Edit</button> 
    </ion-buttons> 
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Remote Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Appliance Name</ion-label>
      <span item-right class="txt-normal">{{name}}</span>
    </ion-item> 
    <ion-item class="itm">
      <ion-label>Paired with Switchboard</ion-label>
      <span item-right class="txt-normal">{{paired_sb}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Appliance Type</ion-label>
      <span item-right class="txt-normal">{{type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Brand</ion-label>
      <span item-right class="txt-normal ellipses" style="max-width:75%">{{brand}}</span>
    </ion-item> 
    <ion-item class="itm">
      <ion-label>Home</ion-label>
      <span item-right class="txt-normal">{{home_name}}</span>
    </ion-item> 
    <ion-item class="itm">
      <ion-label>Room</ion-label>
      <span item-right class="txt-normal">{{room_id}}</span>
    </ion-item>    
  </ion-item-group>
  <br>  
  <button class="btn txt-orange" ion-button full (click)="testConnection()" [disabled]="next_spinner">Configure Remote<ion-spinner name="dots" *ngIf="next_spinner"></ion-spinner>  </button>

  <p class="m-40150" padding-left> If the current remote has any issues, remote can be configured again</p>
  
  <button class="btn txt-red" ion-button full (click)="deleteIr()">Delete IR Appliance </button>
  
</ion-content>


