<ion-header>
    <ion-navbar>
      <ion-title>Select Brand</ion-title>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-searchbar [showCancelButton]="shouldShowCancel" [(ngModel)]="searchInput" (ionInput)="filterItems($event)" placeholder="Search your Brand" autocomplete="on">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <!--ion-list [virtualScroll]="data2">
        <button ion-item detail-push *virtualItem="let i" (click)="codeDisplay(i)" class="itm">
            <span> {{ i }}</span>
        </button>
    </ion-list-->
        <!--ion-list [virtualScroll]="data2">
        <button ion-item detail-push *virtualItem="let i" (click)="codeDisplay(i)" class="itm">
            <span> {{ i }}</span>
        </button>
    </ion-list-->
        <ion-list *ngIf="searchInput || type=='Set Top Box'">
        <button ion-item detail-push *ngFor="let i of data2" (click)="codeDisplay(i)" class="itm">
            <span> {{ i }}</span>
        </button>
    </ion-list>
    <ion-spinner *ngIf="show_loader" name="dots" class="loader-search"></ion-spinner>
</ion-content>
