/*page-remote-modal {
	.toolbar-ios {
    	padding: 2px !important;
    	min-height: 32px !important;
	}
	.col{
		padding: 0px !important;
	}
	.btn-round{
		background-color: $item-bg !important;
	    border-radius: 50%;  
	    height: 20rem;
	    text-align: center; 
	    margin: 0 auto;
	    width: 20rem;
	    background-size: 22rem 22rem;
	    background-repeat: no-repeat;
	    transform: rotate(45deg);
	}
	.remote-rouned-btn {
	    height: 50%;
	    width: 50%;
	    position: relative;
	    top: 0px;
	    left: 0px;
	    border: 1px solid $black;
	    margin:0 !important;
	    padding: 0px !important;
	}
	.remote-center-btn{
	    width: 7rem;
	    height: 7rem;
	    border-radius: 100%;
	    border: 2px solid $black;
	    transform: translateY(6rem);
	    transform: translate3d(6rem,-14rem,0);	    
	}
	.remote-rouned-btn .button-inner,
	.remote-center-btn .button-inner{
		transform: rotate(-45deg);
	}
	
	.btn-top{
		border-radius: 100% 0px 0px 0px;
	}
	.btn-left{
		border-radius: 0px 0px 0px 100%;
	}
	.btn-right{
		border-radius: 0px 100% 0px 0px;
	}
	.btn-bottom{
		border-radius: 0px 0px 100% 0px;
	}
	.remote-rouned-btn.activated{
		color:$gold !important;
	}
	.remote-center-btn.activated{
		background-color:#866b02 !important; 
	}
	.btn-left .button-inner{
		padding-left: 12px;
	}
	.btn-right .button-inner{
		padding-right: 12px;
	}
	.btn-return{
		width: 25vw;
    	height: 13vw;
    	border-radius: 16px;
    	border: 2px solid $black;
	}
	.btn-return1{
		width: 80vw;
    	height: 13vw;
    	border-radius: 16px;
    	border: 2px solid $black;
	}
	.scroll-content {
  display: table !important;
  width: 100% !important;
  height: 100% !important;
}
.scroll {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important;
}	
.fav-icon{
	font-size: 2rem;
    color: $gold;
}
.mute{
	width: 20px !important;
}
.m-30{
	margin-top:30px;
}
    .curvy-edges{
        border-radius: 78px !important;
        border: solid 0.8px $orange !important;
    }
}
*/
page-search-modal {
	>.scroll-content{
		overflow-y:scroll;
		overflow-x:hidden;
	}
	#outer-wrapper{
		padding-top:20px;
		padding-bottom:20px;
	}
/*	.toolbar-ios {
			padding: 2px !important;
			min-height: 32px !important;
		}*/
	.col{
		padding: 0px !important;
	}

	.btn-round{
		background-color: $item-bg !important;
		border-radius: 50%;  
		height: 60vw;
		text-align: center; 
		margin: 0 auto;
		width: 60vw;
		background-size: 62vw 62vw;
		background-repeat: no-repeat;
		transform: rotate(45deg);
	}
	.remote-rouned-btn {
	    height: 50%;
	    width: 50%;
	    position: relative;
	    top: 0px;
	    left: 0px;
	    border: 1px solid $black;
	    margin:0 !important;
	    padding: 0px !important;
	}
	.remote-center-btn{
	    width: 20vw;
	    height: 20vw;
	    border-radius: 100%;
	    border: 2px solid $black;
	    transform: translateY(20vw);
	    transform: translate3d(20vw,-40vw,0);	    
	}
	.remote-rouned-btn .button-inner,
	.remote-center-btn .button-inner{
		transform: rotate(-45deg);
	}
	
	.btn-top{
		border-radius: 100% 0px 0px 0px;
	}
	.btn-left{
		border-radius: 0px 0px 0px 100%;
	}
	.btn-right{
		border-radius: 0px 100% 0px 0px;
	}
	.btn-bottom{
		border-radius: 0px 0px 100% 0px;
	}
	.remote-rouned-btn.activated{
		color:$gold !important;
	}
	.remote-center-btn.activated{
		background-color:#866b02 !important; 
	}
	.btn-left .button-inner{
		padding-left: 12px;
	}
	.btn-right .button-inner{
		padding-right: 12px;
	}
	.btn-return{
		width: 25vw;
    	height: 13vw;
    	border-radius: 16px;
    	border: 2px solid $black;
	}
	.btn-return1{
		width: 80vw;
    	height: 13vw;
    	border-radius: 16px;
    	border: 2px solid $black;
	}
	.m-30{
		margin-bottom:30px;
	}
}