
<ion-header> 
	<ion-navbar>       
		<ion-title>Search Programs</ion-title> 
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons> 
	</ion-navbar>  
</ion-header>
<ion-content no-padding (swipe)="dismissSwipe($event)">
	     <ion-toolbar no-border-top>
                <ion-searchbar [showCancelButton]="shouldShowCancel" debounce="200" (ionInput)="searchPrograms($event)" placeholder="Search for a program">
                </ion-searchbar>
            </ion-toolbar> 
            <div *ngIf="!text && searchResult.length==0 && searchKey">
                <img src='assets/img/md-loader.gif' class="loading-center"/></div> 
            <div *ngIf="text && searchKey" class="txt-gold">{{text}}</div>
            <ion-item-group *ngIf="searchKey">
                <ion-item-divider class="itm-divider bg-none txt-normal font-w-600" *ngIf="searchResult.length">Search Results</ion-item-divider>
                <div *ngFor="let i of searchResult">
                    <ion-item *ngIf="i" (click)="goToDetails(i.doc)">
                        <ion-thumbnail item-left  >
                            <img src="{{i.doc.program | programPosterPipe}}" class="img-thumb2">
                        </ion-thumbnail>
                        <p>&nbsp;</p>
                        <div>
                            <h2 class="txt-gold">{{i.doc.program.mainprogramname||i.doc.program.name}}</h2>
                            <p class="txt-silver">{{i.doc.program.language}} | {{i.doc.program.type}}</p>
                            <p class="txt-silver">{{i.doc.program.genre}}</p>
                            </div>
                         &nbsp; &nbsp;
                        <ion-icon md="ios-arrow-forward" class="txt-silver font-2-8rem" item-right></ion-icon>
                    </ion-item>
                </div>
            </ion-item-group>     
</ion-content>
<!--
<ion-content>
    <ion-scroll scrollX="true" scrollY="true">
        <div style="
    width: 100%;
    height: 1000px;
    background: red;
">Hello</div>

    </ion-scroll>
</ion-content>-->