<ion-header>
    <ion-navbar>
        <ion-title>Schedule Appliances</ion-title>
        <ion-buttons end> 
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Save
            </button>
        </ion-buttons> 
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-group *ngFor="let sboard of current_room.devices;let ind1=index">
        <ion-item-divider class="itm-divider-btom">
            <span class="txt-gold">Appliances present in {{ sboard.sboard_name }}</span>
        </ion-item-divider>
        <div *ngFor="let apps of sboard.switch_appliances;let ind2=index">
            <ion-item ngClass="{{apps.switch_type=='regulator'?'itm-1':'itm-2'}}" *ngIf="apps.name">
                <!--(ionChange)="setAction(apps,sboard.device_id,sboard._id,$event,null)"-->
                <ion-label>{{ apps.name }}</ion-label>
                <ion-checkbox item-left class="checkbox-width" (ionChange)="checkBoxChange($event,apps)" [(ngModel)]="apps.select_toggle">
                </ion-checkbox>
                <!-- <input type="checkbox" class="checkbox-kiot" [( ngModel)]="apps.select_toggle"/> -->
                <ion-toggle *ngIf="for=='unscheduled'" item-right [disabled]="!apps.select_toggle" [(ngModel)]="apps.state_toggle"></ion-toggle>
                <!--button *ngIf="for!='unscheduled'" [disabled]="!apps.select_toggle" (click)="goToScheduleSwitch(apps)" item-right class="schedule-button">Schedule</button-->
                <ion-range [disabled]="!apps.select_toggle" [(ngModel)]="apps.state_dimm_value" min="0" max="99" padding-right padding-left no-padding *ngIf="apps.switch_type=='regulator'">
                </ion-range>
            </ion-item>
            <div *ngIf="apps.showAcc || apps.select_toggle" [@enterAnimation]="apps.showAcc" class="accord">
                <ion-row  justify-content-center class="bg-1c accord1" *ngFor="let sch of apps.scheduleList;let ind=index">
                  <ion-col col-1>&nbsp;</ion-col>
                  <ion-col col-4 align-self-center text-center>
                    <ion-datetime displayFormat="hh:mm A" placeholder="Select" (ionChange)="checkTime($event,ind,ind1,ind2)" [(ngModel)]="sch.time"></ion-datetime>
                  </ion-col>
                  
                  <ion-col col-2 align-self-center text-center align-items-center>
                    <ion-toggle [(ngModel)]="sch.state"></ion-toggle>
                  </ion-col>
                  <ion-col col-3 align-self-center text-left class="font-1-7rem" ngClass="{{sch.state | toggleValue}}">{{sch.state | toggleValue}}</ion-col>
                  <ion-col col-2 align-self-center text-left >
                    <img src="{{ind==apps.scheduleList.length-1?'assets/img/btn-add.png':'assets/img/btn-remove.png'}}" (click)="edit_scheduleList(apps,ind)">
                  </ion-col>
                </ion-row> 
            </div>
        </div>
    </ion-item-group>
    <!--button ion-button full class="txt-orange" (click)="dismiss(0)">Done</button-->
    <!--   -->
</ion-content>
