page-apps-for-scene {
    .checkbox-ios .checkbox-checked {
        border-color: transparent !important;
        background-color: $orange !important;
    }
    .checkbox-md .checkbox-checked {
        border-color: transparent !important;
        background-color: $orange !important;
    }
    .toggle-md .toggle-checked .toggle-inner {
        background-color: white !important;
    }
    .schedule-button {
        background: none !important;
        border: 1px solid $orange !important;
        color: $orange;
        padding: 7px;
    }
    .checkbox {
        width: 4% !important;
        margin-right: 5% !important;
    }
    .item-cover {
        width: 12% !important;
    }
    .checkbox-kiot {
        border-radius: 100px !important;
        height: 30px !important;
        width: 8%;
        margin-right: 5%;
    }
    .checkbox-icon{
        margin-top: 5px !important;
    }
    .label {
        display: inherit;
        margin: 10px 8px 6px 0px !important;
    }
    .itm-2 {
        color: $white;
        font-size: 1.5rem !important;
        max-height: 6rem !important;
        height: 6rem !important;
    }
    .itm-1 {
        color: $white;
        font-size: 1.5rem !important;
        height: 9rem !important;
    }
    .itm-1 .checkbox-width {
        margin-top: -6vw !important;
    }
    .itm-1 .label {
        margin: 20px 8px 6px 0px !important;
    }
    .itm-1 .input-wrapper {
        align-items: flex-start;
    }
    ion-range {
        padding-left: 0px !important;
    }
    .datetime-md {
            padding: 2px 0px 2px 0px !important;
             margin: 0px 10px 0px 10px;
    }
    .datetime-ios {
            padding: 2px 0px 2px 0px !important;
             margin: 0px 10px 0px 10px;
    }
    ion-datetime {
        color: $orange !important;
        border: solid 1px $orange;
    }
    .btn-add {
        border-radius: 100%;
        border: 1px solid $orange;
        background: transparent !important;
    }
    .toggle {
        display: -webkit-inline-box;
    }
    .toggle-icon {
        background: $red !important;
    }
    .toggle-icon::before {
        background: $red !important;
    }

    .toggle-checked .toggle-icon {
       background-color: #4caf50 !important;
    }
    .accord {
        margin-top: -2px;
        position: relative;
    }
    .accord1 {
        transition: 0.09s all linear;
        animation-duration: 750ms;
    }
}
