<ion-header>

  <ion-navbar>
    <ion-title>New Workflow</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Create a new workflow</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Name</ion-label>
      <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="wflow.name"></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Starts At</ion-label>
      <ion-datetime displayFormat="hh:mm A" [(ngModel)]="wflow.start_time" placeholder="Select"></ion-datetime>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Ends At</ion-label>
      <ion-datetime displayFormat="hh:mm A" [(ngModel)]="wflow.end_time" (ngModelChange)="validateTime($event)" placeholder="Select"></ion-datetime>
    </ion-item>
  </ion-item-group>
  <br>
  <button ion-button full class="txt-orange" [disabled]="!wflow.name||!wflow.start_time||!wflow.end_time||invalid_time" (click)="goToConfigWorkflow()">Next</button>
</ion-content>