<ion-header>

  <ion-navbar>
    <ion-title>Configure Alexa</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold"> Select the devices which are to be registered with Alexa</span>
    </ion-item-divider>
    <span *ngIf="all_sboards">
      <span *ngFor="let item of all_sboards">
        <span *ngFor="let sboard of item.devices" class="loopspan">     
     <ion-item class="itm2">
       <ion-checkbox [(ngModel)]="sboard.is_checked" [disabled]="disable_all && total_count" (ionChange)="sboard_checked(sboard)"></ion-checkbox>
       <ion-label ellipses class="font-1-5rem">{{sboard.sboard_name}} in {{item.room_name}}</ion-label>
       <ion-icon *ngIf="sboard.is_checked && !sboard.show_failure && sboard.show_success" class="margin-zero" item-right name="checkmark" class="font-1-2 txt-green"></ion-icon>
        <ion-icon *ngIf="sboard.is_checked && sboard.show_failure && !sboard.show_success" class="margin-zero" item-right name="close" class="font-1-2 txt-red"></ion-icon>
       <ion-spinner *ngIf="sboard.is_checked && sboard.show_loader" class="margin-zero" item-right class="font-1-5rem" name="dots"></ion-spinner>
    </ion-item>
    </span>
    </span>
    </span>
  </ion-item-group>
  <br>
  <button ion-button full class="txt-gold" [disabled]="disable_all && total_count" (click)="configureDevices()">Configure</button>
</ion-content>