
<ion-header>

  <ion-navbar>
    <ion-title>Contact Us</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <button ion-item class="itm" (click)="callCustCare()">Call Us<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    <button ion-item class="itm" (click)="goToTickets()">Rise a Compliant<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    <button ion-item class="itm" (click)="feedbackAlert()">Report a Bug/issue<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
  </ion-item-group>
</ion-content>