<ion-header>

  <ion-navbar>
    <ion-title>Numeric Buttons</ion-title>
    <ion-buttons right>
      <button ion-button outline class="close-modal  ml-2vw" (click)="dismiss(0)">
                close
            </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid no-padding>
    <ion-row>
      <ion-col col-11 text-center no-padding>
        <ion-row>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('1')">1</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('2')">2</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('3')">3</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('4')">4</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('5')">5</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('6')">6</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('7')">7</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('8')">8</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('9')">9</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-4 text-center no-padding>
            <button text-center class="btn_calc opacity-1" ion-button (click)="triggerIr('DASH')" [disabled]="!remote_keys['DASH']">
                                <!--ion-icon name="close"></ion-icon-->
                                --/-
                            </button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="triggerIr('0')">0</button>
          </ion-col>
          <ion-col col-4 text-center no-padding>
            <button class="btn_calc" ion-button (click)="dismiss(0)">
                                <ion-icon name="close" class="font-3rem"></ion-icon>
                            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-1 text-center no-padding class="bg-gold"> &nbsp;
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>