<ion-header >
  <ion-navbar>
		<ion-title>History</ion-title>
		<!--ion-buttons end class="txt-gold"> 
       <ion-select class="maxw-100">
          <ion-option selected>today</ion-option>
          <ion-option>7days</ion-option>
        </ion-select>  
   </ion-buttons--> 
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-item-group>
    <ion-item-divider class="itm-divider-btom bdr-btom-none">
    	<span class="txt-silver">{{switchData.name}} Switch History</span>
    </ion-item-divider>
    <ion-item-divider class="itm-divider font-1-1rem txt-gold">Total running hours: {{switchData.durationHrs}}:{{switchData.durationMins|timeFormatter}} hrs
    </ion-item-divider>
	</ion-item-group>

	<ion-item-group *ngIf="history_data.length > 0"  approxItemHeight="15px" >
		
		<ion-item class="itm"  *ngFor="let i of history_data">
    <ion-row>
    	<ion-col col-4 text-center class="itm">
    		<time>{{i.timestamp | date:'shortTime'}}</time>
    	</ion-col>
			<ion-col col-6 text-center class="itm">
				{{i.username||'Manual'}}
				</ion-col>
			<ion-col col-2 text-center [class]="i.event_type | toggleValue">{{i.event_type | toggleValue}}
			</ion-col>      
		</ion-row>
		</ion-item>
		
	</ion-item-group>

</ion-content>

