

<ion-tabs [selectedIndex]="tab_index||0" >

  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Rooms" tabIcon="cube"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Scenes" tabIcon="alarm"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Remotes" tabIcon="desktop"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Settings" tabIcon="settings"></ion-tab>
</ion-tabs>