<ion-header>
	<ion-navbar>
		<ion-title>Enter OTP</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-item-group>
		<ion-item-divider class="itm-divider">Enter OTP received on your email</ion-item-divider>
		<ion-item class="itm">
			<ion-label>OTP (from email)</ion-label>
			<ion-input type="text" [(ngModel)]="otp" item-right class="txt-normal" text-right placeholder="OTP"></ion-input>
		</ion-item>
		<ion-item class="itm">
			<ion-label>New password</ion-label>
			<ion-input type="password" [(ngModel)]="pass" item-right class="txt-normal" text-right placeholder="new password"></ion-input>
		</ion-item>
	</ion-item-group>
	<br>
	<button ion-button full class="btn txt-gold" text-center (click)="resetPass()">
		Submit
		<ion-spinner *ngIf="wait" name="dots"></ion-spinner>
	</button>


</ion-content>