page-remote-modal {
        >.scroll-content {
       overflow-y: scroll;
       overflow-x: hidden;
   }
    #outer-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
/*    .toolbar-ios {
        padding: 2px !important;
        min-height: 32px !important;
    }*/
    .col {
        padding: 0px !important;
    }
    .btn-round {
        background-color: $item-bg !important;
        border-radius: 50%;
        height: 50vw;
        text-align: center;
        margin: 0 auto;
        width: 50vw;
        background-size: 62vw 62vw;
        background-repeat: no-repeat;
        transform: rotate(45deg);
    }
    .box-border{
        border: 1px solid $orange;
        padding: 1.3vw;
        font-size: 1.8rem;
        color: $orange;
    }
    .remote-rouned-btn {
        height: 50%;
        width: 50%;
        position: relative;
        top: 0px;
        left: 0px;
        /* border: 1px solid $black;*/
        margin: 0 !important;
        padding: 0px !important;
    }
    .remote-center-btn {
        width: 25vw;
        height: 25vw;
        border-radius: 100%;
        border: 2px solid $black;
        transform: translateY(20vw);
        transform: translate3d(12vw, -39vw, 0);
    }
    .remote-rouned-btn .button-inner,
    .remote-center-btn .button-inner {
        transform: rotate(-45deg);
    }
    .btn-top img {
        webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .btn-left img {
        webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    /*.btn-right img{
		webkit-transform: rotate(45deg);
    	transform: rotate(45deg);
	}*/
    .btn-bottom img {
        webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .btn-top {
        border-left: 2px solid $black;
        border-radius: 0px;
        border-top: 2px solid $black;
        border-top-left-radius: 20px;
    }
    .btn-left {
        border-left: 2px solid $black;
        border-radius: 0px;
        border-bottom: 2px solid $black;
        border-bottom-left-radius: 20px;
    }
    .btn-right {
        border-right: 2px solid $black;
        border-radius: 0px;
        border-top: 2px solid $black;
        border-top-right-radius: 20px;
    }
    .btn-bottom {
        border-right: 2px solid $black;
        border-radius: 0px;
        border-bottom: 2px solid $black;
        border-bottom-right-radius: 20px;
    }
    .remote-rouned-btn.activated {
        color: $gold !important;
    }
    .remote-center-btn.activated {
        background-color: #866b02 !important;
    }
    /*.btn-left .button-inner{
		padding-left: 12px;
	}
	.btn-right .button-inner{
		padding-right: 12px;
	}*/
    .btn-return {
        width: 25vw;
        height: 13vw;
        border-radius: 16px;
        border: 2px solid $black;
    }
    .btn-return1 {
        width: 80vw;
        height: 13vw;
        border-radius: 16px;
        border: 2px solid $black;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .mb-15 {
        margin-bottom: 15%;
    }
    .mb-5 {
        margin-bottom: 5%;
    }
    .pl-10vw {
        padding-left: 10vw !important;
    }
    .top-left {
        height: 85%;
        transform: rotate(90deg);
        margin: -232% 0px 0px 32%;
    }
    .top-right {
        height: 85%;
        transform: rotate(0deg);
        margin: -158% 0px 0px -45%;
    }
    .bottom-left {
        height: 85%;
        transform: rotate(-90deg);
        margin: -19% 0px 0px -25%;
    }
    .bottom-right {
        height: 85%;
        transform: rotate(-180deg);
        margin: -158% 0px 0px 102%;
    }
    .vol-down {
        transform: rotate(-45deg);
        margin: 10% -18%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .ch-down {
        transform: rotate(-45deg);
        margin: 50% 109%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
        position: absolute;
    }
    .vol-up {
        transform: rotate(-45deg);
        margin: 46% -33%;
        position: absolute;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .ch-up {
        transform: rotate(-45deg);
        position: absolute;
        margin: -25% 39%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .remote-layout-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        .display-flex {
            flex: 1;
            justify-content: center;
            align-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            align-content: stretch;
        }
    }
}
