<ion-header>
    <ion-navbar>
        <ion-title>Remote</ion-title>
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content no-padding (swipe)="dismissSwipe($event)">
    <div class="remote-layout-wrap">
        <div class="display-content display-flex">
            <ion-row class="mb-15">
                <ion-col col-4 text-right>
                    <button ion-button round class="btn-return bg-danger" (click)="triggerIr('POWER')">
                <ion-icon name="power"></ion-icon>
            </button>
                </ion-col>

                <ion-col col-4 text-center>
                    <button ion-button round class="btn-return" (click)="triggerIr('VOLUME MUTE')">
                <!-- <ion-icon name="volume-off"></ion-icon> -->
                <i class="flaticon-mute"></i>
              <!--   <img src="assets/img/mute.png" class="mute"> -->
            </button>
                </ion-col>
                <ion-col col-4 text-left>
                    <button ion-button round class="btn-return bg-danger" [disabled]="!TVData[0]" (click)="triggerTV('POWER')">
               <ion-icon name="power"></ion-icon>&nbsp; TV
            </button>
                </ion-col>
            </ion-row>
            <ion-row class="btn-round mb-15" no-margin no-padding>
                <button ion-button class="remote-rouned-btn btn-top" [disabled]="!remote_keys['UP']" (click)="triggerIr('UP')"> 
            <i class="flaticon-arrows-up mt-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw">  -->
        </button>
                <button ion-button class="remote-rouned-btn btn-right" [disabled]="!remote_keys['RIGHT']" (click)="triggerIr('RIGHT')"> 
            <i class="flaticon-arrows-left mr-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
         </button>
                <button ion-button class="remote-rouned-btn btn-left" [disabled]="!remote_keys['LEFT']" (click)="triggerIr('LEFT')"> 
          <i class="flaticon-arrows-right ml-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
        </button>
                <button ion-button class="remote-rouned-btn btn-bottom" [disabled]="!remote_keys['DOWN']" (click)="triggerIr('DOWN')"> 
          <i class="flaticon-arrows-down mb-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
        </button>
                <button ion-button class="remote-center-btn" [disabled]="!remote_keys['BACK']" (click)="triggerIr('BACK')">
        	<img src="assets/img/return.png">
        </button>
                <!-- <button ion-button class="" clear> -->
                <img src="assets/img/vol-down.png" class="bottom-left" (touchstart)="volumeLongPress('start','VOLUME DOWN')" (touchend)="volumeLongPress('end')">
                <!-- <span class="vol-down"  (click)="triggerIr('VOLUME DOWN')">VOL -</span> -->
                <img src="assets/img/ch-down.png" class="bottom-right" (click)="triggerIr('CHANNEL DOWN')">
                <!--  <span class="ch-down" (click)="triggerIr('CHANNEL DOWN')">CH -</span> -->
                <img src="assets/img/vol-up.png" class="top-right" (touchstart)="volumeLongPress('start','VOLUME UP')" (touchend)="volumeLongPress('end')">

                <!--  <span class="vol-up" (click)="triggerIr('VOLUME UP')">VOL +</span> -->
                <img src="assets/img/ch-up.png" class="top-left" (click)="triggerIr('CHANNEL UP')">
                <!--  <span class="ch-up" (click)="triggerIr('VOLUME UP')">CH +</span>  -->
                <!--  </button> -->
            </ion-row>
            <ion-row class="mb-5">
                <ion-col text-center padding-left padding-right class="keypad">
                    <button ion-button round class="btn-return1" (click)="goToNumPad()">
                <i class="flaticon-pad-numbers"></i>
                <!-- <ion-icon name="keypad"></ion-icon> -->
            </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col width-33 text-right>
                    <button ion-button round class="btn-return" (click)="dismiss('fav')">
                <ion-icon name="heart" class="fav-icon"></ion-icon>
            </button>
                </ion-col>
                <ion-col width-33 text-center>
                    <button ion-button round class="btn-return" (click)="goToChannelList()">            
                <ion-icon name="book"></ion-icon>
            </button>
                </ion-col>
                <ion-col width-33 text-left>
                    <button ion-button round class="btn-return" (click)="openTV()">
                TV
            </button>
                </ion-col>
            </ion-row>
            <h4 *ngIf="paired_tv[0]?.name" text-center>Current Paired TV is
                <span class="txt-orange box-border" (click)="changeTV()">{{paired_tv[0]?.name}}</span>
            </h4>
        </div>
    </div>
</ion-content>