<ion-header>

  <ion-navbar>
    <ion-title>Select Device</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row>
    <ion-col no-padding col-6 ion-item class="remote-grid" (click)="goToCreateDevice('4_node_switch')">
      <ion-col text-center>
        <div class="container">
          <div class="btn-round txt-white lh-10rem">
            <img class="remo-img maxw-35"  src="assets/img/remote-control-normal.png"/>
          </div>
        </div>

      </ion-col>
      <ion-col col text-center no-padding no-margin>
        <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5">Kiot Switch</div>
      </ion-col>
      <ion-col text-center no-margin no-padding>
        <p class="font-1-5rem txt-gold">KS001</p>
      </ion-col>
    </ion-col>


    <ion-col no-padding col-6 ion-item class="remote-grid" (click)="goToCreateDevice('kiot_red')">
      <ion-col text-center>
        <div class="container">
          <div class="btn-round txt-white lh-10rem">
            <img class="remo-img maxw-35"  src="assets/img/remote-control-normal.png"/>
          </div>
        </div>

      </ion-col>
      <ion-col col text-center no-padding no-margin>
        <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5">Kiot Red</div>
      </ion-col>
      <ion-col text-center no-margin no-padding>
        <p class="font-1-5rem txt-gold">KR001</p>
      </ion-col>
    </ion-col>


    <ion-col no-padding col-6 ion-item class="remote-grid" (click)="goToCreateDevice('1_node_switch')">
      <ion-col text-center>
        <div class="container">
          <div class="btn-round txt-white lh-10rem">
            <img class="remo-img maxw-35"  src="assets/img/remote-control-normal.png"/>
          </div>
        </div>

      </ion-col>
      <ion-col col text-center no-padding no-margin>
        <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5">Kiot One</div>
      </ion-col>
      <ion-col text-center no-margin no-padding>
        <p class="font-1-5rem txt-gold">KO001</p>
      </ion-col>
    </ion-col>
  </ion-row>

</ion-content>