<ion-header>
  <ion-navbar>
    <ion-title>All Schedules </ion-title>
    <!-- <ion-buttons end class="txt-gold"> 
    <button clear ion-button>
       <ion-icon item-right name="close" class="txt-white"></ion-icon>
     </button> 
   </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content no-padding>

  <ion-item-group class="mb-15vw">
  <ion-grid no-padding>
    <ion-row class="time bg-1c bdr-btom" *ngFor="let i of schedules;let ind=index" (click)="goToScheduleDetails(ind)">
      <ion-col col-10>
        <ion-row padding-left>
          <h1 class="font-4-8rem txt-white">
            {{i.hrs}}:{{i.mins<10?i.mins==0?'00':'0'+i.mins:i.mins}}<span class="font-2"> {{i.am_pm}}
            </span>
          </h1>
        </ion-row>
        <ion-row padding-left>
          <span class="txt-normal turn-on font-1-5rem">
            <span class="txt-gold ">{{appliance_name}}:</span> Turn {{i.args.switch_state | toggleValue}}
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-2 align-self-center text-center align-items-center>
       <ion-toggle [(ngModel)]="i.isActive" (ngModelChange)="triggerActive($event,i)"></ion-toggle>
      </ion-col>
      <!-- <ion-col col-2 align-self-center text-center align-items-center>
        <ion-icon item-right name="ios-arrow-forward"></ion-icon>
      </ion-col> -->
    </ion-row>
  </ion-grid>
  </ion-item-group>


  <ion-fab right bottom>
    <button ion-fab color="light" (click)="goToCreateSchedule()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>