page-all-accounts {
    .acc-icon {
        height: 3.1vw;
        margin-right: 2vw;
    }
    .itm{
    	min-height: 5rem !important;
    }
    .item ion-avatar,
    .item ion-avatar ion-img,
    .item ion-avatar img {
        width: 30px !important;
        height: 30px !important;
    }
}
