<ion-header>
    <ion-navbar>
        <ion-title>Accounts</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-item-group>
        <button ion-item class="itm" (click)="goToGoole()">
            <ion-avatar item-start>
                <img class="acc-icon" src="assets/img/google_logo.png">
            </ion-avatar>
            <h4 class="font-1-8rem">Google</h4>
            <ion-icon item-right md="ios-arrow-forward"></ion-icon>
        </button>
        <button ion-item class="itm" (click)="goToAlexa()">
            <ion-avatar item-start>
                <img class="acc-icon" src="assets/img/alexa_logo.png">
            </ion-avatar>
            <h4 class="font-1-8rem">Amazon Alexa</h4>
            <ion-icon item-right md="ios-arrow-forward"></ion-icon>
        </button>
        <ion-item class="itm" (click)="goToIFTTT()">
            <ion-avatar item-start>
                <img class="acc-icon" src="assets/img/ifttt_logo.png">
            </ion-avatar>
            <h4 class="font-1-8rem">IFTTT</h4>
            <h6 class="align-right txt-gold font-1-2rem"  item-end>Coming Soon!</h6>
        </ion-item>
    </ion-item-group>
</ion-content>
