    /*
    Flaticon icon font: Flaticon
    Creation date: 02/05/2017 09:00
    */

@font-face {
    font-family: "Flaticon";
    src: url("../assets/fonts/Flaticon.eot");
    src: url("../assets/fonts/Flaticon.eot?#iefix") format("embedded-opentype"), 
    url("../assets/fonts/Flaticon.woff") format("woff"),
    url("../assets/fonts/Flaticon.ttf") format("truetype"), 
    url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: "Flaticon";
        src: url("../assets/fonts/Flaticon.svg#Flaticon") format("svg");
    }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-cogwheel:before { content: unicode("f100"); }
.flaticon-music:before { content: unicode("f101"); }
.flaticon-no-phone-1:before { content: unicode("f102"); }
.flaticon-no-phone:before { content: unicode("f103"); }
.flaticon-cross-1:before { content: unicode("f104"); }
.flaticon-cross:before { content: unicode("f105"); }
.flaticon-thermometer-2:before { content: unicode("f106"); }
.flaticon-wood:before { content: unicode("f107"); }
.flaticon-technology-4:before { content: unicode("f108"); }
.flaticon-insecticide:before { content: unicode("f109"); }
.flaticon-vacuum-cleaner:before { content: unicode("f10a"); }
.flaticon-sound-system-with-big-speakers:before { content: unicode("f10b"); }
.flaticon-kettle:before { content: unicode("f10c"); }
.flaticon-mixer:before { content: unicode("f10d"); }
.flaticon-rice-cooker-1:before { content: unicode("f10e"); }
.flaticon-rice-cooker:before { content: unicode("f10f"); }
.flaticon-coffee-maker:before { content: unicode("f110"); }
.flaticon-water-heater-1:before { content: unicode("f111"); }
.flaticon-multimedia-1:before { content: unicode("f112"); }
.flaticon-satellite-tv:before { content: unicode("f113"); }
.flaticon-mute-option:before { content: unicode("f114"); }
.flaticon-old-mobile-phone:before { content: unicode("f115"); }
.flaticon-sound-system:before { content: unicode("f116"); }
.flaticon-hair-dryer:before { content: unicode("f117"); }
.flaticon-two-gear-teeth:before { content: unicode("f118"); }
.flaticon-projector-with-big-len:before { content: unicode("f119"); }
.flaticon-music-recorder:before { content: unicode("f11a"); }
.flaticon-refrigerator-1:before { content: unicode("f11b"); }
.flaticon-technology-3:before { content: unicode("f11c"); }
.flaticon-clock:before { content: unicode("f11d"); }
.flaticon-play-button-1:before { content: unicode("f11e"); }
.flaticon-sun-1:before { content: unicode("f11f"); }
.flaticon-technology-2:before { content: unicode("f120"); }
.flaticon-smartphone:before { content: unicode("f121"); }
.flaticon-television-2:before { content: unicode("f122"); }
.flaticon-technology-1:before { content: unicode("f123"); }
.flaticon-air-conditioner-1:before { content: unicode("f124"); }
.flaticon-pad-numbers:before { content: unicode("f125"); }
.flaticon-ceiling-lamp:before { content: unicode("f126"); }
.flaticon-number-blocks:before { content: unicode("f127"); }
.flaticon-cd-player:before { content: unicode("f128"); }
.flaticon-technology:before { content: unicode("f129"); }
.flaticon-laundry-machine:before { content: unicode("f12a"); }
.flaticon-desktop-computer:before { content: unicode("f12b"); }
.flaticon-signs:before { content: unicode("f12c"); }
.flaticon-numeric-keypad:before { content: unicode("f12d"); }
.flaticon-electrical-kettle-tool-side-view:before { content: unicode("f12e"); }
.flaticon-stove-top-view:before { content: unicode("f12f"); }
.flaticon-power-cord:before { content: unicode("f130"); }
.flaticon-led-light-bulb:before { content: unicode("f131"); }
.flaticon-arrows-3:before { content: unicode("f132"); }
.flaticon-arrows-2:before { content: unicode("f133"); }
.flaticon-arrows-1:before { content: unicode("f134"); }
.flaticon-arrows:before { content: unicode("f135"); }
.flaticon-ecological-generator-tool-of-rotatory-fan:before { content: unicode("f136"); }
.flaticon-minutes:before { content: unicode("f137"); }
.flaticon-volume:before { content: unicode("f138"); }
.flaticon-next:before { content: unicode("f139"); }
.flaticon-iron:before { content: unicode("f13a"); }
.flaticon-radiator:before { content: unicode("f13b"); }
.flaticon-engine:before { content: unicode("f13c"); }
.flaticon-blender:before { content: unicode("f13d"); }
.flaticon-coffee-machine:before { content: unicode("f13e"); }
.flaticon-multimedia:before { content: unicode("f13f"); }
.flaticon-monitor:before { content: unicode("f140"); }
.flaticon-thermometer-1:before { content: unicode("f141"); }
.flaticon-stopwatch-1:before { content: unicode("f142"); }
.flaticon-air-conditioner:before { content: unicode("f143"); }
.flaticon-remote-control-1:before { content: unicode("f144"); }
.flaticon-back:before { content: unicode("f145"); }
.flaticon-play-button:before { content: unicode("f146"); }
.flaticon-stop:before { content: unicode("f147"); }
.flaticon-pause:before { content: unicode("f148"); }
.flaticon-fast-forward:before { content: unicode("f149"); }
.flaticon-rewind:before { content: unicode("f14a"); }
.flaticon-socket-1:before { content: unicode("f14b"); }
.flaticon-socket:before { content: unicode("f14c"); }
.flaticon-water-heater:before { content: unicode("f14d"); }
.flaticon-fridge-1:before { content: unicode("f14e"); }
.flaticon-sun:before { content: unicode("f150"); }
.flaticon-speaker:before { content: unicode("f151"); }
.flaticon-previous:before { content: unicode("f152"); }
.flaticon-printer:before { content: unicode("f153"); }
.flaticon-television:before { content: unicode("f154"); }
.flaticon-cooler:before { content: unicode("f155"); }
.flaticon-stopwatch:before { content: unicode("f156"); }
.flaticon-apple-tv-1:before { content: unicode("f157"); }
.flaticon-fridge:before { content: unicode("f158"); }
.flaticon-muted:before { content: unicode("f159"); }
.flaticon-apple-tv:before { content: unicode("f15a"); }
.flaticon-router:before { content: unicode("f15b"); }
.flaticon-thermometer:before { content: unicode("f15c"); }
.flaticon-temperature:before { content: unicode("f15d"); }
.flaticon-toaster:before { content: unicode("f15e"); }
.flaticon-microwave-oven:before { content: unicode("f15f"); }
.flaticon-remote-control:before { content: unicode("f160"); }
.flaticon-plug:before { content: unicode("f161"); }
.flaticon-television-1:before { content: unicode("f162"); }
    
    $font-Flaticon-cogwheel: unicode("f100");
    $font-Flaticon-music: unicode("f101");
    $font-Flaticon-no-phone-1: unicode("f102");
    $font-Flaticon-no-phone: unicode("f103");
    $font-Flaticon-cross-1: unicode("f104");
    $font-Flaticon-cross: unicode("f105");
    $font-Flaticon-thermometer-2: unicode("f106");
    $font-Flaticon-wood: unicode("f107");
    $font-Flaticon-technology-4: unicode("f108");
    $font-Flaticon-insecticide: unicode("f109");
    $font-Flaticon-vacuum-cleaner: unicode("f10a");
    $font-Flaticon-sound-system-with-big-speakers: unicode("f10b");
    $font-Flaticon-kettle: unicode("f10c");
    $font-Flaticon-mixer: unicode("f10d");
    $font-Flaticon-rice-cooker-1: unicode("f10e");
    $font-Flaticon-rice-cooker: unicode("f10f");
    $font-Flaticon-coffee-maker: unicode("f110");
    $font-Flaticon-water-heater-1: unicode("f111");
    $font-Flaticon-multimedia-1: unicode("f112");
    $font-Flaticon-satellite-tv: unicode("f113");
    $font-Flaticon-mute-option: unicode("f114");
    $font-Flaticon-old-mobile-phone: unicode("f115");
    $font-Flaticon-sound-system: unicode("f116");
    $font-Flaticon-hair-dryer: unicode("f117");
    $font-Flaticon-two-gear-teeth: unicode("f118");
    $font-Flaticon-projector-with-big-len: unicode("f119");
    $font-Flaticon-music-recorder: unicode("f11a");
    $font-Flaticon-refrigerator-1: unicode("f11b");
    $font-Flaticon-technology-3: unicode("f11c");
    $font-Flaticon-clock: unicode("f11d");
    $font-Flaticon-play-button-1: unicode("f11e");
    $font-Flaticon-sun-1: unicode("f11f");
    $font-Flaticon-technology-2: unicode("f120");
    $font-Flaticon-smartphone: unicode("f121");
    $font-Flaticon-television-2: unicode("f122");
    $font-Flaticon-technology-1: unicode("f123");
    $font-Flaticon-air-conditioner-1: unicode("f124");
    $font-Flaticon-pad-numbers: unicode("f125");
    $font-Flaticon-ceiling-lamp: unicode("f126");
    $font-Flaticon-number-blocks: unicode("f127");
    $font-Flaticon-cd-player: unicode("f128");
    $font-Flaticon-technology: unicode("f129");
    $font-Flaticon-laundry-machine: unicode("f12a");
    $font-Flaticon-desktop-computer: unicode("f12b");
    $font-Flaticon-signs: unicode("f12c");
    $font-Flaticon-numeric-keypad: unicode("f12d");
    $font-Flaticon-electrical-kettle-tool-side-view: unicode("f12e");
    $font-Flaticon-stove-top-view: unicode("f12f");
    $font-Flaticon-power-cord: unicode("f130");
    $font-Flaticon-led-light-bulb: unicode("f131");
    $font-Flaticon-arrows-3: unicode("f132");
    $font-Flaticon-arrows-2: unicode("f133");
    $font-Flaticon-arrows-1: unicode("f134");
    $font-Flaticon-arrows: unicode("f135");
    $font-Flaticon-ecological-generator-tool-of-rotatory-fan: unicode("f136");
    $font-Flaticon-minutes: unicode("f137");
    $font-Flaticon-volume: unicode("f138");
    $font-Flaticon-next: unicode("f139");
    $font-Flaticon-iron: unicode("f13a");
    $font-Flaticon-radiator: unicode("f13b");
    $font-Flaticon-engine: unicode("f13c");
    $font-Flaticon-blender: unicode("f13d");
    $font-Flaticon-coffee-machine: unicode("f13e");
    $font-Flaticon-multimedia: unicode("f13f");
    $font-Flaticon-monitor: unicode("f140");
    $font-Flaticon-thermometer-1: unicode("f141");
    $font-Flaticon-stopwatch-1: unicode("f142");
    $font-Flaticon-air-conditioner: unicode("f143");
    $font-Flaticon-remote-control-1: unicode("f144");
    $font-Flaticon-back: unicode("f145");
    $font-Flaticon-play-button: unicode("f146");
    $font-Flaticon-stop: unicode("f147");
    $font-Flaticon-pause: unicode("f148");
    $font-Flaticon-fast-forward: unicode("f149");
    $font-Flaticon-rewind: unicode("f14a");
    $font-Flaticon-socket-1: unicode("f14b");
    $font-Flaticon-socket: unicode("f14c");
    $font-Flaticon-water-heater: unicode("f14d");
    $font-Flaticon-fridge-1: unicode("f14e");
    $font-Flaticon-sun: unicode("f150");
    $font-Flaticon-speaker: unicode("f151");
    $font-Flaticon-previous: unicode("f152");
    $font-Flaticon-printer: unicode("f153");
    $font-Flaticon-television: unicode("f154");
    $font-Flaticon-cooler: unicode("f155");
    $font-Flaticon-stopwatch: unicode("f156");
    $font-Flaticon-apple-tv-1: unicode("f157");
    $font-Flaticon-fridge: unicode("f158");
    $font-Flaticon-muted: unicode("f159");
    $font-Flaticon-apple-tv: unicode("f15a");
    $font-Flaticon-router: unicode("f15b");
    $font-Flaticon-thermometer: unicode("f15c");
    $font-Flaticon-temperature: unicode("f15d");
    $font-Flaticon-toaster: unicode("f15e");
    $font-Flaticon-microwave-oven: unicode("f15f");
    $font-Flaticon-remote-control: unicode("f160");
    $font-Flaticon-plug: unicode("f161");
    $font-Flaticon-television-1: unicode("f162");