<ion-content>
  <div class="slider-ht">
    <ion-slides pager #slides (ionSlideDidChange)="slideChanged()">
      <ion-slide>
        <h1>Welcome, aboard!</h1>
        <h4>New to Kiot? Add a new Home!</h4><br>
        <img src="assets/img/add-home.svg" class="slide-image w-60vw" />
      </ion-slide>
      <ion-slide>
        <h1>Home already created?</h1>
        <h4>Request prime user to join the home and get access</h4><br>
        <img src="assets/img/join-home.svg" class="slide-image w-60vw" />
      </ion-slide>
    </ion-slides>
  </div>

  <ion-row class="">
    <ion-col class="br-none bdr-right-2px h-6rem txt-normal" col col-6 ion-button (click)="createHome()">
      <div ngClass="{{current_slide==0?'font-2 txt-gold':'font-1-6rem'}}" class="animate-size">New Home</div>
    </ion-col>
    <ion-col class="br-none bdr-left-2px h-6rem txt-normal" col col-6 ion-button (click)="joinHome()">
      <div ngClass="{{current_slide==1?'font-2 txt-gold':'font-1-6rem'}}" class="animate-size">Join Home</div>
    </ion-col>
  </ion-row>
  <br>
  <p text-center class="txt-normal font-1-5rem" (click)="logout()">
    <u class="txt-orange">Logout</u>
  </p>
  <p text-center class="txt-normal font-1-5rem" (click)="checkForHomes()">Already sent Join Request?
    <u class="txt-orange">Recheck approval</u>
  </p>
</ion-content>