<ion-header> 
	<ion-navbar>         
		<ion-title>Enter email for recovery</ion-title> 
	</ion-navbar>  
</ion-header> 
<ion-content no-padding> 
	<ion-item-group>
		<ion-item-divider class="itm-divider"></ion-item-divider>
			<ion-item class="itm">
				<ion-label>Email</ion-label>
				<ion-input type="text" [(ngModel)]="email" item-right class="txt-normal" text-right></ion-input>
			</ion-item>	
					   			
	</ion-item-group>


	<br>
	<button ion-button full class="btn txt-gold" text-center (click)="goToOTP()">
		Submit
		<ion-spinner *ngIf="wait" name="dots"></ion-spinner>
	</button>
	
</ion-content>     
