<ion-header> 
  <ion-navbar>        
  <ion-title>Add Wifi Router </ion-title> 
          <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons>
  </ion-navbar>  
</ion-header> 
<ion-content no-padding> 
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-silver">Add Wifi Router Details</span></ion-item-divider>
      <ion-item class="itm">
        <ion-label>SSID</ion-label>
        <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="ssid" (ngModelChange)="onChangeSSID()"></ion-input>
      </ion-item> 
  
  </ion-item-group>
  <p>&nbsp;</p> 
  <button ion-button full class="txt-orange" [disabled]="disCreate" (click)="createWifiRouter()" >Add Wifi Router </button>
</ion-content>     
