<ion-header>
    <ion-navbar>
        <ion-title>Create Room</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Create a new room</span>
    </ion-item-divider>
    <ion-item class="itm">
        <ion-label>Select Home</ion-label>
        <ion-select  [(ngModel)]="home_id">
          <ion-option *ngFor="let i of items" [selected]="i.selected" [value]="i._id">{{ i.display_name }}</ion-option>      
        </ion-select>
      </ion-item >  
      <ion-item class="itm">
        <ion-label>Room Name</ion-label>
        <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="registerRoomCredentials.roomName" ></ion-input>
      </ion-item> 
      <ion-item class="itm">
        <ion-label>Room Type</ion-label>
        <ion-select [(ngModel)]="registerRoomCredentials.roomType" >
          <ion-option>Kitchen</ion-option>
          <ion-option>Bathroom</ion-option>
          <ion-option>Bedroom</ion-option>
          <ion-option>Living Room</ion-option>
          <ion-option>other</ion-option>
        </ion-select>
      </ion-item>    
  </ion-item-group>
<br>
  <button ion-button full class="txt-orange" [disabled]="!registerRoomCredentials.roomType || !registerRoomCredentials.roomName || !home_id" (click)="registerRoom()">Create Room </button>
</ion-content>
