<ion-header>
  <ion-navbar>
    <ion-title>Settings</ion-title>
    <ion-buttons end class="txt-gold">
      <button (click)="goToNotifications();" class="noti-fab-btn txt-gold" *ngIf="kiot_internet=='online'">
              <span *ngIf="num_of_notifications" class="noti-num">{{num_of_notifications}}</span>
              <ion-icon *ngIf="num_of_notifications" name="ios-notifications-outline" class="txt-orange font-3rem"></ion-icon>
              <ion-icon *ngIf="!num_of_notifications" name="ios-notifications-outline" class="txt-normal font-3rem"></ion-icon>
              <!-- <img *ngIf="num_of_notifications" src="assets/img/notification.png">
              <img *ngIf="!num_of_notifications" src="assets/img/notification (1).png"> -->
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div *ngIf="kiot_internet=='offline'" text-center style="margin-top: 25vw;">
    <img src='assets/img/offline1.png' />
    <button full ion-button (click)="retry()" class="txt-gold" [disabled]="retry_loading">
      RETRY
       <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
      </button>
    <p class='txt-gold center-text'>But Still you can switch on/off the appliances and operate remotes!</p>
  </div>
  <div *ngIf="kiot_internet=='online'">
    <ion-item-group>
      <ion-item-divider class="itm-divider-btom"><span class="txt-gold">Profile Settings</span></ion-item-divider>
      <button ion-item class="itm" (click)="goToDisplayProfile()">Profile<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goToNotificationsSettings()">Notifications<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="itm-divider-btom"><span class="txt-gold">Homes and Switches Configuration</span></ion-item-divider>
      <button ion-item class="itm" (click)="goTomyHomes()">Homes<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goTomyHomesForRooms()">Rooms<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goTomyHomesForSboards()">Devices<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goTomyHomesForSwitches()">Switches<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goToHomeListForIR()">Remotes<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider class="itm-divider-btom"><span class="txt-gold">Other Settings</span></ion-item-divider>
      <button ion-item class="itm" (click)="goToAccounts()">Accounts<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goToHelp()">Help<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goToSupport()">Support<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="goToAbout()">About<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
      <button ion-item class="itm" (click)="logout()">Logout</button>
    </ion-item-group>
  </div>

</ion-content>