<ion-header>

  <ion-navbar>
    <ion-title>Create Timer</ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Cancel
            </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Create a Timer to Power On or Off</span>
    </ion-item-divider>

    <ion-item class="itm">
      <ion-label>Action</ion-label>
       <span item-right class="txt-normal" [class]="timer_toggle | toggleValue">{{timer_toggle | toggleValue}}</span>
      <ion-toggle [(ngModel)]="timer_toggle"></ion-toggle>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Timer</ion-label>
      <ion-datetime displayFormat="HH:mm" [(ngModel)]="timer_time"></ion-datetime>
      <span class="txt-normal hrs"  item-right> Hrs</span>
    </ion-item>
    <ion-item class="itm" *ngIf="timer_toggle">
      <ion-label>Mode</ion-label>
      <ion-select [(ngModel)]="mode_set" placeholder="Select" >
        <ion-option *ngFor="let i of modes"  [value] = 'i' >{{i}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <br>
  <button ion-button full class="txt-orange" [disabled]="time_toggle&&!mode_set" (click)="createTimer()">Start Timer</button>
</ion-content>
