page-create-timer {
.datetime-md {
    padding: 2px 10px 2px 10px !important;
}
.datetime-ios {
    padding: 2px 10px 2px 10px !important;
}
ion-datetime {
    color: $orange !important;
    border: solid 1px $orange;
}
.hrs{
    padding-left:1px;
}
}
