<ion-header>
    <ion-navbar>
        <ion-title class="ellipses">{{ir_appliance_name}}</ion-title>
        <ion-buttons icon-only end *ngIf="kiot_internet=='online'">
            <button ion-button *ngIf="current!='Favourites'" outline style="border:none" (click)="settings($event)" no-padding no-margin
                class="w-8vw">
                <ion-icon ios="ios-funnel-outline" md="ios-funnel-outline" class="filter-icon" class="top-icons"></ion-icon>
            </button>
            <button ion-button outline style="border:none" (click)="goToSearch()" no-padding no-margin class="w-8vw">
                <ion-icon ios="ios-search-outline" md="ios-search-outline" class="search-icon" class="top-icons"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top>
        <ion-segment [(ngModel)]="current">
            <ion-segment-button value="now" (ionSelect)="tabOneFunction()">
                NOW
            </ion-segment-button>
            <ion-segment-button (ionSelect)="tabTwoFunction()" value="later">
                LATER
            </ion-segment-button>
            <ion-segment-button (ionSelect)="tabThreeFunction(0)" value="guide">
                GUIDE
            </ion-segment-button>
            <ion-segment-button (ionSelect)="tabFourFunction()" value="Favourites">
                FAVOURITES
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
    <div ngClass="{{fab_opn?'vsbl-0-7':'n-vsbl'}}" (click)="closeFab()" class="bg-dull"></div>
</ion-header>
<ion-content no-padding>
    <!--[ngClass]="blurred[0]"-->
    <!--ion-refresher refreshingSpinner="none" pullMin="130" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher-->
    <div class="titlePraveen" *ngIf="kiot_internet=='online'">
        <!--[ngSwitch]="current"-->
        <div ngClass="{{show_tab1?'show_tab':'hide_tab'}}" class="swiftDisplay">
            <div *ngFor="let i of rowData;let ind=index">
                <div *ngIf="!colData[i.key]&&ind==1">
                    <!--img src="{{'assets/img/'+loaderGif}}" /-->
                    <ion-spinner class="loading" name="dots"></ion-spinner>
                </div>

                <!-- <p class="font-1-5rem txt-white m-btom-2px" padding-left strong *ngIf="colData[i.key]"> {{i.value}} </p> -->
                <div class="font-1-5rem txt-white epg-title" ngClass="{{i.key.split('_')[0]=='Movie'||i.key.split('_')[0]=='TV-Series'?'':'epg-title-small'}}"
                    strong *ngIf="colData[i.key]"> {{i.value}} </div>


                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" direction="x" class="ml-5px" zoom="false" *ngIf="colData[i.key]"
                    class="program-horizontal-scroll" ngClass="{{i.key.split('_')[0]=='Movie'||i.key.split('_')[0]=='TV-Series'?'':'small'}}">
                    <div *ngFor="let j of colData[i.key]" class="showDiplayBlock">
                        <ion-card *ngIf="show" class="btn1" (click)="setActive(j._id+'_'+i.key)" [ngClass]="{active: j._id+'_'+i.key|findActive:currentActive}">
                            <button ion-button text-center class="bdr-btom-none info program_flip_button">
                                <img [src]="j.program | programPosterPipe" class="wh-100 img1" />
                                <div class="img2">
                                    <p no-margin (click)="switchToChannel(j.channelid,j)"><img src="{{i.key.split('_')[0]=='Movie'||i.key.split('_')[0]=='TV-Series'?'assets/img/morelarge.jpg':'assets/img/moresmall.jpg'}}" class="wh-100"></p>
                                    <p no-margin (click)="goToDetails(j,j.duration)">
                                        <img src="assets/img/more1.jpg" class="wh-100"></p>
                                </div>  
                            </button>
                            <p class="txt-hide progressbar">
                                <svg [attr.width]="j.duration" height="3" style="display: block;position: relative;">
                                    <rect width="100%" height="100%" class="fill-green"> </rect>
                                </svg>
                            </p>
                            <div class="txt-hide1">
                                <p text-center class="card-title txt-white font-1-3rem ellipses">{{j.program.mainprogramname||j.program.name}}</p>
                                <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{j.channel_name}}</p>
                                <ion-spinner class="loading-tile" *ngIf="j.show_loader" name="dots"></ion-spinner>
                            </div>
                            <p no-margin (click)="goToDetails(j,j.duration)" class="img3">
                                <img src="assets/img/more1.jpg" class="w-100">
                            </p>
                            <!-- <div class="small-more" *ngIf="{{active: j._id+'_'+i.key|findActive:currentActive}}">
                            <p text-center class="card-title txt-white font-1-3rem ellipses">{{j.program.mainprogramname||j.program.name}}</p>
                            <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{j.channel_name}}</p>
                            </div>
                             <div class="img3"  *ngIf="{{!active: j._id+'_'+i.key|findActive:currentActive}}" >
                              <p no-margin (click)="goToDetails(j,j.duration)">
                                        <img src="assets/img/msmall.jpg" class="wh-100">
                            </p>
                            </div> -->
                        </ion-card>
                        <ion-card *ngIf="!show">
                            <ion-item text-center class="bdr-btom-none more-info">
                                <ion-img src="assets/img/11.jpg"></ion-img>
                                <p>&nbsp;</p>
                                <p text-center class="card-title txt-white font-1-3rem ellipses">Read More</p>
                                <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">&nbsp;</p>
                                <br>
                            </ion-item>
                        </ion-card>
                    </div>
                    <div class="showDiplayBlock">
                        <ion-card class="btn1" *ngIf="colData[i.key].current_offset!=-1" (click)="goToViewAllNow(colData[i.key],i)">
                            <!-- (click)="LoadMore(i.key)"-->
                            <button ion-button text-center clear class="bdr-btom-none info program_flip_button">
                                        <img src="assets/img/ViewMore.jpg" class="wh-100 img1" />
                                    </button>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </ion-card>
                    </div>
                </ion-scroll>
            </div>
            <p>&nbsp;</p>
            <!--ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="90%">
                <ion-infinite-scroll-content> </ion-infinite-scroll-content>
            </ion-infinite-scroll-->
        </div>
        <!--SECOND TAB___________________________________________________________________________________________________-->
        <!--div *ngSwitchCase="'later'"-->
        <div ngClass="{{show_tab2?'':'hide_tab'}}" class="swiftDisplay">
            <!-- <p class="font-1-5rem txt-gold  m-btom-2px" padding-left strong *ngIf="reminders[0]"> Reminders </p> -->

            <div class="font-1-5rem txt-white epg-title" strong *ngIf="reminders[0]"> Reminders </div>
            <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" direction="x" zoom="false" class="ml-5px" class="program-horizontal-scroll"
                *ngIf="reminders[0]">
                <div *ngFor="let i of reminders;let ind=index" class="showDiplayBlock">
                    <ion-card *ngIf="show" class="btn1" (click)="setActive(i.upid._id+'rem')" [ngClass]="{active: i.upid._id+'rem'|findActive:currentActive}">
                        <button ion-button text-center class="bdr-btom-none info program_flip_button">
                                <img [src]="i.upid.program | programPosterPipe" class="wh-100 img1" />
                                <div class="img2">
                                    <p no-margin (click)="unsetReminder(ind,i.upid.programid)"><img src="assets/img/ignorelarge.jpg" class="wh-100"></p>
                                    <p no-margin (click)="goToDetails(i.upid)">
                                        <img src="assets/img/more1.jpg" class="wh-100"></p>
                                </div>
                            </button>

                        <p text-center class="card-title txt-white font-1-3rem ellipses">{{i.upid.program.mainprogramname||i.upid.program.name}}</p>
                        <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{i.upid.channel_name}}</p>
                        <ion-spinner class="loading-tile" *ngIf="i.show_loader" name="dots"></ion-spinner>
                    </ion-card>
                </div>
            </ion-scroll>
            <div *ngFor="let i of rowData2;let ind=index">
                <!--div *ngIf ="!colData2[i.key]&&ind==1">
                <img src="{{'assets/img/'+loaderGif}}" class="loading"/>
            </div-->

                <!-- <p class="font-1-5rem txt-white  m-btom-2px" padding-left strong *ngIf="colData2[i.key]"> {{i.value}} </p> -->
                <div class="font-1-5rem txt-white epg-title" ngClass="{{i.key.split('_')[0]=='Movie'||i.key.split('_')[0]=='TV-Series'?'':'epg-title-small'}}"
                    strong *ngIf="colData2[i.key]"> {{i.value}} </div>

                <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" direction="x" zoom="false" class="ml-5px" class="program-horizontal-scroll"
                    *ngIf="colData2[i.key]" ngClass="{{i.key=='Movie'||i.key=='TV-Series'?'':'small'}}">
                    <div *ngFor="let j of colData2[i.key]" class="showDiplayBlock">
                        <ion-card *ngIf="show" class="btn1" (click)="setActive(j._id)" [ngClass]="{active: j._id|findActive:currentActive}">
                            <button ion-button text-center class="bdr-btom-none info program_flip_button">
                                <img [src]="j.program | programPosterPipe" class="wh-100 img1" />
                                <div class="img2">
                                    <p no-margin (click)="setReminder(j)"><img src="assets/img/remind1.jpg" class="wh-100"></p>
                                   
                                    <p no-margin (click)="goToDetails(j)">
                                        <img src="assets/img/more1.jpg" class="wh-100"></p>
                                </div>
                            </button>
                            <div class="txt-hide1">
                                <p text-center class="card-title txt-white font-1-3rem ellipses">{{j.program.mainprogramname||j.program.name}}</p>
                                <p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{j.channel_name}}</p>
                                <ion-spinner class="loading-tile" *ngIf="j.show_loader" name="dots"></ion-spinner>
                            </div>

                            <p no-margin (click)="goToDetails(j,j.duration)" class="img3">
                                <img src="assets/img/more1.jpg" class="w-100">
                            </p>
                        </ion-card>
                    </div>
                    <div class="showDiplayBlock" *ngIf="colData2[i.key]?.length>10">
                        <ion-card class="btn1" (click)="goToViewAll(colData2[i.key],i)">
                            <button ion-button text-center clear class="bdr-btom-none info program_flip_button">
                                <img src="assets/img/ViewMore.jpg" class="wh-100 img1" />
                            </button>
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                        </ion-card>
                    </div>
                </ion-scroll>
            </div>
            <!--ion-infinite-scroll (ionInfinite)="doInfinite2($event)" *ngIf="current=='later'&&!noMoreRowsForLater" threshold="10%">
                <ion-infinite-scroll-content>
                </ion-infinite-scroll-content>
            </ion-infinite-scroll-->
        </div>
        <!-- TAB THREE - GUIDE______________________________________________________________________________________________-->
        <!--div *ngSwitchCase="'guide'"-->
        <div ngClass="{{show_tab3?'show_tab':'hide_tab'}}" class="swiftDisplay">
            <ion-toolbar no-border-top>
                <ion-searchbar [showCancelButton]="shouldShowCancel" debounce="700" (ionInput)="filterItems3($event)" placeholder="Search for a channel"
                    autocomplete="on">
                </ion-searchbar>
            </ion-toolbar>
            <!--ion-row class="bg-1c">
                <ion-col text-center (click)="filterLanguage()">
                    <button ion-button class="txt-silver" clear>
                        <ion-icon name="chatboxes" class="font-3rem"></ion-icon>
                    </button>
                    <p text-center class="txt-orange m-top-2 m-btom-4px font-1-2rem">Filter Language</p>
                </ion-col>
                <ion-col text-center (click)="filterType()" no-padding no-margin>
                    <button ion-button class="txt-silver h-1rem" clear no-padding no-margin>
                        <ion-icon name="list-box" class="font-2"></ion-icon>
                    </button>
                    <p text-center class="txt-orange m-top-2 m-btom-4px font-1-2rem">Filter Genre</p>
                </ion-col>
            </ion-row-->

            <div [hidden]="showSearchResults">
                <ion-spinner name="dots" class="loading" *ngIf="show_loading3"></ion-spinner>
                <ion-item *ngFor="let i of guideData">
                    <ion-thumbnail item-left (click)="goToChannelPrograms(i)">
                        <img src="{{i.thumbnail||'assets/img/loading.jpg'}}" class="img-thumb">
                    </ion-thumbnail>
                    <p>&nbsp;</p>
                    <div (click)="goToChannelPrograms(i)">
                        <h2 class="txt-gold ellipses">{{i.channelname}}</h2>
                        <p class="txt-silver ellipses">{{i.program.name}}</p>
                        <p class="txt-silver ellipses">{{i | channel_num:providerMap:channelMetaData[3].channels:'true'}}</p>
                    </div>
                    <img src="assets/img/watch_now.png" item-right class="watch_now" (click)="switchToChannel(i.channelid)" />
                    <ion-icon [name]="i.isFav" class="txt-silver font-2-5rem" item-right (click)="setFav(i)"></ion-icon> &nbsp; &nbsp;
                    <ion-icon md="ios-arrow-forward" class="txt-silver font-2-8rem" item-right></ion-icon>
                </ion-item>
                <!--ion-infinite-scroll (ionInfinite)="doInfiniteForTab3($event)" threshold="1%">
                    <ion-infinite-scroll-content>
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll-->

            </div>
            <ion-item-group [hidden]="!showSearchResults" class="swiftDisplay">
                <ion-item-divider class="itm-divider bg-none txt-normal font-w-600">Featured</ion-item-divider>
                <ion-item *ngFor="let i of guideData3">
                    <ion-thumbnail item-left (click)="goToChannelPrograms(i)">
                        <img [src]="i.thumbnail" class="img-thumb">
                    </ion-thumbnail>
                    <p>&nbsp;</p>
                    <div (click)="goToChannelPrograms(i)">
                        <h2 class="txt-gold ellipses">{{i.channelname}}</h2>
                        <p class="txt-silver ellipses">{{i.id | channel_num:providerMap:channelMetaData[3].channels}} | {{i.type}}</p>
                        <!--<p class="txt-silver ellipses">{{i.id | channel_num:providerMap:channelMetaData[3].channels}}</p>-->
                    </div>
                    <img src="assets/img/watch_now.png" item-right class="watch_now" (click)="switchToChannel(i.id)" />
                    <ion-icon [name]="i.isFav" class="txt-silver font-2-5rem" item-right (click)="setFav(i)"></ion-icon> &nbsp; &nbsp;
                    <ion-icon md="ios-arrow-forward" class="txt-silver font-2-8rem" item-right></ion-icon>
                </ion-item>
            </ion-item-group>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!-- TAB THREE ENDS HERE__________________________________________________________________________ -->



        <!--FOURTH TAB - FAVS______________________________________________________________________________________________-->
        <!--div *ngSwitchCase="'Favourites'"-->
        <div ngClass="{{show_tab4?'show_tab':'hide_tab'}}" class="swiftDisplay">
            <ion-toolbar no-border-top>
                <!--ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="filterItems4($event)" placeholder="Search for a channel" autocomplete="on">
        </ion-searchbar-->
                <ion-row class="h-50">
                    <ion-col col-4 no-margin text-center class="align-vc" (click)="toggleFav(false)">
                        <div class="font-1-6rem chnel" ngClass="{{fav_toggle?'':'highlight'}}">CHANNELS</div>
                    </ion-col>
                    <ion-col col-4 no-margin text-center class="align-vc align-hc">
                        <ion-toggle [(ngModel)]="fav_toggle"></ion-toggle>
                    </ion-col>
                    <ion-col col-4 no-margin text-center class="align-vc" (click)="toggleFav(true)">
                        <div class="font-1-6rem prog" ngClass="{{fav_toggle?'highlight':''}}">PROGRAMS</div>
                    </ion-col>
                </ion-row>
            </ion-toolbar>
            <ion-item-group ngClass="{{!fav_toggle?'show_tab':'hide_tab'}}">
                <ion-item-divider class="itm-divider bg-none txt-normal font-w-600">Favourite Channels</ion-item-divider>
                <div *ngFor="let i of favData;let ind =index">
                    <ion-item *ngIf="i">
                        <ion-thumbnail item-left (click)="goToChannelPrograms(i)">
                            <img src="{{i.thumbnail}}" class="img-thumb">
                        </ion-thumbnail>
                        <p>&nbsp;</p>
                        <div (click)="goToChannelPrograms(i)">
                            <h2 class="txt-gold ellipses">{{i.channel_name}}</h2>
                            <p class="txt-silver ellipses">{{i.channelid | channel_num:providerMap:channelMetaData[3].channels}}</p>
                        </div>
                        <img src="assets/img/watch_now.png" item-right class="watch_now" (click)="switchToChannel(i.channelid)" />
                        <ion-icon [name]="i.isFav" class="txt-silver font-2-5rem" item-right (click)="setFav(i,ind)"></ion-icon> &nbsp; &nbsp;
                        <ion-icon md="ios-arrow-forward" class="txt-silver font-2-8rem" item-right></ion-icon>
                    </ion-item>
                </div>
            </ion-item-group>
            <!--FAV Progs__________-->
            <ion-item-group ngClass="{{fav_toggle?'show_tab':'hide_tab'}}">
                <ion-item-divider class="itm-divider bg-none txt-normal font-w-600">Favourite Programs</ion-item-divider>
                <div *ngFor="let i of fav_prog_data;let ind=index">
                    <ion-item *ngIf="i">
                        <ion-thumbnail item-left (click)="goToDetails(i.doc,'NONE')">
                            <img src="{{i.doc.program | programPosterPipe}}" class="img-thumb2">
                        </ion-thumbnail>
                        <p>&nbsp;</p>
                        <div (click)="goToDetails(i.doc,'NONE')">
                            <h2 class="txt-gold ellipses">{{i.doc.program.mainprogramname||i.doc.program.name}}</h2>
                            <p class="txt-silver ellipses">{{i.doc.program.language}} | {{i.doc.program.type}}</p>
                            <p class="txt-silver ellipses">{{i.doc.program.genre}}</p>
                        </div>
                        <ion-icon name="heart" class="txt-silver font-2-5rem" item-right (click)="unsetFavProg(i,ind)"></ion-icon> &nbsp; &nbsp;
                        <ion-icon md="ios-arrow-forward" class="txt-silver font-2-8rem" item-right></ion-icon>
                    </ion-item>
                </div>
            </ion-item-group>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
        <!--FOURTH TAB ENDS _________________________________________________________________________________________________-->
    </div>
    <ion-infinite-scroll *ngIf="current!='Favourites'" (ionInfinite)="doInfinite($event)" threshold="40%">
        <ion-infinite-scroll-content loadingSpinner="dots"> </ion-infinite-scroll-content>
    </ion-infinite-scroll>
    <!-- switch case ends HERE -->
    <!--ion-fab right bottom #fab>
        <button ion-fab color="light">
            <ion-icon name="arrow-dropup"></ion-icon>
        </button>
        <ion-fab-list side="top">
            <button ion-fab (click)="goToRemote(fab)">
                <i class="flaticon-remote"></i>
           
            </button>
            <button ion-fab (click)="goToNumPad(fab)">
                <ion-icon name="keypad"></ion-icon>
            </button>
            <button ion-fab (click)="goToChannelList()">
                <ion-icon name="book"></ion-icon>
            </button>
        </ion-fab-list>
    </ion-fab-->

   
    <ion-fab bottom right #fab (click)="fabOpen($event)">
        <button ion-fab><ion-icon name="menu"></ion-icon></button>
        <ion-fab-list side="top">

            <div class="pos-rel fab-list-itm">
                <span class="fab-tooltip" (click)="goToRemote(fab)"> Remote</span>
                <button ion-fab color="primary" (click)="goToRemote(fab)">
                        <i class="flaticon-remote"></i>
            
          </button>

            </div>

            <div class="pos-rel fab-list-itm">
                <span class="fab-tooltip" (click)="goToNumPad(fab)"> Number Pad</span>
                <button ion-fab color="primary" (click)="goToNumPad(fab)">
                        <ion-icon name="keypad"></ion-icon>
                
              </button>

            </div>

            <div class="pos-rel fab-list-itm">
                <span class="fab-tooltip no-click-act" (click)="goToChannelList(fab)"> All Channels</span>
                <button ion-fab color="primary" (click)="goToChannelList(fab)">
                        <ion-icon name="book"></ion-icon>
                
              </button>

            </div>
        </ion-fab-list>
    </ion-fab>

    <!-- menu items -->
    <!--a (click)="hideMenuFab()" class="labelContainer" #container>
          <div class="container">
            <a (click)="action3()"><div #label class="label"> Do something 3</div></a>
            <a (click)="action2()"><div #label class="label">Do something 2</div></a>
            <a (click)="action1()"><div #label class="label" >Do something 1</div></a>
          </div>
      </a-->
</ion-content>