page-epg-main {
    ion-navbar.toolbar {
        border-bottom: 1px solid $item-bg-light !important
    }
    .toolbar-md {
        min-height: 1px !important;
    }
    .toolbar-background {
        border-bottom: none !important;
    }
    .toolbar .searchbar-ios .searchbar-input {
        background: #343434 !important;
        color: $white !important;
    }
    ion-content {
        overflow: inherit !important;
        text-overflow: inherit !important;
        white-space: nowrap !important;
    }
    .blur {
        filter: blur(2px);
    }
    .item {
        overflow: inherit;
        text-overflow: inherit;
        white-space: nowrap;
    }
    ion-scroll {
        white-space: nowrap;
        height: calc(45vw + 4rem + 18px);
        text-align: center;
        margin: 2px !important;
        margin-bottom: 2px;
        padding: 2px !important;
    }
    ion-img {
        display: inline-block;
        width: 120px;
        height: 180px;
        object-fit: cover;
        padding: 0px !important;
        // green background color
        background: $menubar-bg !important;
        contain: strict;
    }
    .hide_tab {
        // display:none;
        position: absolute;
        top: -10000px;
        left: -30000px;
    }
    .img-thumb {
        background: white;
        width: 78px !important;
        height: 60px !important;
    }
    .show_tab {
        display: block;
    }
    img {
        margin: 0 !important;
    }
    .item {
        background-color: $menubar-bg !important;
        margin: 0px !important;
        border-radius: 0px !important;
    }
    /*.item-ios {
      position: relative;
      margin: 0px !important;
      color: #3a5072 !important;
      border-radius: 0px !important;
     padding: 0 !important;
     
      background-color: $black !important;
        }*/
    ion-card {
        display: inline-block;
        background: none !important;
        margin: 0px !important;

    }
    .card-content {
        padding: 0px !important;
        font-size: 1.4rem;
    }
    .card-title {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card-subtitle {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    .card {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        background: none !important;
        margin-left: 6.2vw !important;
        margin-right: 2px !important;
    }
    .item.item-block .item-inner {
        padding: 0px !important;
    }
    // new design
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: $white;
            padding: 0px 4px 0px 4px !important;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            line-height: 1.5rem;
            top: 52%;
            width: 100%;
            color: $white;
            padding: 0px 4px 0px 4px !important;
        }
    }
    .item:last-child {
        border-bottom: none !important;
    }
    .scroll-zoom-wrapper {
        text-align: left;
    }
    .spinner-md-crescent circle {
        stroke: $orange;
    }
    .infinite-loading-spinner {
        margin-top: 15px;
    }
    .spinner-ios-ios line,
    .spinner-ios-ios-small line {
        stroke: $orange !important;
    }
    .program-horizontal-scroll {
        white-space: nowrap;
       /* margin-left: 40px !important;*/
        .showDiplayBlock {
            width: 30%;
            display: inline-block;
        }
    }
    .program-horizontal-scroll.small {
        white-space: nowrap;
        height: calc(22.5vw + 4rem + 18px);
        .program_flip_button {
            padding-top: 75%;
        }
    }
    //To make FAB Fixed in ION SEGMENT - FAB is not fixed in ion-segment - BUG in angular 2
    /*.fab{
    position: fixed;  
    right: 19px;
    bottom: 59px;
}*/
    .item.program_flip_button {
        box-sizing: border-box;
        width: 100%;
        padding-top: 150%;
        position: relative;
        span.item-inner {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            img {
                object-fit: cover !important;
                -webkit-object-fit: cover;
                -o-object-fit: cover;
                -moz-object-fit: cover;
            }
        }
    }
    .p-top-125p {
        padding-top: 125% !important
    }
    .img2 {
        display: none;
    }
    .btn1.active .img2,
    {
        display: block;
        position: absolute;
        top: 0;
    }
    .small .btn1.active .img3,
    {
        display: block !important;
        position: absolute;
        bottom: 0px;
        width: 29.5%;
        height: 52px;
        /*margin: 0.4rem 0.22rem;*/
        margin: 4px 2px;
        background: $body-bg !important;
    }
    .btn1.active .img1,
    .btn1.active .txt-hide {
        visibility: hidden;
    }
    .program-horizontal-scroll .img3 {
        display: none;
    }
    .img1 {
        display: block;
        left: 0px;
    }
    .img2 {
        left: 0px;
    }
    .img3 {
        display: none;
    }
    .button-clear.activated {
        background-color: transparent !important;
    }
    .progressbarlear {
        margin: -4px 0px 3px 3px !important;
    }
    .ion-ios-heart {
        color: $orange !important;
    }
    .ion-md-heart {
        color: $orange !important;
    }
    .filter-icon {
        color: $orange !important;
    }
    .load-more {
        font-size: 4rem;
        color: $gold;
        border: 1px solid $gold;
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 100%;
    }
    .txt-more {
        position: absolute;
        bottom: 30px;
        font-size: 1rem;
        color: $gold;
    }
    .txt-hide {
        margin: -3px 0 0 2px !important;
    }
    .label {
        margin: 0 !important;
    }
    .searchbar {
        min-height: 0px !important;
    }
    .watch_now {
        height: 26px;
        margin: 16px !important;
    }
    .favs_filter {
        // padding-right:40% !important;
        width: 55% !important;
    }
    .top_bar {
        display: inline !important;
    }
    .toggle .toggle-icon {
        margin: 0 auto !important;
        background-color: $orange;
    }
    .toggle .toggle-icon::before {
        background-color: $orange !important;
    }
    .toggle-md .toggle-checked .toggle-inner {
        background-color: $white !important;
    }
    .highlight {
        color: $orange;
        font-weight: 900;
    }
    .img-thumb2 {
        width: 80px !important;
        height: 100px !important;
        border-radius: 3px;
    }
    .top-icons {
        font-size: 1.4em !important;
        color: $orange;
    }
    .loading {
        margin-left: 44% !important;
        
    }
    .loading-tile{
        position: absolute;
        bottom: -2.4vw;
        margin-left: 10vw;
    }
    .align-hc{
        display: flex;
        justify-content: center;
    }
    .swiftDisplay {
        -webkit-backface-visibility: hidden;
        -webkit-transform: translateZ(0);
        backface-visibility: hidden;
        transform: translateZ(0);
    /*    >div {
            position: relative;
            .vert-name {
                width: 1px;
                word-wrap: break-word;
                font-family: monospace;
                white-space: pre-wrap;
                background: black;
                padding: 0 20px 0 15px;
                margin: 0;
                position: absolute;
                top: 5px;
                z-index: 999;
                text-transform: uppercase;
                font-size: 14px !important;
            }
        }*/
    }
    .epg-title{
        z-index: 999;
        position: fixed;
        background: #343434;
        width: 45.5%;
        height: 9vw; 
        line-height: 11vw;
        text-align: center;
        margin: 3px 0px 0 -47.2vw;
        /*padding: 0 50px 0 50px !important;*/

        transform-origin: top right !important;
        transform: rotate(-90deg);
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
    }
    .epg-title-small {
        width: 23% !important;
        padding: 0 10px 0 10px !important;
        margin: 3px -24.7vw !important;
}
.fab ion-icon {
   font-size: 22px !important;
    } 



        .labelContainer {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index:99;
          background-color: rgba(255, 255, 255, 0.5);
      
          .container{
            position: absolute;
            bottom: $fab-content-margin * 3.4 + $fab-size;
            right: 20%;
          }
      
          opacity: 0;
          visibility: hidden;
        }
      
        .labelContainer.show {
          opacity: 1;
          visibility: visible;
        }
      
        .label1{
          font-family: Arial;
          text-align: left;
          color:white;
          background: #71a3e2;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          padding: 7px;
          width:220px;
          margin-top: ($fab-list-margin * 2.5);
          margin-right: 0px;
          box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.14), 0 4px 5px rgba(0, 0, 0, 0.1);
          opacity: 0;
          visibility: hidden;
          transform: scale(0);
        }
      
        .label.show{
          opacity: 1;
          visibility: visible;
          transform: scale(1);
          transition: all ease-in-out 200ms;
          transition-property: transform, opacity;
        }
      
}
