<ion-header>  
	<ion-navbar>         
		<ion-title>Remote</ion-title> 
	</ion-navbar>  
</ion-header>  
<ion-content no-padding> 
  <!--form (ngSubmit)="editHome()" #registerForm="ngForm"--> 
	<ion-item-group>
		<ion-item-divider class="itm-divider"><span class="txt-silver">Configure Remote</span></ion-item-divider>
			<ion-item class="itm">
				<ion-label>Brand</ion-label>
        <button  ion-button icon-right *ngIf="select" item-right class="txt-orange bdr-orange" text-right (click)="deleteBrand()" (swipe)="swiped()" outline style="max-width:60%">
					<div class="ellipses">{{brand}}</div>
          <ion-icon name="close" class="txt-orange"></ion-icon>
        </button>
					<button  ion-button *ngIf="!select" item-right class="txt-orange bdr-orange" text-right (click)="goToBrandsPage()" outline>Select</button>
			</ion-item>
      <ion-item class="itm">
				<ion-label>CodeSet</ion-label>
        <button  ion-button icon-right *ngIf="selectCode" item-right class="txt-orange bdr-orange" text-right (click)="deleteCode()" outline>{{codeset[0].slice(0,5)}}
          <ion-icon name="close" class="txt-orange"></ion-icon>
        </button>
					<button  ion-button *ngIf="!selectCode" [disabled]="disCode" item-right class="txt-orange bdr-orange" text-right (click)="goToSetUpRemote()" outline >Select</button>
			</ion-item>
						
	</ion-item-group>
	<ion-item-group>
		<ion-item-divider class="itm-divider"> &nbsp; </ion-item-divider>
	</ion-item-group>
	<button class="txt-gold" ion-button block no-margin [disabled]="dis" (click)="SET()">Configure and Save Remote</button>
  <!--/form-->
</ion-content>     

