<ion-header>
    <ion-navbar>
        <ion-title> {{type.value}} This Week </ion-title>
		<ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons>
    </ion-navbar> 
</ion-header>
<ion-content no-padding>

	<ion-row no-margin>
		<ion-col col-4 no-margin no-padding padding-bottom *ngFor="let i of programData" class="btn1 pl-3px" [ngClass]="{active: i._id|findActive:current_active}">
			<button ion-button class="program_flip_button" clear no-margin (click)="onTap(i._id)" >
				<img [src]="i.program | programPosterPipe" class="wh-100 img1">
				<div class="img2">
	        <p no-margin (click)="setReminder(i)"><img src="assets/img/remind1.jpg" class="wh-100"></p>
	        <p no-margin (click)="goToProgramDetails(i)"  style="margin-top: -3px;">
	          <img src="assets/img/more1.jpg" class="wh-100"></p>
	      </div>
			</button>

			<p text-center class="card-title font-1-3rem txt-white ellipses">{{i.program.mainprogramname||i.program.name}}</p>
			<p text-center class="card-subtitle font-1-3rem txt-gold ellipses">{{i.channel_name}}</p>
		</ion-col>
	</ion-row>
		<ion-infinite-scroll (ionInfinite)="doInfinite($event)" threshold="80%">
       <ion-infinite-scroll-content>
				     </ion-infinite-scroll-content>
</ion-infinite-scroll>


</ion-content>