page-later-this-week {


	.img2 {
        display: none;
    }
    .btn1.active .img2 {
        display: block;
        position: absolute;
        top:0;
    }
    .btn1.active .img1,
    .btn1.active .txt-hide {
        visibility: hidden;
    }
    .img1
    {
        display: block;
        left: 0px;
    }
    .img2{ 
      left:0px;
    }
	p{
		overflow: hidden;
    	white-space: nowrap;
    	text-overflow: ellipsis;
	}
    .card-title {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card-subtitle {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
	/*button.program_flip_button {
    box-sizing: border-box;
    width: 100%;
    padding-top: 150%;
    position: relative;
    span.button-inner{
    	    position: absolute;
			    top: 0px;
			    left: 0px;
			    width: 100%;
			    img{
			    	    object-fit: contain;
			    	    -webkit-object-fit:cover;
			    	    -o-object-fit:cover;
			    	    -moz-object-fit:cover;
			    }
    }
	}
	button.program_flip_small_button {
    box-sizing: border-box;
    width: 100%;
    padding-top: 85%;
    position: relative;
    span.button-inner{
    	    position: absolute;
			    top: 0px;
			    left: 0px;
			    width: 100%;
			    img{
			    	    object-fit: contain;
			    	    -webkit-object-fit:cover;
			    	    -o-object-fit:cover;
			    	    -moz-object-fit:cover;
			    }
    }
	}*/
}
