page-remote {
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        font-size: 30px;
    }
    .toolbar-background {
        border-bottom: 0 solid $item-bg-light !important;
    }
    .app-icon1 {
        height: 10vw;
        margin-top: 9vw;
        opacity: 0.50;
    }
    .grid {
        padding: 2px !important;
    }
    .item:last-child {
        border-bottom: 2px solid $body-bg !important;
    }
    .itm-divider-btom {
        border-bottom: 0.5px solid transparent !important;
        .item-inner {
            border-bottom: 0.55px solid transparent !important;
            .label {
                margin: -10px 6px -11px 0px !important;
            }
        }
    }
    .remote-grid {
        height: 22rem !important;
        border: 2px solid $body-bg;
        background: $item-bg;
        color: $white;
        letter-spacing: 1.2px;
        font-size: 1.8rem !important;
        ion-label {
            margin: 11px 8px 30px 0 !important;
        }
        .item-inner {
            border-bottom: none !important;
            padding-right: 0 !important;
        }
    }
    .btn-round {
        position: absolute;
        border-radius: 100%;
        height: 100%;
        width: 100%;
        border: 3px solid $black;
        margin: 0 auto;
        line-height: 9rem;
        ion-icon {
            font-size: 3rem !important;
        }
    }
    i {
        color: #b3b4b7;
    }
    	.container{
		    	height: 10.5rem;
    	width: 10.5rem;
		position: relative;
		    	font-size: 4.5rem !important;
    	margin: 0 auto;
    	line-height: 10.5rem;
	}
		.rotating-btn{
		    border-radius: 100%;
    height: 100%;
    width: 100%;
    border-top: 2px solid $orange;
    font-size: 4.5rem !important;
    animation: spinner-rotate 1.2s linear infinite;
	}
	.fade-out-ring{
		  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.2s, opacity 1.2s linear;
	}
	.fade-in-ring{
		 visibility: visible;
  opacity: 1;
  transition: opacity 1.1s linear;
	}
}
