<ion-header>
    <ion-navbar>
        <ion-title>Remotes</ion-title>
        <ion-buttons end class="txt-gold go_online_outer">
            <button class="go_online" ion-button (click)="retry()" *ngIf="kiot_internet=='offline'">
           GO ONLINE
            <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
     </button>
            <button (click)="goToNotifications();" class="noti-fab-btn txt-gold" *ngIf="kiot_internet=='online'">
              <span *ngIf="num_of_notifications" class="noti-num">{{num_of_notifications}}</span>
              <ion-icon *ngIf="num_of_notifications" name="ios-notifications-outline" class="txt-orange font-3rem"></ion-icon>
              <ion-icon *ngIf="!num_of_notifications" name="ios-notifications-outline" class="txt-normal font-3rem"></ion-icon>
              <!-- <img *ngIf="num_of_notifications" src="assets/img/notification.png">
              <img *ngIf="!num_of_notifications" src="assets/img/notification (1).png"> -->
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>
<ion-content>
    <!-- <ion-item-divider class="itm-divider-btom item item-divider item-ios item-divider-ios">
<ion-label class="label label-ios">

      <span class="txt-gold"> All Registered Remotes in default home</span>

    </ion-label>
    </ion-item-divider> -->

    <ion-grid>

        <ion-row>
            <ion-col no-padding col-6 ion-item class="remote-grid" (click)="goToCustomRemote()">
                <ion-col text-center>
                    <div class="container">
                        <div class="btn-round txt-white lh-10rem">
                            <!--i class="flaticon-{{item?.icon_name}} font-3rem"></i-->
                            <ion-icon *ngIf="custom_remote_name==-1" name="add" class="font-3rem"></ion-icon>
                            <img class="remo-img maxw-35" *ngIf="custom_remote_name&&custom_remote_name!=-1" src="assets/img/remote-control-normal.png" />
                        </div>
                        <div ngClass="{{!custom_remote_name?'fade-in-ring':'fade-out-ring'}}" class="rotating-btn">
                        </div>
                    </div>

                </ion-col>
                <ion-col col text-center no-padding no-margin>
                    <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5" *ngIf="custom_remote_name&&custom_remote_name!=-1">{{custom_remote_name}}</div>
                    <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5" *ngIf="custom_remote_name==-1">Add</div>
                </ion-col>
                <ion-col text-center no-margin no-padding>
                    <p class="font-1-5rem txt-gold"> Custom Remote</p>
                </ion-col>
            </ion-col>
            <ion-col no-padding col-6 ion-item class="remote-grid" *ngFor="let item of data;let ind=index" (click)="goToRemote(item,ind)">
                <div *ngIf="!dev_avail[item.paired_sb?._id]?.off_available && !dev_avail[item.paired_sb?._id]?.on_available" style="float: right;">
                    <i class="flaticon-offline txt-orange"></i>
                    <!-- <ion-icon ios="ios-alert-outline" md="ios-alert-outline" class="txt-orange"></ion-icon> -->
                </div>
                <ion-col text-center>
                    <!--div class="btn-round txt-white">
                        <i class="flaticon-{{item?.icon_name}} font-3rem"></i>
                        
                    </div-->

                    <div class="container">
                        <div class="btn-round txt-white">
                            <i class="flaticon-{{item?.icon_name}} font-3rem"></i>
                            <!-- <ion-icon name="desktop-outline"></ion-icon> -->
                            <!-- <img class="app-icon1" src="{{'assets/icon/'+item.type+'.svg'}}"> -->
                        </div>
                        <div ngClass="{{show_loading_epg==ind?'fade-in-ring':'fade-out-ring'}}" class="rotating-btn">
                        </div>
                    </div>

                </ion-col>
                <ion-col col text-center no-padding no-margin>
                    <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5">{{item.name}}</div>
                </ion-col>
                <ion-col text-center no-margin no-padding>
                    <p class="font-1-5rem txt-orange"> {{item.paired_sb?item.room_id.name:'-'}}</p>
                </ion-col>
            </ion-col>
            <ion-col no-padding *ngIf="kiot_internet=='online'" col-6 ion-item class="remote-grid" >

                <ion-col text-center (click)="goToCreateRemote()">

                    <div class="container">
                        <div class="btn-round txt-orange">
                            <ion-icon name="add"></ion-icon>
                            <!-- <ion-icon name="desktop-outline"></ion-icon> -->
                            <!-- <img class="app-icon1" src="{{'assets/icon/'+item.type+'.svg'}}"> -->
                        </div>
                        <div ngClass="{{show_loading_epg==ind?'fade-in-ring':'fade-out-ring'}}" class="rotating-btn">
                        </div>
                    </div>

                </ion-col>
                <ion-col col text-center no-padding no-margin >
                    <div class="txt-white ellipses font-1-8rem m-btom-6px mt-6px plr-5">Add Remote</div>
                </ion-col>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-refresher refreshingSpinner="none" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <!--ion-fab *ngIf="kiot_internet=='online'" right bottom color="Red" class="fab1">
        <button ion-fab (click)="goToCreateRemote()">
        <ion-icon name="add"></ion-icon>
      </button>
      </ion-fab-->
</ion-content>