page-settings-alexa {
    ion-content {
        background: url(../assets/img/alexa.png) no-repeat !important;
        background-color: $body-bg !important;
        background-size: contain !important;
    }
    .btn-alexa {
        bottom: 0;
        position: absolute; 
        width: 100%;
    }
    p{
    	font-size: 1.7rem !important;
    	text-align: center; 
    	margin-bottom: 12px;
    }
    .button{
    	margin:0.2em 0em !important;
    }
    .col-1{
    	padding-right: 0.1em !important;
    }
    .col-2{
    	padding-left: 0.1em !important;
    }
}
