<ion-header>
    <ion-navbar>
        <ion-title>Alexa Account</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div class="btn-alexa">
    <p class="txt-gold">Control KIOT Devices using Alexa!</p>
        <ion-row>
            <ion-col no-padding class="col-1">
                <button ion-button full class="txt-white" (click)="goToConfigureAlexa()">Configure</button>
            </ion-col>
            <ion-col no-padding class="col-2">
                <button ion-button full class="txt-white" (click)="goToHowToConfigure()">How to Use?</button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>
