<ion-header>
  <ion-navbar>
    <ion-title>Channel Guide</ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top no-padding>
    <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="filterItems($event)" placeholder="Search any channel" autocomplete="on">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list [virtualScroll]="channelList2" approxItemHeight="20px" >
  <ion-item class="itm" *virtualItem="let i" (click)="switchToChannel(i)">
   <span class="align-left"> {{i.channel_name}}</span>
    <span class="align-right">{{i.channel_num}} </span>
  </ion-item>
  </ion-list>
    <!--ion-list *ngIf="current_platform=='ios'">
  <ion-item class="itm" *ngFor="let i of channelList2" (click)="switchToChannel(i)">
   <span class="align-left"> {{i.channel_name}}</span>
    <span class="align-right">{{i.channel_num}} </span>
  </ion-item>
  </ion-list-->
</ion-content>