<ion-header>

  <ion-navbar>
    <ion-title>Select a Remote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>

    <button ion-item class="itm2" *ngFor="let item of data" (click)="goToKeysList(item)">
        <span>{{item.name}}</span><br><span class="txt-orange txt-small"> {{item.room_id.name}}</span>
        <ion-icon item-right md="ios-arrow-forward"></ion-icon>
      </button>
  </ion-item-group>
  <ion-fab right bottom color="Red" class="fab1">
    <button ion-fab (click)="goToNextStep()">
    <ion-icon md="ios-arrow-forward-outline"  ios="ios-arrow-forward-outline"></ion-icon>
  </button>
  </ion-fab>
</ion-content>