<ion-header>
  <ion-navbar>
    <ion-title>Remotes</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold"> All Registered Remotes</span>
    </ion-item-divider>
    <ion-spinner *ngIf="no_remotes_loader" class="no-remote-loader"></ion-spinner>
    <button ion-item class="itm2" *ngFor="let item of data" (click)="goToIrDetails(item)">
        <span>{{item.name}}</span><br><span class="txt-orange txt-small"> {{item.room_id.name}}</span>
        <ion-icon item-right md="ios-arrow-forward"></ion-icon>
      </button>
  </ion-item-group>
  <ion-fab bottom right #fab>
    <button ion-fab (click)="addIrAppliance();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <!--ion-fab bottom left #fab>
    <button ion-fab (click)="addCustomRemote();"><ion-icon name="add"></ion-icon></button>
  </ion-fab-->
</ion-content>