<ion-header>
    <ion-navbar>
        <ion-title> Configure</ion-title>
    </ion-navbar>
</ion-header>
<ion-content *ngIf="switchBoardDetailsData.is_configured">
    <!--ion-item-group>
    <p padding-left class="p-b-none">To configure Switchboard goto Phone Settings >> Wifi >>and select network name that start with KIOT354435 and connect back to the same page</p>
    <div *ngIf="wifi_details[0]">
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold">Select wifi Router to which you want to connect KIOT</span>
    </ion-item-divider>  
    <ion-item class="itm">      
      <ion-label>Select Wifi Router</ion-label>
      <ion-select [(ngModel)]="selected_router">
        <ion-option *ngFor="let i of wifi_details" [value]="i">{{i.name}}</ion-option>
      </ion-select>
    </ion-item>
     Please connect your phone to {{device_details?.wifi_hot_name}} to proceed further configuration
      <button ion-button full class="txt-orange" [disabled]="!selected_router" (click)="goToNextPage()">Next</button>
    </div>
<div *ngIf="!wifi_details[0]">
   <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold">Please provider the Wifi Router Details to configure</span>
    </ion-item-divider> 
    <button ion-button full class="txt-orange" (click)="addRouter()">Add Wi-Fi Router</button>
</div>

  </ion-item-group-->
    <ion-simple-wizard [(step)]="step" [showSteps]="true" (finish)="onFinish()" [finishIcon]="'done-all'" [(stepCondition)]="stepCondition">
        <ion-wizard-step>
            <!--STEP ONE 1________________________________________________ -->
            <div *ngIf="wifi_details[0]">
                <ion-item-divider class="itm-divider-btom">
                    <span class="txt-gold">Select wifi Router to which you want to connect KIOT</span>
                </ion-item-divider>
                <ion-list radio-group [(ngModel)]="selected_router">
                    <ion-item class="itm" *ngFor="let i of wifi_details;let ind=index">
                        <ion-label>{{i.name}}</ion-label>
                        <ion-radio [value]="i" (ionSelect)="routerSelect($event)"></ion-radio>
                    </ion-item>
                </ion-list>
            </div>
            <div>
                <!-- <ion-item-divider class="itm-divider-btom"> -->
                <p class="m-40150 p-top-6" padding-left=""> When you click on it, you can view all users in your home and also you can approve pending users. Please
                    provider the Wifi Router Details to configure</p>
                <!--   <span class="txt-gold">Please provider the Wifi Router Details to configure</span>
 -->
                <!-- </ion-item-divider> -->
                <button ion-button full class="txt-orange" (click)="addRouter()">Add Wi-Fi Router</button>
            </div>
        </ion-wizard-step>
        <!-- STEP TWO______________________________-->
        <ion-wizard-step>
            <!--  Connect You phone to the WiFi Network named "{{device_details?.wifi_hot_name}}" -->
            <iframe width="100%" height="315" [src]="videoUrl" frameborder="0" allowfullscreen>
            </iframe>
            <br>
            <div class="font-2 txt-white" style="margin-left:2vw" >Steps</div>
            <ul style="margin-left: -3vw;">
                <li><span class="txt-gold">IMPORTANT</span> Please, Turn off the Cellular data (like 3G,4G etc)</li>
                <li>Go to settings, select Wifi or WLAN Settings</li>
                <li>Find the Wi-Fi with the name <span class="txt-gold">"{{device_details?.wifi_hot_name}}"</span>, connect to
                    that Wi-Fi </li>
                <li>Get back here and Proceed to next step</li>
            </ul>
            <br>
            <!--ion-row>
                <ion-col align-self-center>
                    <div>
                        <ion-checkbox [(ngModel)]="proceed_next"></ion-checkbox> <span>Im connected to "{{device_details?.wifi_hot_name}}"</span>
                    </div>

                </ion-col>
            </ion-row-->
            <ion-item class="itm">

                <ion-label>Im connected to "{{device_details?.wifi_hot_name}}"</ion-label>
                <ion-checkbox item-left class="checkbox-width" [(ngModel)]="proceed_next">
                </ion-checkbox>
            </ion-item>
<br>
            <button ion-button full [disabled]="!proceed_next" (click)="goToNextStep()">Next</button>
        </ion-wizard-step>
        <!-- STEP THREE______________________________-->
        <ion-wizard-step>
            <ion-grid>
                <ion-row>
                    <ion-col col-12 text-center>
                        <ion-img class="background-transparent" style="width: 80px; height: 80px;" src="assets/img/ios-loader.gif"></ion-img>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col col-12>
                        <p class="m-40150 font-1-4rem" padding-left=""> {{text}}</p>
                    </ion-col>
                    <ion-col col-12 text-center>

                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-wizard-step>
    </ion-simple-wizard>
</ion-content>