<ion-header>

	<ion-navbar>
		<ion-title>Scene Details</ion-title>
		<ion-buttons end>
			<button ion-button class="txt-orange" (click)="goToEditScene()">Edit</button>
		</ion-buttons>
	</ion-navbar>

</ion-header>


<!-- <ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Scene Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Scene Name</ion-label>
      <span item-right class="txt-normal">{{all_scenes[ind]?.sceneName||all_scenes[ind]?.scheduleSceneName}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Created By</ion-label>
      <span item-right class="txt-normal">{{all_scenes[ind]?.user.name}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Number of Appliances</ion-label>
      <span item-right class="txt-normal">{{all_scenes[ind]?.no_of_apps}}</span>
    </ion-item>
    <ion-item class="itm" *ngIf="all_scenes[ind]?.hour">
      <ion-label>Starts at</ion-label>
      <span item-right class="txt-normal">
        {{all_scenes[ind]?.hour>12?all_scenes[ind]?.hour-12:all_scenes[ind]?.hour}}:{{all_scenes[ind]?.mins==0?'00':all_scenes[ind]?.mins<10?'0'+all_scenes[ind]?.mins:all_scenes[ind]?.mins}} {{all_scenes[ind]?.hour>12?'PM':'AM'}}</span>
    </ion-item>
    <ion-item class="itm" *ngIf="all_scenes[ind]?.days">
      <ion-label>Repeats</ion-label>
      <span item-right class="txt-normal">{{all_scenes[ind]?.days.length==7?'Everyday':all_scenes[ind]?.days_string}}</span>
    </ion-item>

  </ion-item-group>
  <br>

  <button class="btn txt-red" ion-button full (click)="confirmDeleteScene()">Delete Scene</button>

</ion-content> -->
<ion-content>
	<!--ion-item-group *ngIf="!all_scenes[ind]?.hour">
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Scene Details</span>
		</ion-item-divider>
		<ion-item class="itm">
			<ion-label>Scene Name</ion-label>
			<span item-right class="txt-normal">{{all_scenes[ind]?.sceneName||all_scenes[ind]?.scheduleSceneName}}</span>
		</ion-item>
		<ion-item class="itm">
			<ion-label>Created By</ion-label>
			<span item-right class="txt-normal">{{all_scenes[ind]?.user.name}}</span>
		</ion-item>
		<ion-item class="itm">
			<ion-label>Number of Appliances</ion-label>
			<span item-right class="txt-normal">{{all_scenes[ind]?.no_of_apps}}</span>
		</ion-item>
		<ion-item class="itm" *ngIf="all_scenes[ind]?.hour">
			<ion-label>Starts at</ion-label>
			<span item-right class="txt-normal">
        {{all_scenes[ind]?.hour>12?all_scenes[ind]?.hour-12:all_scenes[ind]?.hour}}:{{all_scenes[ind]?.mins==0?'00':all_scenes[ind]?.mins<10?'0'+all_scenes[ind]?.mins:all_scenes[ind]?.mins}} {{all_scenes[ind]?.hour>12?'PM':'AM'}}</span>
		</ion-item>
		<ion-item class="itm" *ngIf="all_scenes[ind]?.days">
			<ion-label>Repeats</ion-label>
			<span item-right class="txt-normal">{{all_scenes[ind]?.days.length==7?'Everyday':all_scenes[ind]?.days_string}}</span>
		</ion-item>

	</ion-item-group-->

	<div *ngIf="!all_scenes[ind]?.hour">
		<ion-row text-center>
			<ion-col>
				<h2 class="txt-gold">{{all_scenes[ind]?.sceneName||all_scenes[ind]?.scheduleSceneName}}
					<button ion-button small clear outline class="txt-red del-icon">
						<ion-icon (click)="confirmDeleteScene()" name="ios-trash-outline" class="txt-red font-3rem"></ion-icon>
					</button>
				</h2>
				by {{all_scenes[ind]?.user.name||'unknown'}}
				<br>
			</ion-col>
		</ion-row>

		<div class="cd-timeline-2">
			<ion-row class="h-20vw">
				<ion-col col col-1 text-right align-self-center></ion-col>
				<ion-col col col-2 text-center align-self-center class="bg-0d" no-padding>
					<span class="txt-orange font-4-8rem">{{all_scenes[ind]?.no_of_apps}}</span>
				</ion-col>
				<ion-col col  text-left align-self-center>Appliances</ion-col>
			</ion-row>
			<ion-row class="h-20vw" *ngFor="let i of current_scene.actions">
				<ion-col col col-1 text-right align-self-center></ion-col>
				<ion-col col col-2 text-center align-self-center class="bg-0d" no-padding>
					<!-- <ion-icon name="ios-radio-button-off-outline" class="font-3rem" ngClass="{{i.switch_state?'txt-green':'txt-red'}}"></ion-icon> -->
					<div ngClass="{{i.switch_state?'txt-green':'txt-red'}}" class="btn1-circle">{{i.switch_state?'ON':'OFF'}}</div>
				</ion-col>
			
				<ion-col col text-left align-self-center class="ellipses"><span class="font-2">{{sw_appliance_dict[i?.switch_appliance_id]||''}}</span><br> ({{rooms_dict[i?.room_id]||'..'}})</ion-col>
			</ion-row>
		</div>
	</div>
	<div *ngIf="all_scenes[ind]?.hour">
		<ion-row text-center>
			<ion-col>
				<h2>{{all_scenes[ind]?.sceneName||all_scenes[ind]?.scheduleSceneName}}
					<button ion-button small clear outline class="txt-red del-icon">
						<ion-icon (click)="confirmDeleteScene()" name="ios-trash-outline" class="txt-red font-3rem"></ion-icon>
					</button>
				</h2>
				by {{all_scenes[ind]?.user.name||'unknown'}}
				<br>
				<span *ngIf="all_scenes[ind]?.hour"> starts at : {{all_scenes[ind]?.hour>12?all_scenes[ind]?.hour-12:all_scenes[ind]?.hour}}:{{all_scenes[ind]?.mins==0?'00':all_scenes[ind]?.mins<10?'0'+all_scenes[ind]?.mins:all_scenes[ind]?.mins}} {{all_scenes[ind]?.hour>12?'PM':'AM'}}</span>
			</ion-col>
		</ion-row>
		<div class="txt-center mb-5vw" *ngIf="all_scenes[ind]?.days">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[0]" class="day" id="monday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[1]" class="day" id="tuesday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[2]" class="day" id="wednesday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[3]" class="day" id="thursday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[4]" class="day" id="friday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[5]" class="day" id="saturday">
			<input type="checkbox" disabled [(ngModel)]="schedule_repeats[6]" class="day" id="sunday">
		</div>

		<div class="cd-timeline">
			<ion-row class="h-20vw">
				<ion-col col col-2 text-right align-self-center></ion-col>
				<ion-col col col-2 text-center align-self-center class="bg-0d" no-padding>
					<span class="txt-orange font-4-8rem">{{all_scenes[ind]?.no_of_apps}}</span>
				</ion-col>
				<ion-col col text-left align-self-center>Appliances</ion-col>
			</ion-row>
			<ion-row class="h-20vw" *ngFor="let i of current_scene.actions">
				<ion-col col col-2 text-right align-self-center style="padding:2vw">{{i.time_string}}</ion-col>
				<ion-col col col-2 text-center align-self-center class="bg-0d" no-padding>
					<div ngClass="{{i.switch_state?'txt-green':'txt-red'}}" class="btn1-circle">{{i.switch_state?'ON':'OFF'}}</div>
				</ion-col>
				<ion-col col text-left align-self-center class="ellipses"><span class="font-2">{{sw_appliance_dict[i?.switch_appliance_id]||''}}</span><br> ({{rooms_dict[i?.room_id]||'..'}})</ion-col>
			</ion-row>
		</div>
	</div>
	<!--button class="btn txt-red" ion-button full (click)="confirmDeleteScene()">Delete Scene</button-->
</ion-content>