<ion-header>
  <ion-navbar>
    <ion-title>Edit Schedule</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Edit the Schedule Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Action</ion-label>
      <span item-right class="txt-normal" [class]="switch_action | toggleValue">{{switch_action | toggleValue}}</span>
      <ion-toggle [(ngModel)]="switch_action"></ion-toggle>
    </ion-item>
    <ion-item class="itm" *ngIf="switch.switch_type=='regulator' && switch_action">
      <ion-range [(ngModel)]="dimm_value" min="0" max="99" no-padding>
        <ion-label range-left>Dimmer Value</ion-label>
      </ion-range>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Schedule Time</ion-label>
      <ion-datetime displayFormat="hh:mm A" [(ngModel)]="schedule_time" placeholder="Select"></ion-datetime>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Repeat Schedule</ion-label>
      <ion-toggle [(ngModel)]="repeat_toggle"></ion-toggle>
    </ion-item>
    <!--ion-item class="itm" *ngIf="repeat_toggle">
      <ion-label>Repeat on</ion-label>
      <ion-select [(ngModel)]="schedule_repeats" multiple="true">
        <ion-option value = '0'>Monday</ion-option>
        <ion-option value = '1'>Tuesday</ion-option>
        <ion-option value = '2'>Wednesday</ion-option>
        <ion-option value = '3'>Thursday</ion-option>
        <ion-option value = '4'>Friday</ion-option>
        <ion-option value = '5'>Saturday</ion-option>
        <ion-option value = '6'>Sunday</ion-option>
      </ion-select>
    </ion-item-->
    <div class="txt-center" *ngIf="repeat_toggle">
      <input type="checkbox" [(ngModel)]="schedule_repeats[0]" class="day" id="monday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[1]" class="day" id="tuesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[2]" class="day" id="wednesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[3]" class="day" id="thursday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[4]" class="day" id="friday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[5]" class="day" id="saturday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[6]" class="day" id="sunday">
    </div>

  </ion-item-group>
  <br>
  <button ion-button full class="txt-orange" (click)="createSchedule()" [disabled]=" schedule_time=='Select' || (repeat_toggle&&!schedule_repeats.length)">Save Schedule </button>

</ion-content>