<ion-header>
  <ion-navbar>
    <ion-title>Sign up</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Sign up using email</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Name</ion-label>
      <ion-input type="text" item-right [(ngModel)]="registerCredentials1.name" class="txt-normal" text-right></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="registerCredentials1.email" item-right class="txt-normal" text-right></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="registerCredentials1.pass" item-right class="txt-normal" text-right></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Repeat Password</ion-label>
      <ion-input type="password" [(ngModel)]="registerCredentials1.pass1" item-right class="txt-normal" text-right></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Mobile Number</ion-label>
      <ion-input type="number" [(ngModel)]="registerCredentials1.num" item-right class="txt-normal" text-right></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Gender</ion-label>
      <ion-select item-right class="txt-normal" text-right [(ngModel)]="registerCredentials1.gender">
        <ion-option value="m"> Male</ion-option>
        <ion-option value="f">Female</ion-option>
      </ion-select>
    </ion-item>

  </ion-item-group>

  <br>
  <button ion-button full class="txt-orange" (click)="signupp()">Sign up </button>
  <a (click)="goBack()">
    <p class="txt_terms" text-center>Already a member?
      <u>Log in</u>
    </p>
  </a>
  <p>&nbsp;</p>
  <p text-center padding class="txt_terms1">
    By creating an account, you agree to KIOT's
    <u>Terms of Service</u>,
    <u (click)="goToPrivacyPolicy()">Privacy Policy</u>,
    <u>Cookie Policy</u> and
    <u>Content Policies</u>.
  </p>
</ion-content>



<!-- <ion-content style="background:#edf1f4; "> 
     
  <form #registerForm="ngForm"(ngSubmit)="signupp()"> 
    <ion-list>  
      <ion-item-divider color="light" class="txt_div">Sign up using email</ion-item-divider>
      <ion-item>    
        <ion-label stacked >Name</ion-label>
        <ion-input type="text" placeholder="required"  [(ngModel)]="registerCredentials1.name"  [ngModelOptions]="{standalone: true}"required ></ion-input>
      </ion-item>
 
      <ion-item>   
        <ion-label stacked >Email</ion-label>
        <ion-input type="text"  placeholder="required"[(ngModel)]="registerCredentials1.email"  [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label stacked >Password</ion-label>
        <ion-input type="password" placeholder="required"[(ngModel)]="registerCredentials1.pass"  [ngModelOptions]="{standalone: true} "required ></ion-input>
      </ion-item>
      <ion-item>   
        <ion-label stacked>Repeat Password</ion-label>
        <ion-input type="password" placeholder="required"  [(ngModel)]="registerCredentials1.pass1"  [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item> 
      <ion-item>   
        <ion-label stacked >Mobile No</ion-label>
        <ion-input type="text" placeholder="required" [(ngModel)]="registerCredentials1.num"  [ngModelOptions]="{standalone: true}" required></ion-input>
      </ion-item> 
      <br/>
      <ion-item class="txt_div">
        <ion-label>Send me occasional email updates</ion-label>
        <ion-checkbox color="dark" ></ion-checkbox>
      </ion-item>
      <ion-row>
        <ion-col padding>
          <button ion-button class="btn_gr" type="submit" block>Sign up</button>
        </ion-col>
      </ion-row>
        <a (click)="goBack()"><p class="txt_terms" text-center>Already a member? Log in</p></a>

    </ion-list>    
    <p>&nbsp;</p>
    <p text-center padding class="txt_terms1">
      By creating an account, you agree to KIOT's <u>Terms of Service</u>, <u>Privacy Policy</u>, <u>Cookie Policy</u> and <u>Content Policies</u>. 
    </p>
    
  </form>

</ion-content> -->