<ion-header>
	<ion-navbar>
		<ion-title>Profile</ion-title>
		<ion-buttons end>
			<button class="txt-orange bg-none" (click)="goToEditProfile()">Edit</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Your Profile Details</span>
		</ion-item-divider>
		<ion-item class="itm">
			<span>Name</span>
			<span item-right class="txt-normal">{{username}}</span>
		</ion-item>
		<ion-item class="itm">
			<span>Mobile</span>
			<span item-right class="txt-normal">{{mobile}}</span>
		</ion-item>
		<ion-item class="itm">
			<span>Email</span>
			<span item-right class="txt-normal">{{email}}</span>
		</ion-item>
		<ion-item class="itm">
			<span>Gender</span>
			<span item-right class="txt-normal">{{gender=='m'?'Male':gender=='f'?'Female':''}}</span>
		</ion-item>
	</ion-item-group>
	<br>
	<button ion-button text-center full class="txt-orange" (click)="goToChangePassword()">Change Password	</button>
	<br>
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Your Default Remotes</span>
		</ion-item-divider>
		<ion-item class="itm">
			<span> Set Top Box</span>
			<span item-right class="txt-normal">{{defaults?.stb?.name||'not assigned'}}</span>
		</ion-item>
		<ion-item class="itm">
			<span> TV</span>
			<span item-right class="txt-normal">{{defaults?.tv?.name||'not assigned'}}</span>
		</ion-item>
	</ion-item-group>
</ion-content>