<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button outline class="close-modal  ml-2vw" (click)="goToChannelList()">
                <ion-icon name="book" class="font-2-3rem"></ion-icon>
            </button>
    </ion-buttons>
    <ion-title text-center>Number Pad</ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-row>
    <ion-col>Type in channel number</ion-col>
  </ion-row>

  <ion-grid no-padding>
    <ion-row>
      <ion-col *ngIf="thumbnail" (click)="switchToChannel()" text-left class="btn_calc_val">
        <img [src]="thumbnail" class="channel-img" />
      </ion-col>
      <ion-col text-right class="btn_calc_val" *ngIf="!text" [ngClass]="invalid">{{channel_number}}</ion-col>
      <ion-col text-right class="btn_calc_val  font-3rem" *ngIf="text" [ngClass]="invalid">{{text}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-11 text-center no-padding>
        <ion-row>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('1')">1</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('2')">2</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('3')">3</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('4')">4</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('5')">5</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('6')">6</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('7')">7</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('8')">8</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('9')">9</button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-33 text-center no-padding>
            <button text-center class="btn_calc" ion-button (click)="switchToChannel()">
             <!--ion-icon name="close"></ion-icon-->
             Go
            </button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="addToNum('0')">0</button>
          </ion-col>
          <ion-col width-33 text-center no-padding>
            <button class="btn_calc" ion-button (click)="backspaceFunc()">
             <ion-icon name="backspace"></ion-icon>
            </button>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-1 text-center no-padding class="bg-gold"> &nbsp;
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>