page-new-trigger {

    .heading{
        border: 1px solid $item-bg-light;
    border-radius: 3vw;
    background: rgba(255,255,255,0.1);
    margin: 2vw;
     transition:height 3s ease-out;
    }

    .notif-head {
        background: #343434;
        height: 4rem;
        line-height: 3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
            padding: 0 4px 0 4px;
    }
    .notif-msg{
    	background: $menubar-bg;
    	border-bottom-left-radius: 1rem;
    	border-bottom-right-radius: 1rem;
    	/*border: 0.5px solid #343434;*/
            padding: 0 4px 0 4px;
        transition: max-height .2s ease-in;
    }
            .list ion-item-options {
        border-bottom: none !important;
    }
    .disp-center{
        display:inline-flex;
        align-items:center;
    }
    .icn .select .select-icon .select-icon-inner{
     display:none;
    }
    .icn .select-text{
        border-bottom: 1px dashed;
        overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    }
    .itm{
    	max-height: none !important;
    	background: transparent !important;
    	padding: 10px 10px 0px 10px !important;
    }
    .mx-ht-1000{
        max-height: 35rem;
    }
    .mx-ht-15{
        max-height: 9rem;
    }
    .itm .item-inner {
    border-bottom: none !important;
    max-height: none !important;
    padding: 0 !important
	}
	.label{
		margin:0 !important;
	}
	.noti-heading{
		padding-left:4vw;
		margin-bottom: 0 !important;
    }
    .select-override{
        max-width: none !important;
    }
    .select-text .select-override{
    border-bottom: 1px dotted;
}
.select-override .select-ios .select-icon {
    visibility: hidden !important;
}
}
