<ion-header>

  <ion-navbar>
    <ion-title>Add Trigger</ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0,1)">
                Close
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="heading">
    <ion-row>
      <ion-col class="font-3-4rem txt-center">When
        <span (click)="sensorSheet()" class="font-3-4rem txt-orange">
        <span class="bdr-btm-dash">{{sensor_type}}</span>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngIf="sensor_type!='Select'" class="font-3-4rem txt-center"> is
        <span *ngIf="sensor_type!='Select'" class="font-3-4rem txt-orange">
        <span (click)="valueSheet()" class="bdr-btm-dash">{{trigger_type}}</span>
        <span *ngIf="sensor_type!='Select'&&trigger_type!='Select'" (click)="triggerValueSheet()" class="font-3-4rem txt-orange">{{trigger_value}} 
            <span class="txt-normal font-3rem" *ngIf="trigger_value!='Select'&&sensor_type!='Select'"> {{units[sensor_type]}}</span>
        </span>
        </span>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col align-self-center *ngIf="sensor_type!='Select'&&trigger_type!='Select'&&trigger_type!='Select'" class="font-2 txt-center disp-center icn">
        <div text-center class="w-100">on <span class="txt-orange" style="border-bottom: 0.35vw dotted;" (click)="triggerDeviceSheet()">{{trigger_device.str}}</span></div>
        <span *ngIf="sensor_type!='Select'" class="font-2 txt-orange" >
          
        <ion-select #triggerDevice (ionChange)="validateWorkflowForDevice($event)"  placeholder="Select" *ngIf="sensor_type!='Select'&&trigger_type!='Select'&&trigger_type!='Select'"  class="font-2 txt-orange select-override display-none">
          <ion-option *ngFor="let i of devices_in_rooms" [value]="i" selected="{{trigger_device.id==i.id?'true':'false'}}">{{i.str}}</ion-option>
        </ion-select>
      </span>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="sensor_type!='Select'&&trigger_type!='Select'&&trigger_value!='Select'&&trigger_device?.str!='Select'">
    <div class="font-3-4rem m-4vw">do
      <span class="align-right" (click)="addAction()"><ion-icon name="add"></ion-icon></span>
    </div>

    <div class="itm" *ngFor="let i of actions;let ind=index">
      <ion-row class="notif-head">
        <ion-col>
          <ion-icon name="settings" class="txt-orange"></ion-icon>
          Action {{ind+1}}
        </ion-col>
        <!--ion-col>
          <span *ngIf="!actions[ind].form" class="align-right font-2rem" (click)="editAction(ind)">Edit</span>
          <span class="align-right font-2rem" (click)="deleteAction(ind)"><ion-icon  name="ios-trash-outline"></ion-icon></span>
        </ion-col-->
        <ion-col align-self-center col-5>
          <button *ngIf="actions.length>1" ion-button clear class="align-right font-1-1rem txt-red" (click)="deleteAction(ind)">Delete</button>
          <button *ngIf="!actions[ind].form" ion-button clear class="align-right font-1-1rem txt-orange" (click)="editAction(ind)">Edit</button>
        </ion-col>
      </ion-row>
      <ion-row class="notif-msg" ngClass="{{actions[ind].form?'mx-ht-1000':'mx-ht-15'}}">
        <ion-col *ngIf="actions[ind].form">
          <ion-item class="itm">
            <ion-label>Action Type</ion-label>
            <ion-select [(ngModel)]="actions[ind].type">
              <ion-option value="switch">Switch Action</ion-option>
              <ion-option value="ir">Remote Action</ion-option>
            </ion-select>
          </ion-item>
          <ion-item class="itm" *ngIf="actions[ind].type">
            <ion-label>Room</ion-label>
            <ion-select [(ngModel)]="actions[ind].room" *ngIf="all_rooms.length">
              <ion-option *ngFor="let i of all_rooms" [value]="i">{{i.room_name}}</ion-option>
            </ion-select>
            <ion-label class="txt-normal" *ngIf="!all_rooms.length" text-right>No rooms available</ion-label>
          </ion-item>


          <!--SWITCH ACTION ______________________________________________________________-->
          <ion-item class="itm" *ngIf="actions[ind].type=='switch'&&actions[ind].room">
            <ion-label>Switch</ion-label>
            <ion-select [(ngModel)]="actions[ind].app" *ngIf="all_switches[actions[ind]?.room?.room_id]?.length">
              <ion-option *ngFor="let i of all_switches[actions[ind]?.room?.room_id]||[]" [value]="i">{{i.name}}</ion-option>
            </ion-select>
            <ion-label class="txt-normal" *ngIf="!all_switches[actions[ind]?.room?.room_id]?.length" text-right>No switches available</ion-label>
          </ion-item>
          <ion-item class="itm" *ngIf="actions[ind].type=='switch'&&actions[ind].room&&actions[ind].app">
            <ion-label>Action</ion-label>
            <span item-right class="txt-normal" [class]="actions[ind].sw_action | toggleValue">Turn {{actions[ind].sw_action | toggleValue}}</span>
            <ion-toggle [(ngModel)]="actions[ind].sw_action"></ion-toggle>
          </ion-item>
           <ion-item class="itm" *ngIf="actions[ind].type=='switch'&&actions[ind].room&&actions[ind].app&&actions[ind].app?.switch_type=='regulator'">
            <ion-range [(ngModel)]="actions[ind].sw_dimm" min="0" max="99" no-padding [disabled]="!actions[ind].sw_action">
            </ion-range>
           </ion-item>



          <!--REMOTE ACTION ______________________________________________________________-->
          <ion-item class="itm" *ngIf="actions[ind].type=='ir'&&actions[ind].room">
            <ion-label>Remote</ion-label>
            <ion-select [(ngModel)]="actions[ind].app" *ngIf="all_remotes[actions[ind]?.room?.room_id]?.length">
              <ion-option *ngFor="let i of all_remotes[actions[ind]?.room?.room_id]||[]" [value]="i">{{i.name}}</ion-option>
            </ion-select>
            <ion-label class="txt-normal" *ngIf="!all_remotes[actions[ind]?.room?.room_id]?.length" text-right>No remotes available</ion-label>
          </ion-item>
          <ion-item class="itm" *ngIf="actions[ind].type=='ir'&&actions[ind].room&&actions[ind].app">
            <ion-label>Action</ion-label>
            <ion-select [(ngModel)]="actions[ind].ir_action">
              <ion-option value="POWER ON">Power On</ion-option>
              <ion-option value="POWER OFF">Power Off</ion-option>
              <ion-option value="temp">Change Temperature</ion-option>
            </ion-select>
          </ion-item>
          <div class="itm" *ngIf="actions[ind].type=='ir'&&actions[ind].room&&actions[ind].app&&actions[ind].ir_action=='temp'">
            <ion-row>
              <ion-col col-5 align-self-center>
                <ion-label>Temperature</ion-label>
              </ion-col>
              <ion-col>
                <ion-row>
                  <ion-col class="right-text">
                    <button ion-button (click)="changeTemp(ind,0)">-</button>
                  </ion-col>
                  <ion-col align-self-center>
                    <div class="txt-orange font-2 center-text">{{actions[ind].ir_action_value||22}}</div>
                  </ion-col>
                  <ion-col>
                    <button ion-button (click)="changeTemp(ind,1)">+</button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>



          <button ion-button full (click)="saveAction(ind)" *ngIf="actions[ind].type&&actions[ind].room&&actions[ind].app" class="txt-white">Save Action</button>
        </ion-col>
        <ion-col *ngIf="!actions[ind].form">
          <h4 [innerHTML]="actions[ind].action_string"></h4>
        </ion-col>
      </ion-row>
    </div>
  </div>
  <br>
  <button ion-button full *ngIf="sensor_type!='Select'&&trigger_type!='Select'&&trigger_value!='Select'&&trigger_type!='Select'"
    class="txt-white" (click)="saveAndDismiss()">Save</button>

</ion-content>