<ion-header>
    <ion-navbar>
        <ion-title>Instructions</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <div>
        <div class="tab">
            <input id="tab-one" type="checkbox" name="tabs">
            <label for="tab-one">
                <div style="width: 95%;">How to link your KIOT devices to your Alexa</div>
            </label>
            <div class="tab-content txt-normal">
                <p>Amazon Alexa™ allows you to quickly and easily control your KIOT devices just by using your voice.</p>
                <p>There are a few basic requirements that need to be met before you can use Alexa with your KIOT devices:</p>
                <p padding-left>An Amazon Echo™</p>
                <p padding-left>The Alexa App or (Can be Configured using http://alexa.amazon.com)</p>
                <p padding-left>The KIOT App</p>
                <p>At least one of the following supported KIOT devices:</p>
                <p padding-left>&#8729; KIOT Switch</p>
                <p padding-left>&#8729; KIOT One</p>
                <p padding-left>&#8729; KIOT Plug</p>
                <p padding-left>&#8729; KIOT Socket</p>
                <p padding-left>&#8729; KIOT Dual</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-two" type="checkbox" name="tabs">
            <label for="tab-two">
                <div style="width: 95%;">Linking KIOT to the Alexa App or http://alexa.amazon.com
                </div>
            </label>
            <div class="tab-content txt-normal">
                <p>The linking process is easy as long as you have Remote Access working for your KIOT devices and your Amazon Echo is set up and working properly. </p>
                <p>You need to add your KIOT devices to the Alexa App before you can control them with voice commands.</p>
                <p><b>Step 1:</b> Tap the menu button in the upper left hand corner to open the side menu.</p>
                <p><b>Step 2:</b> Once there, tap on Smart Home to bring up the Smart Home menu.</p>
                <p><b>Step 3:</b> Under Your Devices, tap on Discover devices to search for your available devices.</p>
                <p><b>Note:</b> This could take up to 20 seconds. A countdown timer will let you know when it is ready.</p>
                <p><b>Step 4:</b> Now, your KIOT devices are set up and can be controlled with your voice. Click here for more information about what you can say to your KIOT devices.</p>
                <p>If detection does not take place after doing the steps above, below are some troubleshooting tips you can try:</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-three" type="checkbox" name="tabs">
            <label for="tab-three">
                <div style="width: 95%;">
                    Troubleshooting Tips </div>
            </label>
            <div class="tab-content txt-normal">
                <p>Restart your Alexa device and KIOT device, Click here for more information about how to restart your KIOT device.</p>
                <p>Make sure your KIOT device & Alexa are connected to same network.</p>
                <p> Goto http://alexa.amazon.com and login with your details
                <br> Repeat Step 1, Step 2, Step 3.
                </p>
                <p>Confirm if your smartphone or tablet has Remote Access. If you are able to take your smartphone or tablet to a remote connection (a different Wi-Fi than your KIOT devices are connected to or a cellular connection), switch to that and try controlling your KIOT devices. If you are able to control them remotely, then remote access is enabled. To know more about Remote Access for KIOT, click here.</p>
                <p>Try rebooting your router and modem.</p>
                <!-- KIOT Dimmer requires the KIOT Skill to be enabled.  Confirm if the KIOT Skill is present in the Smart Home Skill section of the Alexa App, if not, repeat Enabling the KIOT Skill in the Alexa App. -->
                <p>If none of these steps help, give our support team a call. For more information, click here.</p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-four" type="checkbox" name="tabs">
            <label for="tab-four">
                <div style="width: 95%;">Creating a Group Actions</div>
            </label>
            <div class="tab-content txt-normal">
                <p>Step 1: Tap the menu button in the upper left hand corner to open the side menu.</p>
                <p><b>Step 2:</b> Once there, tap on Smart Home to bring up the Smart Home menu.</p>
                <p><b>Step 3:</b> Under Your Groups, tap on Create Group</p>
                <p><b>Step 4:</b> Enter the name of the group into the text field.</p>
                <p class="tipp"><b>Tip:</b> Give your group a recognizable name for Alexa to identify. Use names that have at least two to three syllables. If you have multiple groups, give each group a different name. For example, if you have devices in your living room and bedroom, you could name the groups "Living Room" and "Bedroom" respectively.</p>
                <p><b>Step 5:</b> Select the smart home device(s) you want to add to the group, and then select Save.</p>
                <p>After you create a group, you can control all devices in the group with simple commands like “Turn on Day Mode”</p>
                <p><b>Note:</b> For best results, avoid names that start with the same first word for multiple devices or groups, and only add similar devices to a group. </p>
            </div>
        </div>
        <div class="tab">
            <input id="tab-five" type="checkbox" name="tabs">
            <label for="tab-five">
                <div style="width: 95%;">To edit a smart home device group:</div>
            </label>
            <div class="tab-content txt-normal">
                <p>Under Groups, select your smart home group.</p>
                <p>Make changes to your group:</p>
                <p padding-left>To edit the name, select the text field and then update the existing name.</p>
                <p padding-left>To add or remove smart home devices, select the checkboxes next to each device.</p>
                <p padding-left>To delete the group, select Delete this group.</p>
            </div>
        </div>
    </div>
    <h6 text-center class="txt-orange">KIOT Alexa Skill Coming Soon!</h6>
</ion-content>
