page-instructions-alexa {
	.accord {
        position: relative;
    }
    .accord1 {
        transition: 0.09s all linear;
        animation-duration: 750ms;
    }
    .tip1, .tip2, .tip3, .tip4, .tip5{
    	padding: 0 10px 0 10px;
    }
    ion-list{
    	margin:0 !important;
    }
    .min-height-9{
        min-height:9vw;
    }
    .list > .item-block:first-child {
    border-top: 0.55px solid $item-bg-light;
}
    p{
    	-webkit-margin-before: 0.8em !important;
        -webkit-margin-after: 0.5em !important;
        font-size: 1.6rem !important;
    }
    b{
    	color:$orange;
    }
    .tipp{
    	font-size: 1.2rem !important;
    }
    .red {
    	background-color:red;
	}

h1 {
  text-align: center;
}

/* Acordeon styles */
.tab {
  position: relative;
  margin-bottom: 1px;
  width: 100%;
  color: $white;
  overflow: hidden;
}
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
label {
  position: relative;
    display: flex;
    padding: 0 0 0 1em;
    background: $item-bg;
    line-height: 2;
    cursor: pointer;
    min-height: 3em;
    align-items: center;
}

.tab-content {
  max-height: 0;
  overflow: hidden;
  background: $body-bg;
  -webkit-transition: max-height .35s;
  -o-transition: max-height .35s;
  transition: max-height .35s;
}

.tab-content p {
  margin: 1em;
}
/* :checked */
input:checked ~ .tab-content {
  max-height: 50rem;
  overflow-y: scroll;
}
/* Icon */
label::after {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 2em;
  height: 3em;
  line-height: 2;
  text-align: center;
  -webkit-transition: all .35s; 
  -o-transition: all .35s;
  transition: all .35s;
}
input[type=checkbox] + label::after {
   content:"+";
   font-size: 2rem;
}
input[type=radio] + label::after {
   content: "\25BC";
}
input[type=checkbox]:checked + label::after {
  transform: rotate(315deg);
}
input[type=radio]:checked + label::after {
  transform: rotateX(180deg);
}

}
