<!--ion-content>
        <button ion-button outline item-right icon-right (click)='goToLogin();' style="float:right;width:23%;margin:20px">Skip
        <ion-icon name="ios-arrow-forward"></ion-icon>
        </button>
    <ion-slides pager>

  <ion-slide style="background-color: white">
    <img src = "../../assets/img/1.png" style="height:150px;width:150px;">
      <h2>Hey there!</h2>
      <p>Welcome to my first app developed using Ionic 2 framework</p>
  </ion-slide>

  <ion-slide style="background-color: white">
     <img src = "../../assets/img/2.png" style="height:180px;">
      <h2>Angular2 + Ionic = Awesomeness!</h2>
      <p>Ionic 2 apps are developed using Angular2 MVC framework which uses Typescript, a superset of ECMAScript or JavaScript</p>
  </ion-slide>

  <ion-slide style="background-color: white">
     <img src = "../../assets/img/3.png" style="height:225px;">
      <h2>Tonnes of resources</h2>
      <p>Bulk rsources are available for Ionic development on Git, StackOverFlow etc</p>
  </ion-slide>

  <ion-slide style="background-color: white">
    <img src = "../../assets/img/4.png" style="height:180px;">
      <h2>Lets Go!</h2>
      <button ion-button color="secondary" round (click)='goToLogin();'>Get Started</button>
  </ion-slide>
</ion-slides>
    
</ion-content-->


<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>KIOT</b>
      </h2>
      
    </ion-slide>

    <ion-slide>
      <img src="assets/img/2.png" class="slide-image"/>
      <h2 class="slide-title" >About KIOT?</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/3.png" class="slide-image"/>
      <h2 class="slide-title">Start Using KIOT</h2>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/4.png" class="slide-image"/>
      <h2 class="slide-title">Contact Us</h2>
      <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>

