<ion-header>

  <ion-navbar>
    <ion-title>Create Custom Remote</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item class="itm">
      <ion-label>Remote Name</ion-label>
      <ion-input type="text" [(ngModel)]="custom_name" item-right class="txt-normal" text-right></ion-input>
    </ion-item>
  </ion-item-group>
  <br>
  <button class="txt-orange" *ngIf="!isEditId" ion-button full no-margin [disabled]="!custom_name" (click)="createCustomRemote()">Create Custom Remote	</button>

<button class="txt-orange" ion-button full *ngIf="isEditId" no-margin [disabled]="!custom_name" (click)="editCustomRemote()">Save Edits</button>

</ion-content>