<ion-header>  
	<ion-navbar>         
		<ion-title>Create Home</ion-title> 
	</ion-navbar>  
</ion-header>  
<ion-content no-padding> 

		<ion-item-group>
			<ion-item-divider class="itm-divider-btom">
				<span class="txt-silver">Create New Home</span>
			</ion-item-divider>
			<ion-item class="itm">
				<ion-label>Home Name (Unique)</ion-label>
				<ion-input type="text" [(ngModel)]="response.name"  [ngModelOptions]="{standalone: true}" (ngModelChange)="enableCreate()"  item-right class="txt-normal" text-right autofocus></ion-input>
			</ion-item>
			<ion-item class="itm">
				<ion-label>Display Name</ion-label>
				<ion-input type="text"[(ngModel)]="response.dName"  [ngModelOptions]="{standalone: true}" (ngModelChange)="enableCreate()" item-right class="txt-normal" text-right></ion-input>
			</ion-item>
			<ion-item class="itm" *ngIf="show">
				<ion-label>Make it default ?</ion-label>
				<ion-toggle color="energized"  [(ngModel)]="def" [ngModelOptions]="{standalone: true}"></ion-toggle>
			</ion-item>
			<ion-item class="itm">
				<ion-label>Geo Location </ion-label>
				<span item-right *ngIf="grab" class="txt-orange">{{latlong[0]?latlong[0].slice(0,5):''}},{{latlong[1]?latlong[1].slice(0,5):''}}</span>
				<button *ngIf="!grab" ion-button item-right class="txt-orange bdr-orange" text-right (click)="locate()" outline >Grab</button>
			</ion-item>					
		</ion-item-group>
<br>

		<button class="txt-orange" ion-button full no-margin [disabled]="disable_create" (click)="createHome()">Create Home	</button>




</ion-content>     
