@charset "utf-8";
@function unicode($str) {
    @return unquote("\"")+unquote(str-insert($str, "\\", 1))+unquote("\"")
}
/*used for tab bg, alert bg, loop span etc*/

@import "../assets/fonts/_flaticon.scss";
@font-face {
    font-family: "SanFranciscoRegular" !important;
    src: url("../assets/fonts/SF-UI-Display-Regular.ttf"); 
    font-weight: normal;
    font-style: normal;
}
/*.modal-wrapper {  
height: 85% !important;
width: 90% !important;
margin: 11% 5% !important;
}*/
.noti-num{
    background: $gold;
    color: $black;
    min-width: 3vw;
    /* min-height: 3vw; */
    position: absolute;
    right: 3vw;
    line-height: 1.8vw;
    border-radius: 50%;
    padding: 1vw;
}
ion-modal ion-backdrop {}

@font-face {
    font-family: "SanFranciscoLight";
    src: url('../assets/fonts/SF-UI-Display-Light.ttf');
    src: url('../assets/fonts/SF-UI-Display-Light.eot') format('embedded-opentype'),
         url('../assets/fonts/SF-UI-Display-Light.woff') format('woff'),
         url('../assets/fonts/SF-UI-Display-Light.ttf') format('truetype'),
         url('../assets/fonts/SF-UI-Display-Light.svg#SFUIDisplay-Light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "roboto-regular";
    src: url("../assets/fonts/roboto-regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    letter-spacing: 1.2px;
}

body {
    font-family: "SanFranciscoLight" !important;
    background: $body-bg;
    letter-spacing: 1.2px !important;
    color: $txt-primary !important;
}

ion-app.ios {
    font-family: "SanFranciscoLight" !important;
}

ion-app.md {
    font-family: "SanFranciscoLight" !important;
}

ion-app.wp {
    font-family: "SanFranciscoLight" !important;
}

ion-content {
    font-family: "SanFranciscoLight" !important;
    background: $body-bg !important;
    color: $txt-primary !important;
    font-weight:300;
}

.toolbar-title-md {
font-weight: 300 !important;
}
.toolbar-title-ios {
font-weight: 300 !important;
}

input:webkit-autofill,
textarea:webkit-autofill,
select:webkit-autofill {
    background-color: transparent !important;
}
.alert-checkbox-inner,
.checkbox .checkbox-checked .checkbox-inner{
    border-color: $black !important;
}    
.bar-button-md {
    text-transform: none !important;
}
.minus{
    border: 0.5px solid $red;
    border-radius: 50%;
    padding: 0 2px 0px 3px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
a {
    color: $orange !important;
    text-decoration: none !important;
}

.opacity-1 {
    opacity: 1 !important;
}
.opacity-0 {
    opacity: 0 !important;
}

.clearfix {
    float: none;
    clear: both;
}

.toolbar-background {
    background: $menubar-bg !important;
    color: $white !important;
    border-bottom: 0.5px solid $item-bg-light !important;
}

.toolbar-title {
    color: $white !important;
}

.back-button {
    color: $orange !important;
}

.tabbar {
    background: $menubar-bg !important;
    color: $white !important;
}

.tab-button[aria-selected=true] .tab-button-icon {
    color: $orange !important;
}

.tab-button[aria-selected=true] .tab-button-text {
    color: $orange !important;
}

.tab-button-icon {
    color: $silver !important;
}

.tab-button-text {
    color: $silver !important;
}

ion-buttons {
    margin: 0 !important;
}

.d-inherit {
    display: inherit !important;
}
.d-inline {
    display: inline !important;
}
.alert-wrapper {
    background: $item-bg !important;
}

.alert-radio-label {
    color: $white !important;
}

.alert-md .alert-radio-inner {
    background: $orange !important;
}

.alert-radio-icon {
    border-color: $orange !important;
}

.alert-md .alert-radio-group,
.alert-md .alert-checkbox-group {
    border-top: 1px solid $item-bg-light;
    border-bottom: 1px solid $item-bg-light;
}

.alert-ios .alert-radio-group,
.alert-ios .alert-checkbox-group {
    border-top: 0.55px solid $item-bg-light;
}
.checkbox .checkbox-checked {
border-color: transparent;
background-color: $orange;
}

[aria-checked=true] .alert-radio-inner {
    border-color: $orange !important;
    color: $orange !important;
}

.alert-message {
    color: $silver !important;
    text-align: center !important;
}

.alert-title {
    color: $white !important;
    text-align: center !important;
    font-weight: bold !important;
}

.alert-button-group.alert-button {
    border-top: 0.55px solid $item-bg-light;
    border-right: 0.55px solid $item-bg-light;
}

.alert-md .alert-button {
    background: none !important;
}

.alert-md .alert-button:last-child {
    color: $orange !important;
}

.alert-button.activated {
    background-color: $item-active !important;
}

.alert-button:last-child {
    border-right: none;
}

.alert-ios .alert-button {
    border-top: 0.55px solid $item-bg-light;
    border-right: 0.55px solid $item-bg-light;
}

.button {
    background-color: $item-bg !important;
    font-size: 1.5rem !important;
    letter-spacing: 1.2px;
}

.button-clear {
    background-color: transparent !important;
}

.button.activated {
    background-color: $item-active !important;
    font-size: 1.5rem !important;
}

.close-modal.activated {
    background-color: $menubar-bg !important;
    color: $orange;
    opacity: 0.4;
}

.button-md {
    text-transform: none !important;
}

.button-md:hover:not(.disable-hover) {
    background-color: $item-active;
}

.btn .button-inner {
    text-align: left !important;
    justify-content: flex-start !important;
    -webkit-justify-content: flex-start !important;
    -moz-justify-content: flex-start !important;
    -o-justify-content: flex-start !important;
}
/*  .button[icon-only]{
background: transparent !important;
}*/
.btn-block .button-inner{
display: block !important;
}

.btn-icon {
color: #bdbdbd !important;
width: 60px;
height: 60px;
border-radius: 50% !important;
overflow: hidden;
}

.btn-icon.activated {
color: $orange !important;
}
.bdr-circle{
border-radius: 50% !important;
}
.bdr-btm-dash{
border-bottom: 1px dashed !important;
}
.btn-round{
border-radius: 100% !important;
width: 10vw;
height: 10vw;
margin: 0;
padding: 0;

}
.btn-check{
.checkbox-icon{
    width: 10vw;
    height: 10vw;
    background-color: transparent;
    border: transparent;
    margin: -20px 0 0 -12px;
    position: absolute;
}
}
.btn-check-txt{
// margin-left: -20px;
z-index: 99999;
color: $white;
}
.btn1-circle{
width: 10vw;
height: 10vw;
border: 1px solid;
border-radius: 50%;
line-height: 10vw;
text-align: center;
margin: 0 auto;
font-size: 1.3rem;
}
.del-icon{
position: absolute;
right: 0;
}
.segment-ios .segment-button.segment-activated{
background-color:$orange !important;
color:$black !important;
border-color:$item-bg-light !important;

}
.segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
opacity: 1;
color: $orange;
}


/* margin */

.margin-zero {
margin: 0 !important
}

.m-l-5px {
margin-left: 5px !important
}

.lbl-m-0 .label {
margin: 0 !important;
}

.lbl-m-0 .item-inner {
padding-right: 0 !important;
}

.wh-100 {
width: 100% !important;
height: 100% !important;
}
.w-37vw {
width: 37vw !important;
}
.w-34vw {
width: 34vw !important;
}
.w-30vw {
width: 30vw !important;
}
.w-32vw {
width: 32vw !important;
}
.w-33vw {
width: 33vw !important;
}
.w-25vw {
width: 25vw !important;
}
.w-100 {
width: 100% !important;
}
.w-100vw {
width: 100vw !important;
}
.maxw-35 {
max-width: 35% !important;
}
.maxw-40 {
max-width: 40% !important;
}
.maxw-100 {
max-width: 100% !important;
}
.w-15{
width: 15% !important;
}

.min-h-150 {
min-height: 150px !important;
}
.wh-4rem {
width: 4rem !important;
height: 4rem !important;
}
.h-4rem {
height: 4rem !important;
}
.h-2-7rem {
height: 2.7rem !important;
}
.h-7rem {
height: 7rem !important;
}
.h-8rem {
height: 8rem !important;
}
.h-9rem {
height: 9rem !important;
}
.h-10rem {
height: 10rem !important;
}
.h-11rem {
height: 11rem !important;
}
.h-50 {
height: 50px !important;
}
.h-50vw{
height:50%;
}
.h-55vw{
height:55vw;
}
.h-70p{
height:70% !important;
}
.h-6vw {
height: 6vw !important;
}
.h-6rem {
height: 6rem !important;
}
.h-80 {
height: 80px !important;
}
.h-80p {
height: 80% !important;
}
.h-12rem{
height: 12rem !important;
}
.h-200 {
height: 200px !important;
}
.h-20vw{
height: 20vw !important;
}
.maxh-100 {
max-height: 100px !important;
}

.m-40150 {
margin: 4px 0 15px 0px !important;
}

.lh-20px {
line-height: 20px;
}
.lh-10rem{
line-height: 10rem !important;
}
.h-auto {
height: auto !important;
}

.h-1rem {
height: 1rem !important;
}

.h-2rem {
height: 2rem !important;
}
.h-3-5rem {
height: 3.5rem !important;
}
.w-8vw {
width: 8vw !important;
}

.w-6rem {
width: 6rem !important;
}
.w-60vw {
width: 60vw !important;
}

.watch_now {
height: 26px;
margin: 16px !important;
}

.vertical-text {
transform: rotate(90deg);
transform-origin: left top 0;
}


/* Text Color */

.txt-gold {
color: $gold !important;
}

.txt-silver {
color: $silver !important;
}

.txt-orange {
color: $orange !important;
}

.txt-red {
color: $red !important;
}

.txt-white {
color: $white !important;
}

.txt-green {
color: $green !important;
}

.txt-center {
text-align: center !important;
}
.txt-normal {
color: $txt-primary !important;
}

.hrs {
color: $orange;
}

.kwh {
color: $gold;
}

.txt-indent {
text-indent: 1.8rem !important;
}

.txt-small {
font-size: 1.2rem !important;
}

.select-text {
color: $orange !important;
}

.align-left {
float: left !important;
}

.align-right {
float: right !important;
}

.spinner-dots circle {
fill: $orange;
}
.infinite-loading-spinner .spinner-bubbles circle, .infinite-loading-spinner .spinner-circles circle, .infinite-loading-spinner .spinner-dots circle {
fill: $orange;
}
/*  Font Size  */

.font-0-9rem {
font-size: 0.9rem !important;
}

.font-1rem {
font-size: 1rem !important;
}

.font-1-1rem {
font-size: 1.1rem !important;
}

.font-1-3rem {
font-size: 1.3rem !important;
}

.font-1-4rem {
font-size: 1.4rem !important;
}

.font-1-5rem {
font-size: 1.5rem !important;
}

.font-1-6rem {
font-size: 1.6rem !important;
}

.font-1-7rem {
font-size: 1.7rem !important;
}

.font-1-8rem {
font-size: 1.8rem !important;
}

.font-2 {
font-size: 2rem !important;
}

.font-2-2rem {
font-size: 2.2rem !important;
}

.font-2-4rem {
font-size: 2.4rem !important;
}
.font-2-6rem {
font-size: 2.6rem !important;
}

.font-2-5rem {
font-size: 2.5rem !important;
}

.font-2-8rem {
font-size: 2.8rem !important;
}
.font-2-7rem {
font-size: 2.7rem !important;
}
.font-3rem {
font-size: 3rem !important;
}
.font-3-4rem {
font-size: 3.4rem !important;
}
.font-3-5rem {
font-size: 3.5rem !important;
}
.font-3-7rem {
font-size: 3.7rem !important;
}
.font-3-8rem {
font-size: 3.8rem !important;
}
.font-4rem {
font-size: 4rem !important;
}

.font-4-8rem {
font-size: 4.8rem !important;
}
.font-5rem {
font-size: 5rem !important;
}
.font-6rem {
font-size: 6rem !important;
}
.font-8rem {
font-size: 8rem !important;
}
.font-10 {
font-size: 10rem;
}

.font-w-600 {
font-weight: 600;
}
.no-data-txt{
position: absolute;
width: 100%;
}
.no-data{
height: 100%;
line-height: 125px;
width: 100%;
}

.dimm{
width:6vw;
}

/*  Item */

.item {
background: $item-bg !important;
}

.itm-divider {
background: $body-bg !important;
color: $gold;
border-bottom: 0.5px solid $item-bg-light !important;
font-size: 1.3rem;
letter-spacing: 1.2px;
white-space: normal !important;
}

.itm-divider-btom {
background: $body-bg !important;
color: $gold;
border-bottom: 0.5px solid $item-bg-light !important;
font-size: 1.3rem;
letter-spacing: 1.2px;
white-space: normal !important;
}

.itm-divider-btom .label {
margin: 25px 8px 4px 0px !important;
}
.itm-divider-btom .item-inner{
border: none !important;
}
.itm {
background: $item-bg;
color: $white;
letter-spacing: 1.2px;
font-size: 1.5rem !important;
max-height: 2rem !important;
}

.itm .item-inner {
border-bottom: 0.5px solid $item-bg-light !important;
max-height: 2rem !important;
}

.itm2 {
background: $item-bg;
color: $white;
letter-spacing: 1.2px;
font-size: 1.8rem !important;
max-height: 6rem !important;
}

.itm2 .item-inner {
border-bottom: 0.5px solid $item-bg-light !important;
max-height: 6rem !important;
}

.loopspan .itm2:last-child .item-inner {
border-bottom: 0.5px solid $item-bg-light !important;
}

.loopspan .item:last-child {
border-bottom: none !important;
}

.item:last-child .item-inner {
border-bottom: none !important;
}

.item:last-child {
border-bottom: 0.5px solid $item-bg-light !important;
}

.item.activated {
background: $item-active !important;
}

.label-md {
color: $white !important;
white-space: normal !important;
}

.label {
white-space: normal !important;
}

.itm1 {
background: $item-bg;
color: $white;
letter-spacing: 1.2px;
}

.itm1 .item-inner {
border-bottom: none !important;
}

.itm1:last-child {
border-bottom: 3px solid $body-bg !important;
}

.time .label {
margin: 0 !important;
}

.time .item-inner {
border-bottom: 0.5px solid $item-bg-light !important;
}

.item-inner {
border-bottom: 0.55px solid $item-bg-light !important;
}


/* Border */
.bdr-red {
border: 1px solid $red !important;
}

.bdr-green {
border:1px solid $green !important;
}

.bdr-31 {
border: 1px solid $item-bg-light !important;
}

.bdr {
border: 0.5px solid $item-bg-light !important;
}
.bdr-orange{
    border-color: $orange;
}


.bdr-right-2px {
border-right: 2px solid $body-bg;
}
.bdr-left-2px {
border-right: 2px solid $body-bg;
}

.bdr-btom-rt-0d {
border-bottom: 3px solid $body-bg !important;
border-right: 3px solid $body-bg !important;
}

.bdr-btom {
border-bottom: 0.5px solid $item-bg-light !important;
}

.bdr-top {
border-top: 0.5px solid $item-bg-light !important;
}

.bdr-btom-00 {
border-bottom: 1px solid $black !important;
}

.bdr-none .item-inner {
border-bottom: none !important;
}

.bdr-btom-none {
border-bottom: none !important;
}

.bdr-top-none {
border-top: none !important;
}

.bdr-none {
border: 0 !important;
}
.br-none{
border-radius: 0 !important;
}
.bdr-y {
border: 2px solid yellow !important;
}
.cd-timeline{
position: relative;
top: 10px;
}
.cd-timeline-2{
position: relative;
top: 10px;
}
.cd-timeline:after{
content: '';
position: absolute;
top: 23px;
left:24.5%;
width: 2px;
height: 90%;
background-color: $txt-primary;
z-index: -1;
}
.cd-timeline-2:after{
content: '';
position: absolute;
top: 23px;
left:16.5%;
width: 2px;
height: 90%;
background-color: $txt-primary;
z-index: -1;
}
/* typography */

.go_online{
color: $orange;
background-color: transparent;
border: solid 1px;
padding: 1.7vw;
font-size:1.35rem !important;
}
.noti_fab{
top: -10.4vw !important;
right: -4vw !important;
}
.noti-fab-btn{
height:42px !important;
width:42px !important;
background: transparent;
margin-right:2vw;
}

.noti-num{
font-size: 0.9rem;
/*position: absolute;
right: 0vw;
top: 0.8vw;*/
float:right;
}
.go_online_outer{
padding:0vw;
}
.toggle-checked .toggle-icon {
background-color: $orange !important;
}
.list ion-item-sliding {
background-color: transparent !important;
}

.searchbar {
background: $item-bg !important;
}

.toolbar .searchbar-ios .searchbar-input {
background: $menubar-bg !important;
color: $input-field !important;
}

.toolbar .searchbar-md .searchbar-input {
background: $menubar-bg !important;
color: $input-field !important;
}

::-webkit-input-placeholder {
color: $input-field !important;
}

.searchbar-search-icon {
background-image: url("../assets/img/search.png") !important;
}

.searchbar-clear-icon {
background-image: url("../assets/img/close.png") !important;
background-size: 14px !important;
}

.fab {
background: $gold !important;
color: $black !important;
}

.fab ion-icon {
font-size: 2rem !important;
background: $gold !important;
}

p {
font-size: 1.2rem !important;
letter-spacing: 1.2px !important;
}

.p-left {
padding-left: 16px !important;
}

.pl-5px {
padding-left: 5px !important;
}
.pl-3px {
padding-left: 3px !important;
}

.pr-5px {
padding-right: 5px !important;
}

.pr-15 {
padding-right: 15px !important;
}

.m-4vw{
margin:4vw;
}

.ml-5px {
margin-left: 5px !important;
}

.m-2px {
margin: 2px !important;
}
.ml-2vw{
margin-left: 2vw !important;
}
.m-top-2 {
margin-top: 2px !important;
}

.m-top-4 {
margin-top: 4px !important;
}

.m-top-6 {
margin-top: 6px !important;
}

.m-top-8 {
margin-top: 8px !important;
}

.m-top-15 {
margin-top: 15px !important;
}

.m-top-25 {
margin-top: 25px !important;
}

.ml-6px {
margin-left: -6px !important;
}

.mr-6px {
margin-right: -6px !important;
}
.mr-5px {
margin-right: 5px !important;
}
.mr-1-8vw {
margin-right: 1.8vw !important;
}
.mr-0-8vw {
margin-right: 0.8vw !important;
}
.mt-1vw {
margin-top: 1vw !important;
}
.mt-4vw {
margin-top: 4vw !important;
}
.mt-5px {
margin-top: 5px !important;
}
.mt-2px {
margin-top: 2px !important;
}
.mt-6px {
margin-top: -6px !important;
}
.mt-10vw {
margin-top: -10vw !important;
}
.ml-10vw {
margin-left: -10vw !important;
}
.ml-3vw {
margin-left: 3vw !important;
}
.mr-10vw {
margin-right: -10vw !important;
}
.mb-10vw {
margin-bottom: -10vw !important;
}
.mb-minus2vw{
margin-bottom: -2vw !important;
}
.mb-1vw {
margin-bottom: 1vw !important;
}
.mb-5vw {
margin-bottom: 5vw !important;
}
.mb-15vw {
margin-bottom: 15vw !important;
}
.mb-6px {
margin-bottom: -6px !important;
}

.m-btom-2px {
margin-bottom: 2px !important;
}

.m-btom-4px {
margin-bottom: 4px !important;
}

.m-btom-6px {
margin-bottom: 6px !important;
}

.m-btom-8px {
margin-bottom: 8px !important;
}

.p-top-0 {
padding-top: 0px !important;
}

.p-top-10 {
padding-top: 10px !important;
}

.p-top-6 {
padding-top: 6px !important;
}

.p-btom-30 {
padding-bottom: 30px;
}

.p-btom-50 {
padding-bottom: 50px;
}

.p-0 {
padding: 0 !important;
}

.p-2 {
padding: 2px !important;
}

.p-3 {
padding: 3px !important;
}

.p-5 {
padding: 5px !important;
}

.pl-15 {
padding-left: 15px !important;
}

.pl-8 {
padding-left: 8px !important;
}
.plr-5 {
padding:0 5px 0 5px !important;
}

.pl-30 {
padding-left: 30px !important;
}
.pb-2rem {
padding-bottom: 2rem !important;
}


.bg-red {
background: $red !important;
}

.bg-green {
background: $green !important;
}
.bg-none {
background: none !important;
}

.bg-1c {
background: $item-bg !important;
}

.bg-0d {
background: $body-bg !important;
}

.bg-danger {
background: #f53d3d !important;
}

.bg-danger.activated {
background: #e13838 !important;
}

.radio-inner {
border-color: $white !important;
}

.bar-buttons button {
font-size: 1.7rem !important;
}

.ellipses {
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

.justyfy-c {
justify-content: center !important;
}

.align-vc {
align-self: center !important;
}

//Loading style
.loading-md .spinner-crescent circle {
stroke: $orange !important;
}
.spinner-ios-ios line, .spinner-ios-ios-small line {
stroke: $orange;
}


.loading-ios .spinner-crescent circle {
stroke: $orange !important;
}

ion-spinner {
    position: relative;
    display: inline-block;
    width: 38px !important;
    height: 38px !important;
}

.loading-md .loading-wrapper {
    padding: 24px;
    max-width: 200px;
    max-height: 70%;
    position: relative;
    top: -10;
    margin-top: -10;
    // border-radius: 2px; 
    background: none !important;
    box-shadow: none !important;
}

.loading-ios .loading-wrapper {
    padding: 24px;
    max-width: 200px;
    max-height: 70%;
    position: relative;
    top: -10;
    margin-top: -10;
    // border-radius: 2px; 
    background: none !important;
    box-shadow: none !important;
}

.loading-ios .spinner-ios line,
.loading-ios .spinner-ios-small line {
    stroke: $orange !important;
}

//range slider style
.range-knob {
    background: $orange !important;
    top: 12px !important;
    left: 12px !important;
    width: 20px !important;
    height: 20px !important;
}
.spinner-crescent circle {

stroke-width: 1px !important;

}
.spinner-crescent circle {
stroke: $orange;
}
.range-ios .range-bar {
    height: 2.5px !important;
}

.range-md .range-bar {
    height: 2.5px !important;
}

.range-md .range-knob-min.range-knob-min .range-knob {
    border: none !important;
}

.range-bar-active {
    background: $orange !important;
}

.range-has-pin {
    padding-top: 0px !important;
}

.range-md.range-disabled .range-knob {
    outline: none !important;
    background-color: #A35F00 !important;
}

.range-md.range-disabled .range-bar {
    background: #616161 !important;
}

// text center
.center-text {
    text-align: center;
}
.right-text{
    text-align: right;
}

.refresher-pulling-icon,
.refresher-refreshing-icon {
    color: $orange !important;
}

.has-refresher > .scroll-content {
    border-top: none !important;
}

/* .spinner-ios-ios line,
.spinner-ios-ios-small line {
    stroke: none !important;
}*/

.alert-checkbox-label {
    color: white !important;
}

[aria-checked=true] .alert-checkbox-icon {
    border-color: $orange !important;
    background-color: $orange !important;
}

[aria-checked=true] .alert-checkbox-label {
    color: $orange !important;
}
/*img{
object-fit: contain;
-webkit-object-fit:cover;
-o-object-fit:cover;
-moz-object-fit:cover;
}*/

button.program_flip_button {
    box-sizing: border-box;
    width: 100%;
    padding-top: 150%;
    position: relative;
    span.button-inner {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        img {
            object-fit: cover;
            -webkit-object-fit: cover;
            -o-object-fit: cover;
            -moz-object-fit: cover;
        }
    }
}

button.program_flip_small_button {
    box-sizing: border-box;
    width: 100%;
    padding-top: 85%;
    position: relative;
    span.button-inner {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        img {
            object-fit: contain;
            -webkit-object-fit: cover;
            -o-object-fit: cover;
            -moz-object-fit: cover;
        }
    }
}

.close-modal {
    border: none;
    color: $orange;
    text-transform: capitalize;
}

.alert-md .alert-input {
    color: white !important;
}

.alert-ios .alert-input {
    background-color: transparent !important;
}

.loading-center {
    margin: 44% !important;
    height: 30px;
}

.offline {
    margin: 25% 0% 0% 25%;
}
.fill-green{
    fill:$green;
}
//Toast style
.toast-ios .toast-wrapper,.toast-md .toast-wrapper  {
    margin-bottom: 16% !important;
    background: $gold-0-9;
    transition-property: none !important;
    transform: none !important;
    animation: none !important;
}


.toastClass {
    animation: none !important;
}
.toast-ios .toast-message,.toast-md .toast-message {
padding: 1.4rem;
font-size: 1.4rem;
color: $black;
font-weight: 700;
text-align: center;
}

.picker-ios .picker-below-highlight {
    border-top: none !important;
    background: linear-gradient(to bottom, $item-bg-light-0-9 20%, $item-bg-lighter-0-6 100%);
}

.picker-ios .picker-above-highlight {
    border-bottom: none !important;
    background: linear-gradient(to top, $item-bg-light-0-9 20%, $item-bg-lighter-0-6 100%);
}

.picker-ios .picker-toolbar {
    border-bottom: none !important;
    background: $item-bg-light !important;
}

.picker-ios .picker-wrapper {
    border-top: none !important;
    background: $item-bg !important;
}

.picker-ios .picker-opt {
    color: white !important;
}

.picker-md .picker-below-highlight {
    border-top: none !important;
    background: $menubar-bg !important;
}

.picker-md .picker-toolbar {
    border-bottom: none !important;
    background: $item-bg-light !important;
}

.picker-md .picker-wrapper {
    border-top: none !important;
    background: $item-bg !important;
}

.picker-md .picker-prefix,
.picker-md .picker-suffix,
.picker-md .picker-opt.picker-opt-selected {
    color: white !important;
}

.picker-md .picker-opt {
    color: $txt-primary !important;
}

.datetime-md .datetime-placeholder {
    color: $orange;
}

.datetime-ios .datetime-placeholder {
    color: $orange;
}
.datetime-md {
padding: 2px 10px 2px 10px !important;
}
.datetime-ios {
padding: 2px 10px 2px 10px !important;
}
ion-datetime {
color: $orange !important;
border: solid 1px $orange;
}

.ON {
    color: $green !important;
}

.OFF {
    color: $red !important;
}
.action-sheet-md .action-sheet-container {
background: $item-bg !important;
}
.action-sheet-group{
background: $item-bg !important;
}
.action-sheet-title {
color: $orange !important;
}
.action-sheet-ios .action-sheet-title {
border-bottom: 0.55px solid $item-bg-light;
}
.action-sheet-button {
color: $white !important;
border-bottom: none !important;
}
.action-sheet-button.activated {
background: $item-bg-light !important;
}
.popover-ios .popover-content {
    width: 100% !important;
    border-radius: 0px !important;
    color: $black;
    background: none !important;
    left: 0px !important;
    bottom: 0 !important;
    top: null !important;
}
 .popover-md .popover-content {
    width: 100% !important;
    border-radius: 0px !important;
    color: $black;
    background: none !important;
    left: 0px !important;
    bottom: 0 !important;
    top: null !important;
}
.popover-arrow:after{
    background: $item-bg-light !important;
}
.celsius:after {
    content: "\2103";
}
.no-box-shadow{
    box-shadow: none;
}

/*
Flaticon icon font: Flaticon
Creation date: 14/04/2017 07:06
*/

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-family: Flaticon;
    font-size: 25px;
    font-style: normal;
    /*color:#b4b3b7;*/
    /*margin-left: 20px;*/
}

.flaticon-refrigerator:before {
    content: $font-Flaticon-refrigerator-1;
}

.flaticon-TV:before {
    content: $font-Flaticon-television;
}

.flaticon-Set-Top-Box:before {
    content: $font-Flaticon-satellite-tv;
}

.flaticon-Air-Conditioner:before {
    content: $font-Flaticon-air-conditioner;
}
.flaticon-Vacuum-Cleaner:before {
    content: $font-Flaticon-vacuum-cleaner;
}
.flaticon-Ceiling-Fans:before {
    content: $font-Flaticon-ecological-generator-tool-of-rotatory-fan;
}
.flaticon-Table-Fan:before {
    content: $font-Flaticon-technology-3;
}

.flaticon-Rice-Cooker:before {
    content: $font-Flaticon-rice-cooker;
}
.flaticon-Refrigerator:before {
    content: $font-Flaticon-refrigerator-1;
}
.flaticon-Cordless-Phone:before {
    content: $font-Flaticon-old-mobile-phone;
}
.flaticon-Mobile-Phone:before {
    content: $font-Flaticon-smartphone;
}
.flaticon-Audio-System:before {
    content: $font-Flaticon-sound-system-with-big-speakers;
}

.flaticon-Lights:before {
    content:$font-Flaticon-technology-2;
}
.flaticon-Hair-Dryer:before {
    content:$font-Flaticon-hair-dryer;
}
.flaticon-Coffee-Maker:before {
    content:$font-Flaticon-coffee-machine;
}
.flaticon-DVR:before {
    content:$font-Flaticon-cd-player;
}
.flaticon-Grinder:before {
    content:$font-Flaticon-mixer;
}
.flaticon-Oven:before {
    content:$font-Flaticon-microwave-oven;
}
.flaticon-Induction-Stove:before {
    content:$font-Flaticon-stove-top-view;
}
.flaticon-Washing-Machine:before {
    content:$font-Flaticon-laundry-machine;
}
.flaticon-Monitor:before {
    content:$font-Flaticon-monitor;
}
.flaticon-Water-Purifier:before {
    content:$font-Flaticon-water-heater;
}
.flaticon-Kettle:before {
    content:$font-Flaticon-kettle;
}
.flaticon-Mosquito-Repellant:before {
    content: $font-Flaticon-insecticide;
}
.flaticon-Geysers:before {
    content: $font-Flaticon-water-heater-1;
}
.flaticon-Printer:before {
    content: $font-Flaticon-printer;
}














.flaticon-Game-Console:before{
    content: $font-Flaticon-technology-1;
}
.flaticon-Iron-Box:before{
    content:$font-Flaticon-iron;
}
.flaticon-Coolers:before{
    content:$font-Flaticon-cooler;
}
.flaticon-Computer:before{
    content:$font-Flaticon-desktop-computer;
}
.def-app-icon{
    -webkit-background-image: url('../../assets/img/def-app-icon.svg');
    background-image: url('../../assets/img/def-app-icon.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.def-app-icon.active{
    -webkit-background-image: url('../../assets/img/def-app-icon-active.svg');
    background-image: url('../../assets/img/def-app-icon-active.svg');
    background-repeat: no-repeat;
    background-size: cover;
}








.flaticon-Projector:before {
    content: $font-Flaticon-projector-with-big-len;
}
.flaticon-Toaster:before {
    content: $font-Flaticon-toaster;
}



.flaticon-Media-Streamer:before {
    content: $font-Flaticon-apple-tv;
}

.flaticon-Disc-Player:before {
    content: $font-Flaticon-cd-player;
}

.flaticon-Wifi-Router:before{
    content:$font-Flaticon-router;
}

.flaticon-arrows-up:before {
    content: $font-Flaticon-arrows-3;
}

.flaticon-arrows-left:before {
    content: $font-Flaticon-arrows-1;
}

.flaticon-arrows-right:before {
    content: $font-Flaticon-arrows;
}

.flaticon-arrows-down:before {
    content: $font-Flaticon-arrows-2;
}

.flaticon-thermometer:before {
    content: $font-Flaticon-thermometer;
}

.flaticon-offline:before {
    content: $font-Flaticon-no-phone-1;
    font-size: 16px !important;
}

.flaticon-settings:before {
    content: $font-Flaticon-cogwheel;
    font-size: 20px !important;
}

.flaticon-sun:before {
    content: $font-Flaticon-sun;
}

.flaticon-sun1:before {
    content: $font-Flaticon-sun;
    color: $white;
}

.flaticon-speaker:before {
    content: $font-Flaticon-speaker;
    color: $white;
}

.flaticon-mute:before {
    content: $font-Flaticon-muted;
    font-size: 20px !important;
}

.flaticon-pad-numbers:before {
    content: $font-Flaticon-pad-numbers;
    font-size: 25px !important
}

.flaticon-previous:before {
    content: $font-Flaticon-previous;
}

.flaticon-remote:before {
    content: $font-Flaticon-remote-control-1;
    font-size: 22px;
}

.flaticon-play:before {
    content: $font-Flaticon-play-button;
    font-size: 16px;
}

.flaticon-stop:before {
    content: $font-Flaticon-stop;
    font-size: 16px;
}

.flaticon-pause:before {
    content: $font-Flaticon-pause;
    font-size: 16px;
}

.flaticon-fast-forward:before {
    content: $font-Flaticon-fast-forward;
    font-size: 19px;
}

.flaticon-rewind:before {
    content: $font-Flaticon-rewind;
    font-size: 19px;
}

.flaticon-next:before {
    content: $font-Flaticon-next;
    font-size: 16px;
}

.flaticon-back:before {
    content: $font-Flaticon-back;
    font-size: 16px;
}

.flaticon-temp:before {
    content: $font-Flaticon-thermometer;
}

.flaticon-remote {
    margin-top: 3px;
}

.flaticon-remote:before {
    content: $font-Flaticon-remote-control-1;
}

.fab ion-icon {
    font-size: 3rem !important;
}
.fade-out-ring{
      visibility: hidden;
opacity: 0;
transition: visibility 0s 1.2s, opacity 1.2s linear;
}
.fade-in-ring{
     visibility: visible;
opacity: 1;
transition: opacity .2s linear;
}
@keyframes myAnimation {
0% {
    opacity:100%;
}
75% {
    opacity:25%;
}
100% {
    opacity:0%;
}
}
.vsbl{
opacity: 1;
}
.n-vsbl{
opacity: 0;
z-index:-999999;
pointer-events:none;
}
.no-click-act{
pointer-events:none;
}
.vsbl-0-7{
    opacity:0.7;
}
.bg-dull{
position: absolute;
top: 0;
left: 0;
height: 1500%;
width: 100%;
background: $black;
transition: opacity 1s ease;
}
.fab-tooltip{
position: absolute;
right: 44px;
top: 17px;
background: $gold;
color: $black;
padding: 1.3vw;
border-radius: 2vw;
}
.pos-rel{
position:relative;
}
.wave {

  opacity: .4;
top: -33vw !important;
position: absolute;
top: 3%;
left: 50%;
border: 1px solid $orange;
width: 180vw;
height: 150vw;
margin-left: -319px;
margin-top: -250px;
-webkit-transform-origin: 50% 48%;
transform-origin: 51% 48%;
border-radius: 44%;
-webkit-animation: drift 3000ms infinite linear;
animation: drift 4296ms infinite linear;
}

.wave.-three {
animation: drift 9000ms infinite linear;
}

.wave.-two {
animation: drift 8000ms infinite linear;
opacity: .1;
// background: yellow;
}



@keyframes drift {
from { transform: rotate(0deg); }
from { transform: rotate(360deg); }
}
.total{
content: "• ";
color: $gold; 
}
.opacity-6{
opacity: 0.6;
}
.opacity-8{
opacity: 0.8;
}
.opacity-full{
opacity:1;
}
.opacity-null{
opacity:0;
}

.unavailable{
content: "•x ";
color: $red; 
}

.turned-on{
content: "• ";
color: $green; 
}

.turned-off{
content: "• ";
color: $red; 
}
.no-bullet{
list-style-type: none !important;
}
.display-none{
display: none !important;
}
/*.big-box{
height: 50%;
margin-left: 25%;
width: 45%;
}*/
.d-flex{
 display:flex !important;
}
.align-items-center{
align-items: center;
}

.swiper-pagination-bullet-active {
background: $orange !important;
opacity:1 !important;
}
.swiper-pagination-bullet {
background: $orange !important;

}
.day {
position: relative;
visibility: hidden;
cursor: pointer;
margin: 4.2vw;
}

.day:after  {
display: block;
display: block;
visibility: visible;
line-height: 10vw;
width: 10vw;
height: 10vw;
text-align: center;
border-radius: 4px;
color: $txt-primary;
cursor: pointer;
border-radius: 100%;
border: 1px solid $txt-primary;
}

.day:checked:after {
background: $orange;
color: $black;
border: none;
}
#monday{
margin-left:0px !important;
}
#monday:after{
content: 'M';
}
#tuesday:after{
content: 'T';
}
#wednesday:after{
content: 'W';
}
#thursday:after{
content: 'Th';
}
#friday:after{
content: 'F';
}
#saturday:after{
content: 'Sa';
}
#sunday:after{
content: 'Su';
}



.box-border{
border: 1px solid $orange;
padding: 0.8vw;
font-size: 1.3rem;
color: $orange;
}

