page-home {
    .pos-abs{
        position: absolute;
        top:0;
        left:0;
    }
    .motion-sens{
        height: 100vw;
        background: $menubar-bg;
    }
    .block-top {
       // background: $item-bg;
        margin: 11px 4px 2px 4px;
        height: 18vw;
       // border-radius: 3vw;
    }
    #myFixedHeightContainer {
        height: 35vw;
    }
    .def-app-icon::before {
        content: "";
        /* font-size: 20px; */
        line-height: 10px;
        margin-bottom: -1.2rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 5rem;
        width: 50px;
        display: block;
        background: url('../assets/img/def-app-icon.png');
        background-size: cover;
    }
    .def-app-icon.active::before {
        content: "";
        /* font-size: 20px; */
        line-height: 10px;
        margin-bottom: -1.2rem;
        margin-left: -1rem;
        margin-top: -1rem;
        height: 5rem;
        width: 50px;
        display: block;
        background: url('../assets/img/def-app-icon-active.png');
        background-size: cover;
    }
    .block-top-chart {
        background: $item-bg;
        margin: 15px 4px 2px 4px;
        border-radius: 3vw;
    }
    .room-box{
        border-radius: 4vw;
        height: 10rem !important;
    }
 
    .block1 {
        padding: 0 2px 0 2px;
        margin-top: -10px;
        .c1,
        .c2,
        .c3 {
            background: $item-bg;
            border: 3px solid $body-bg;
            border-radius: 4vw;
            height: 13rem;
            .button-inner {
                display: block !important;
            }
        }
    }
    .blockx .c1{
        background: $item-bg;
        border: 3px solid $body-bg;
        border-radius: 4vw;
        height: 9rem;
        margin-top: 1vw;
        .button-inner {
            display: block !important;
        }
    }
    .stats{
        height: 4rem !important;
        background: $menubar-bg;
        border: 2px solid $body-bg;
        line-height: 3rem;
        font-size: 1.6rem;
        border-radius: 10px;
    }
    .bdr-btom{
        border-bottom:1px solid $item-bg-light;
    }

    .padding-1{
        padding: 1vw;
    }
    .block1 .c3 .button-inner {
        display: flex !important;
    }
    .right-corner{
    position: absolute;
    right: 0;
    top: 0;
    }
    .block2 {
        padding: 0 2px 0 2px;
        margin-top: -10px;
        .c1,
        .c2,
        .c3 {
            background: $item-bg;
            border: 3px solid $body-bg;
            border-radius: 4vw;
            height: 12.5rem;
        }
    }
    .minus {
        position: absolute;
        right: 5px;
    }
    .ion-ios-remove-outline:before {
        line-height: 2px;
        text-align: center;
    }
    .fav-icon-r {
        position: absolute;
        right: 5px;
    }
    .fav-icon-l {
        position: absolute;
        left: 5px;
    }
    /*[class^="flaticon-"]:before, [class*=" flaticon-"]:before, {
        font-size: 4rem !important;
    }*/
    .ptl-5 {
        padding: 10px 0px 10px 5px !important;
    }
    p {
        -webkit-margin-before: 0.4em;
    }
    .item-inner {
        border-bottom: none !important;
    }
    @keyframes jiggle {
        0% {
            transform: rotate(-1deg);
        }
        50% {
            transform: rotate(1deg);
        }
    }
    @-webkit-keyframes jiggle {
        0% {
            -webkit-transform: rotate(-1deg);
        }
        50% {
            -webkit-transform: rotate(1deg);
        }
    }
    @-moz-keyframes jiggle {
        0% {
            -moz-transform: rotate(-1deg);
        }
        50% {
            -moz-transform: rotate(1deg);
        }
    }
    .edit-shortcut {
        animation: jiggle 0.2s infinite;
        -webkit-animation: jiggle 0.2s infinite;
        -moz-animation-duration: 0.2s;
        -moz-animation-name: jiggle;
        -moz-animation-iteration-count: infinite;
        -webkit-transform: rotate(-1deg);
        -moz-transform: rotate(-1deg);
    }
    .my-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 20;
  top: 0;
  left: 0;
}














//epg style
    ion-scroll {
        white-space: nowrap;
        height: calc(45vw + 4rem + 18px);
        text-align: center;
        margin: 2px !important;
        margin-bottom: 2px;
        padding: 2px !important;
    }
    ion-img {
        display: inline-block;
        width: 120px;
        height: 180px;
        object-fit: cover;
        padding: 0px !important;
        // green background color
        background: $menubar-bg !important;
        contain: strict;
    }

    .epg-title{
        margin: 3vw;
        margin-bottom: 0vw;
        /*margin-top: 5vw;*/
    }

    .img-thumb {
        background: white;
        width: 78px !important;
        height: 60px !important;
    }

    img {
        margin: 0 !important;
    }

    ion-card {
        display: inline-block;
        background: none !important;
        margin: 0px !important;

    }
    .card-content {
        padding: 0px !important;
        font-size: 1.4rem;
    }
    .card-title {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card-subtitle {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    .card {
        margin: 0px !important;
        padding: 0px !important;
        width: 100%;
        background: none !important;
        margin-right: 2px !important;
    }
    .item.item-block .item-inner {
        padding: 0px !important;
    }
    // new design
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: $white;
            padding: 0px 4px 0px 4px !important;
        }
        .card-subtitle {
            font-size: 1.0em;
            position: absolute;
            line-height: 1.5rem;
            top: 52%;
            width: 100%;
            color: $white;
            padding: 0px 4px 0px 4px !important;
        }
    }
    .item:last-child {
        border-bottom: none !important;
    }
    .scroll-zoom-wrapper {
        text-align: left;
    }

    .program-horizontal-scroll {
        white-space: nowrap;
       /* margin-left: 40px !important;*/
        .showDiplayBlock {
            width: 30%;
            display: inline-block;
        }
    }
    .program-horizontal-scroll.small {
        white-space: nowrap;
        height: calc(22.5vw + 4rem + 18px);
        .program_flip_button {
            padding-top: 75%;
        }
    }
      .small .btn1.active .img3,
    {
        display: block !important;
        position: absolute;
        bottom: 0px;
        width: 29.5%;
        height: 52px;
        /*margin: 0.4rem 0.22rem;*/
        margin: 4px 2px;
        background: $body-bg !important;
    }







    /*
 * Locker
 */

$blue: $item-bg-light;
$grey-1: $orange;
$grey-2: $body-bg;
$grey-3: $txt-primary;
$grey-4: $item-bg-light;
$white: $item-bg;

$locker-size: 145px;
$locker-half: ($locker-size / 2);

$key-width: 19px;
$key-height: 63px;
$key-half-height: $key-height / 2;

.behind-the-locker {

  width:100%;
  z-index: -1;
}
.locked-img{
    height:10vw;
}
.locker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  
  
  &--top,
  &--bottom {
    position: absolute;
    display: block;
    width: 100%;
    height: 50%;
  }
  
  &--top:after,
  &--bottom:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
  }
  
  &--top {
    top: 0;
    border-bottom: 7px solid $grey-2;
    z-index: 10;
    
    &:after {
      bottom: 0;
      border-bottom: $grey-4 solid 20px;
    }
  }

  &--bottom {
    top: 50%;
    border-top: 7px solid $grey-2;
    z-index: 5;
    
    &:before {
      top: 0;
      border-top: $grey-4 solid 20px;
    }
  }
  
  &--lock {
    position: absolute;
    left: 50%;
    bottom: -($locker-half) - 6px;
    margin-left: -($locker-half);
    z-index: 10;
    
    svg {
      width: $locker-size;
      height: $locker-size;
      enable-background: new 0 0 130 130;
    }
    img{
        position: absolute;
        left: 35%;
        bottom: ($locker-half) - 16px;
    }
    &__grey {
      fill: none;
      stroke: $grey-2;
      stroke-width: 7.5px;
      stroke-miterlimit: 10px;
    }

    &__blue {
      fill: $white;
      stroke: $blue;
      stroke-width: 15px;
      stroke-miterlimit: 10px;
    }

    &__hole {
      fill: $grey-1;
    }
    
    &--unlock {
      transform: rotate(180deg);
    }
  }

  &--button {
    position: absolute;
    display: inline-block;
    margin: 25px;
    padding: 10px 15px;
    font-size: 16px;
    color: $white;
    background-color: $blue;
    border: none;
    border-shadow: none;
    z-index: 15;
    
    & + .locker--button {
      margin-left: 195px;
    }
  }
}

/*
 * Animations
 */

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  
  &.fast {
    animation-duration: .5s;
  }
}

@keyframes slideInDown {
  from {
    transform: translate3d(0, -200%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInDown {
  animation-name: slideInDown;
}

@keyframes slideInUp {
  from {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.slideInUp {
  animation-name: slideInUp;
}

@keyframes slideOutDown {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, 100%, 0);
  }
}

.slideOutDown {
  animation-name: slideOutDown;
}

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -200%, 0);
  }
}

.slideOutUp {
  animation-name: slideOutUp;
}

@keyframes spin {
  100% {
    transform:rotate(90deg);
  }
}

.spin {
  animation-name: spin;
}
}
