<ion-header>
	<ion-navbar>
		<!-- <ion-title>Dashboard</ion-title> -->
		<ion-title>
			<ion-icon *ngIf="home_lock" class="mr-1-8vw txt-gold" name="ios-lock-outline"></ion-icon>{{home_name}}</ion-title>
		<ion-buttons end class="txt-gold">

			<button (click)="goToNotifications();" id="step_three" class="noti-fab-btn txt-gold" *ngIf="kiot_internet=='online'">
                <span *ngIf="num_of_notifications" class="noti-num">{{num_of_notifications}}</span>
                <ion-icon *ngIf="num_of_notifications" name="ios-notifications-outline" class="txt-orange font-3rem"></ion-icon>
                <ion-icon *ngIf="!num_of_notifications" name="ios-notifications-outline" class="txt-normal font-3rem"></ion-icon>
                <!-- <img *ngIf="num_of_notifications" src="assets/img/notification.png">
                <img *ngIf="!num_of_notifications" src="assets/img/notification (1).png"> -->
            </button>
		</ion-buttons>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<div *ngIf="kiot_internet=='offline'" text-center style="margin-top: 25vw;">
		<img src='assets/img/offline1.png' class="offline" />
		<button full ion-button (click)="retry()" class="txt-gold" [disabled]="retry_loading">
            RETRY
            <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
        </button>
		<p class='txt-gold center-text'>But Still you can switch on/off the appliances and operate remotes!</p>
	</div>
	<!--div *ngIf="kiot_internet=='online'" class="pos-abs" ngClass="{{home_lock?'opacity-1':'opacity-0'}}">
        <div>
            <ion-row class="w-100vw h-55vw">
                <ion-col col-12 text-center align-self-center>
                    <img src="assets/img/home-lock.png">
                </ion-col>
            </ion-row>
            <ion-row class="w-100vw ">
                <ion-col col-12 align-self-center text-center>
                    <h2 class="txt-orange">{{home_name}} </h2>
                    <h4>Locked</h4>
                </ion-col>
            </ion-row>
        </div>
        <div class="motion-sens">
            <br>
            <h6 text-center>No motion Detected in Home</h6>
        </div>
    </div-->
	<section #locker class="locker" [hidden]="dont_show_lock || !home_lock">

		<div #lockerTop class="locker--top animated">
			<div>
				<div #lockerLock class="locker--lock" (click)="triggerLockUnlock(false)">
					<svg viewBox="0 0 130 130">
						<path class="locker--lock__grey" d="M65,125L65,125C32,125,5,98,5,65v0C5,32,32,5,65,5h0c33,0,60,27,60,60v0C125,98,98,125,65,125z"
						/>
						<path class="locker--lock__blue" d="M66,16.5h-2c-26.1,0-47.5,21.4-47.5,47.5v2c0,26.1,21.4,47.5,47.5,47.5h2c26.1,0,47.5-21.4,47.5-47.5v-2
           C113.5,37.9,92.1,16.5,66,16.5z" />

					</svg>
					<img class="locked-img" src="assets/img/locked.svg">
				</div>
			</div>
		</div>
		<div #lockerBottom class="locker--bottom animated"></div>

	</section>
	<div *ngIf="kiot_internet=='online'" class="pos-abs behind-the-locker" ngClass="{{home_lock?'opacity-0':'opacity-1'}}">
		<!-- <h1>Welcome, <span class="txt-orange"> {{username}}</span></h1><br> -->
		<ion-row class="block-top-chart">
			<ion-col>
				<ion-row class="bdr-btom" no-padding>
					<ion-col col-8>Power Consumption</ion-col>
					<ion-col text-right>
						<ion-icon name="flash" class="txt-orange"></ion-icon> {{home_energy}} WH
					</ion-col>
				</ion-row>
				<ion-row class="no-data" (click)="goToPowerStats()" id="myFixedHeightContainer">
					
						<canvas #lineCanvas height="110" ngClass="{{show_chart?'fade-in-ring':'fade-out-ring'}}"></canvas>
					
					<div text-center class="txt-normal no-data-txt" ngClass="{{show_chart?'opacity-null':'opacity-full'}}">No Data available</div>
				</ion-row>
			</ion-col>
		</ion-row>
		<!--div *ngIf="all_rooms?.length">
            <div class="font-1-5rem txt-white epg-title" strong> Sensors </div>
            <ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" direction="x" class="h-11rem ml-5px" zoom="false">
                <div ion-button class="w-30vw room-box btn-block btn padding-1" no-padding *ngFor="let room of all_rooms">
                    <ion-row text-left>
                        <ion-col class="txt-normal">{{room?.room_name}}</ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left>
                            <ion-icon name="ios-thermometer-outline" class="txt-normal font-2"></ion-icon> {{room_sensor_data[room?.room_id].tempr||'-'}}
                        </ion-col>
                        <ion-col text-right>
                            <ion-icon name="ios-water-outline" class="txt-normal font-2"></ion-icon> {{room_sensor_data[room?.room_id].hum||'-'}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left>
                            <ion-icon name="walk" class="txt-normal font-2"></ion-icon>
                            <ion-icon name="ios-radio-button-on" ngClass="{{room_sensor_data[room?.room_id].motion=='unreachable'?'txt-normal ':room_sensor_data[room?.room_id].motion=='detected'?'txt-green':room_sensor_data[room?.room_id].motion=='not_detected'?'txt-red':''}}"></ion-icon>
                        </ion-col>
                        <ion-col text-right>
                            <ion-icon name="ios-sunny-outline" class="txt-normal font-2"></ion-icon>
                            {{room_sensor_data[room?.room_id].analog||'-'}}
                        </ion-col>
                    </ion-row>
                </div>
            </ion-scroll>
        </div-->
		<!--div class="font-1-5rem txt-white epg-title" strong> Switches Status </div-->
		<ion-row class="blockx" id="step_one">
			<ion-col col-4 class="c1" text-center align-self-center ion-button>
				<ion-row>
					<ion-col text-left class="ptl-5">
						<!--ion-icon name="ios-close-circle" class="txt-red font-4rem"> 
            </ion-icon-->
						<img src="assets/img/no-signal-red.svg" class="h-2-7rem">
					</ion-col>
					<ion-col text-center align-self-center class="ptl-5 font-2-4rem">{{total_switches-active_switches-inactive_switches
						<0?0:total_switches-active_switches-inactive_switches}} </ion-col>
				</ion-row>
				<ion-row>
					<ion-col text-left class="plr-5">
						<div style="margin-top: 0.5vw">
							<span class="txt-normal font-1-3rem ellipses">Unreachable</span>
						</div>
					</ion-col>
				</ion-row>
				</ion-col>
				<ion-col col-4 class="c1" text-center align-self-center ion-button>
					<ion-row>
						<ion-col text-left class="ptl-5">
							<!--ion-icon name="ios-radio-button-on" class="txt-green font-4rem">
							</ion-icon-->
							<i class="flaticon-Lights txt-gold"></i>

						</ion-col>
						<ion-col text-center align-self-center class="ptl-5 font-2-4rem">{{active_switches}} </ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-left class="plr-5">
							<div style="margin-top: 0.5vw">
								<span class="txt-normal font-1-3rem ellipses">Turned On</span>
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
				<ion-col col-4 class="c1" text-center align-self-center ion-button>
					<ion-row>
						<ion-col text-left class="ptl-5">
							<!--ion-icon name="ios-radio-button-on" class="txt-red font-4rem">
							</ion-icon-->
							<i class="flaticon-Lights txt-normal"></i>
						</ion-col>
						<ion-col text-center align-self-center class="ptl-5 font-2-4rem">{{inactive_switches}} </ion-col>
					</ion-row>
					<ion-row>
						<ion-col text-left class="plr-5">
							<div style="margin-top: 0.5vw">
								<span class="txt-normal font-1-3rem ellipses">Turned Off</span>
							</div>
						</ion-col>
					</ion-row>
				</ion-col>
		</ion-row>

		<ion-item class="txt-white bg-none" text-left full no-margin>Shortcuts
			<span item-right class="txt-orange" (click)="editShortcuts()">{{is_edit?'Save':'Edit'}}</span>
		</ion-item>
		<ion-row class="block1" id="step_one">
			<ion-col col-4 class="c1" ngClass="{{is_edit?'edit-shortcut':''}}" text-center align-self-center ion-button (click)="doAction(i,ind)"
			 *ngFor="let i of switch_shortcuts;let ind=index" [disabled]="!dev_avail[i.switch_appliance.sboard_id.device_id]?.on_available&&!dev_avail[i.switch_appliance.sboard_id.device_id]?.off_available">
				<ion-row>
					<ion-col text-left class="ptl-5 ">
						<i ngClass="{{appliance_types[i?.switch_appliance?._id]?app_icons[appliance_types[i?.switch_appliance?._id]]:''}}" [class]="dev_avail[i?.switch_appliance?.sboard_id?.device_id]?.relays[i?.switch_appliance.switch_no-1]?'txt-gold active':'txt-normal'"></i>
						<img src="assets/img/def-app-icon.svg" *ngIf="appliance_types[i?.switch_appliance?._id]=='def-app-icon'">
						<!-- <ion-icon name="ios-bulb-outline" class="txt-gold font-4rem"> 
                        </ion-icon>-->
						<ion-spinner *ngIf="i.show_loader" name="dots" class="txt-gold right-corner"></ion-spinner>
						<ion-icon name="ios-remove-outline" class="minus txt-red" *ngIf="is_edit"></ion-icon>
					</ion-col>
				</ion-row>
				<ion-row>
					<ion-col text-left class="plr-5">
						<div style="margin-top: 5.5vw">
							<span class="txt-white font-1-6rem ellipses">{{i.switch_appliance?.name}}</span>
							<p class="txt-normal font-1-3rem ellipses">{{i.switch_appliance?.room_id?.name}}</p>
						</div>
					</ion-col>
				</ion-row>
			</ion-col>
			<ion-col *ngIf="switch_shortcuts?.length<6" col-4 class="c3" text-center align-self-center ion-button (click)="doAddShortcuts()">
				<ion-icon *ngIf="!shortcuts_loading" name="ios-add-circle-outline" class="txt-orange font-5rem "></ion-icon>
				<ion-spinner *ngIf="shortcuts_loading" name="ios-small" class="txt-gold"></ion-spinner>
			</ion-col>
		</ion-row>
		<div class="font-1-5rem txt-white epg-title" strong *ngIf="colData[0] && kiot_internet=='online'"> Now Playing on Favourites </div>
		<ion-scroll scrollX="true" scrollbar-x="false" scrollbar-y="false" direction="x" class="ml-5px small program-horizontal-scroll"
		 zoom="false">
			<div *ngFor="let j of colData" class="showDiplayBlock">
				<ion-card class="btn1">
					<button ion-button text-center class="bdr-btom-none info program_flip_button">
                                    <img [src]="j?.program?.thumbnail||j?.program?.thumbnailw92||j?.program?.thumbnailw154||j?.program?.thumbnailw780||j?.program?.poster||j?.program?.posterw92||j?.program?.posterw154||'assets/img/unavailable.png'" class="wh-100 img1" />
                                </button>
					<p class="txt-hide progressbar">
						<svg [attr.width]="j.duration" height="3" style="display: block;position: relative;">
							<rect width="100%" height="100%" style="fill:#50cd03;"> </rect>
						</svg>
					</p>
					<div class="txt-hide1">
						<p text-center class="card-title txt-white font-1-3rem ellipses">{{j.program.mainprogramname||j.program.name}}</p>
						<p text-center class="card-subtitle txt-gold font-1-3rem ellipses">{{j.channel_name}}</p>
						<ion-spinner class="loading-tile" *ngIf="j.show_loader" name="dots"></ion-spinner>
					</div>
				</ion-card>

			</div>
		</ion-scroll>
	</div>



	<ion-fab *ngIf="kiot_internet=='online'&&!home_lock" right bottom color="Red" class="fab1">
		<button ion-fab (click)="lockHome()">
    <ion-icon name="ios-lock-outline"></ion-icon>
  </button>
	</ion-fab>
	<!--ion-fab *ngIf="kiot_internet=='online'&&home_lock" right bottom color="Red" class="fab1">
        <button ion-fab (click)="triggerLockUnlock(false)">
    <ion-icon name="ios-unlock-outline"></ion-icon>
  </button>
    </ion-fab-->
</ion-content>