<ion-header>
    <ion-navbar>
        <ion-title>Notifications</ion-title>
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>

    <h4 *ngIf="today_notifications.length" class="noti-heading">Today</h4>

    <ion-list no-padding no-margin>
        <ion-item-sliding *ngFor="let i of today_notifications">
            <ion-item class="itm" (click)="showToast(i)">
                <ion-row class="notif-head">
                    <ion-col>
                        <ion-icon [name]="icons[i.data.superType]" class="txt-orange"></ion-icon>
                        {{i.data.superType}}
                    </ion-col>
                    <ion-col>
                        <span class="align-right font-1-1rem">{{i.updatedAt | date:'shortTime'}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="notif-msg">
                    <ion-col>
                        <span ngClass="{{i.seen?'txt-white':'txt-gold'}}" class="font-1-5rem ellipses">{{i.data.notif_heading}}</span><br>
                        <span class="txt-normal font-1-1rem "> {{i.data.notif_message}}</span>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="moreDetails(i)" class="btn-more">
                    <ion-icon name="ios-more"></ion-icon>
                    More 
                </button>
                <button ion-button color="primary" *ngIf="btn_types[i.type] && !i.action_taken" (click)="notifAction(i,0)" class="btn-more">
                    <ion-icon name="{{btn_types[i.type][0].icon}}"></ion-icon>
                    {{btn_types[i.type][0].name}}
                </button>
                <button ion-button color="danger" *ngIf="btn_types[i.type] && !i.action_taken" (click)="notifAction(i,1)" class="btn-more">
                    <ion-icon name="{{btn_types[i.type][1].icon}}"></ion-icon>
                    {{btn_types[i.type][1].name}}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>


    <h4 *ngIf="earlier_notifications.length" class="noti-heading">Earlier</h4>



    <ion-list no-padding no-margin>
        <ion-item-sliding *ngFor="let j of earlier_notifications">
            <ion-item class="itm" (click)="showToast(j)">
                <ion-row class="notif-head">
                    <ion-col>
                        <ion-icon  [name]="icons[j.data.superType]"  class="txt-orange"></ion-icon>
                        {{j.data.superType}}
                    </ion-col>
                    <ion-col>
                        <span class="align-right font-1rem">{{j.updatedAt | date}}</span>
                    </ion-col>
                </ion-row>
                <ion-row class="notif-msg">
                    <ion-col>
                        <span ngClass="{{j.seen?'txt-white':'txt-gold'}}" class="font-1-5rem ellipses">{{j.data.notif_heading}}</span><br>
                        <span class="txt-normal font-1-1rem "> {{j.data.notif_message}}</span>
                    </ion-col>
                </ion-row>
            </ion-item>
            <ion-item-options side="right">
                <button ion-button (click)="moreDetails(j)" class="btn-more">
                    <ion-icon name="more"></ion-icon>
                    More 
                </button>
                <button ion-button color="primary" *ngIf="btn_types[j.type] && !j.action_taken" (click)="notifAction(j,0)" class="btn-more">
                    <ion-icon name="{{btn_types[j.type][0].icon}}"></ion-icon>
                    {{btn_types[j.type][0].name}}
                </button>
                <button ion-button color="danger" *ngIf="btn_types[j.type] && !j.action_taken" (click)="notifAction(j,1)" class="btn-more">
                    <ion-icon name="{{btn_types[j.type][1].icon}}"></ion-icon>
                    {{btn_types[j.type][1].name}}
                </button>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>
    <ion-infinite-scroll *ngIf="!no_more_notifications" (ionInfinite)="getNotifs(offset,$event)">
        <ion-infinite-scroll-content>
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>