page-notification-disp {
    .list ion-item-options {
        border-bottom: 1px solid $item-bg-light;
    }
    .itm{
    	max-height: none !important;
    	background: transparent !important;
    	padding: 10px 10px 0px 10px !important;
    }
    .itm .item-inner {
    border-bottom: none !important;
    max-height: none !important;
    padding: 0 !important
	}
	.label{
		margin:0 !important;
	}
	.noti-heading{
		padding-left:4vw;
		margin-bottom: 0 !important;
	}
	.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
		border-bottom: none;
	}
    .notif-head {
        background: #343434;
        height: 4rem;
        line-height: 3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
            padding: 0 4px 0 4px;
    }
    .notif-msg{
    	background: $menubar-bg;
    	border-bottom-left-radius: 1rem;
    	border-bottom-right-radius: 1rem;
    	height: 7rem;
    	/*border: 0.5px solid #343434;*/
    	    padding: 0 4px 0 4px;
    }
    ion-item-options {
    	border-bottom: none !important;
    	margin-top: 1rem;
    	padding-bottom: 1rem !important;
	}
	ion-item-options .button{
		padding: 0 1.7rem !important;
	}
	.btn-more{
		border-radius: 1rem !important;
    	margin-right: 0.7rem !important;
    	width: 25vw !important;
	}
    .noti-num{
        background: $orange;
        color: $black;
        min-width: 4vw; 
        min-height: 3vw;
        position: absolute;
        right: 5px;
        line-height: 3vw;
        border-radius: 50%;
    }
}



