page-create-ticket {
    .itm-txtarea{
        height:17rem;
        color:$white;
    }
    .desc-size{
        position: absolute;
        top: 3vw;
        right: 0;
        font-size: 1rem;
    }
}
