<ion-header>

  <ion-navbar>
    <ion-title>New Compliant</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-divider class="itm-divider-btom">
    <span class="txt-silver">Create a new ticket</span>
  </ion-item-divider>
  <ion-item class="itm">
    <ion-label>Issue Type</ion-label>
    <ion-select [(ngModel)]="issueType">
      <ion-option *ngFor="let i of conf.types" [value]="i.key">{{i.text}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item class="itm" *ngIf="issueType=='hardware'">
    <ion-label>Device</ion-label>
    <ion-select *ngIf="!wait_for_devices" [(ngModel)]="deviceObj">
      <ion-option *ngFor="let i of devices_in_rooms" [value]="i.obj">{{i.str}}</ion-option>
    </ion-select>
    <ion-spinner item-right name="dots" *ngIf="wait_for_devices"></ion-spinner>
  </ion-item>
  <ion-item class="itm" *ngIf="issueType && issueType!='other'">
    <ion-label>Issue</ion-label>
    <ion-select [(ngModel)]="issueTitle">
      <ion-option *ngFor="let i of conf.queries[issueType]" [value]="i.title">{{i.title}}</ion-option>
    </ion-select>
  </ion-item>
  <ion-item *ngIf="(issueType && issueTitle) || issueType=='other'" class="itm">
    <ion-label>Issue Title</ion-label>
    <ion-input type="text" item-right text-right [(ngModel)]="issueTitle2" [value]="issueTitle" [disabled]="issueTitle!='other'&&(issueType!='other')"></ion-input>
  </ion-item>
  <ion-item *ngIf="(issueType && issueTitle) || issueType=='other'" class="itm-txtarea">
    <ion-label stacked>Description
      <span class="desc-size">{{issueDesc.length}}/{{maxChar}}</span>
    </ion-label>
    <ion-textarea style="height:100%" maxlength="300" rows="6" [(ngModel)]="issueDesc"></ion-textarea>
  </ion-item>

  <br>
  <button ion-button full *ngIf="(issueType && issueTitle) || issueType=='other'" (click)="createTicket()">Submit</button>
</ion-content>