<ion-header>
  <ion-navbar>
    <ion-title>Schedule</ion-title>
    <ion-buttons end>
      <button class="txt-orange bg-none" (click)="goToEditSchedule()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Schedule Details</span>
    </ion-item-divider>
    <!--ion-item class="itm">
      <span>Schedule Name</span>
      <span item-right class="txt-normal">{{schedule_details.scheduleName}}</span>
    </ion-item-->
    <ion-item class="itm">
      <span>Action</span>
      <span item-right class="txt-normal" [class]="schedule_details.args.switch_state | toggleValue">{{schedule_details.args.switch_state | toggleValue}}</span>
    </ion-item>
    <ion-item class="itm">
      <span>Time</span>
      <span item-right class="txt-normal">{{schedule_details.hour>12?schedule_details.hour-12:schedule_details.hour}}:{{schedule_details.mins<10?'0':''}}{{schedule_details.mins}} {{schedule_details.hour>11?'PM':'AM'}}</span>
    </ion-item>
    <ion-item class="itm">
      <span>Repeats</span>
      <span item-right class="txt-normal">{{schedule_details.days.length?repeats_string:'None'}}</span>
    </ion-item>
  </ion-item-group>
  <br>
  <button class="btn txt-red" ion-button full (click)="deleteSchedule()">Delete Schedule </button>
</ion-content>