<ion-header>
	<ion-navbar>
		<ion-title>Edit Profile</ion-title>
	</ion-navbar>
</ion-header>
<ion-content no-padding>
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Edit profile details</span>
		</ion-item-divider>
		<ion-item class="itm">
			<ion-label>Name</ion-label>
			<ion-input type="text" item-right class="txt-normal" [(ngModel)]="name" (ngModelChange)="onChange()" text-right placeholder="Enter Name"></ion-input>
		</ion-item>
		<!--ion-item class="itm">
			<ion-label>Mobile No</ion-label>
			<ion-input type="text" maxlength="10"  item-right class="txt-normal" [(ngModel)]="phone" (ngModelChange)="checknum()" [ngModelOptions]="{standalone: true} "  text-right placeholder="Enter Mobile No" ></ion-input>
		</ion-item-->
		<ion-item class="itm">
			<ion-label>Gender</ion-label>
			<ion-select [(ngModel)]="gender">
				<ion-option value="m">Male</ion-option>
				<ion-option value="f">Female</ion-option>
			</ion-select>
		</ion-item>
	</ion-item-group>
	<br>
	<ion-item-group>
		<ion-item-divider class="itm-divider-btom">
			<span class="txt-silver">Edit Defaults</span>
		</ion-item-divider>
		<ion-item class="itm">
			<ion-label>Default Set Top Box </ion-label>
			<span item-right class="box-border" (click)="openSelect('set')">{{defaults?.stb?.name ||'Select'}}</span>
		</ion-item>
		<ion-select #defset [(ngModel)]="defaults.stb" class="display-none">
			<ion-option [value]="i" *ngFor="let i of apps_set">{{i.name}}</ion-option>
		</ion-select>
		<ion-item class="itm">
			<ion-label>Default TV </ion-label>
			<span item-right class="box-border" (click)="openSelect('tv')">{{defaults?.tv?.name||'Select'}}</span>
		</ion-item>
		<ion-select #deftv [(ngModel)]="defaults.tv" class="display-none">
			<ion-option [value]="i" *ngFor="let i of apps_tv">{{i.name}}</ion-option>
		</ion-select>
	</ion-item-group>
	<br>
	<button ion-button text-center full class="txt-orange" (click)="updateProfile()" [disabled]="disUpdate">
		Update Profile</button>
</ion-content>