page-num-pad1 {
.btn_calc{
    background:$item-bg;
    /*border:2px solid $black;
    height: 5rem;
    width: 9rem;*/
    width: 100%;
    height: 100%;
    font-size:2rem !important;
    line-height: 8rem;
    margin: 0 !important;
   border-radius: 0 !important;
}
.btn_calc.activated{
    background:$item-active !important;
}
.btn_calc_val{ 
   /* border:1px solid #323232;*/
    height: 11rem;
    font-size:4rem;
    line-height: 13rem;
}
.bg-gold{
    background-color: $gold !important;
}

.invalid{
     -webkit-animation: shake .6s linear;
}
@-webkit-keyframes shake {
    0% {
        left:-10px;
    }
    16% {
        left:9px;
    }
    33% {
        left:-6px;
    }
    50% {
        left:5px;
    }
    66% {
        left:-2px;
    }
    83% {
        left:1px;
    }
    100% {
        left: 0px;
    }
}
    .curvy-edges{
        border-radius: 78px !important;
        border: solid 0.8px $orange !important;
    }
    .m-50{
        margin-top:50px;
    }
    .channel-img{
        height: 90px;
    border-radius: 10px;
    border: 0.6px solid $item-bg-light;
    }
    >.popover-content{
    left: 0vw !important;
     bottom: 0vw !important;
    width: 100% !important;
    border-radius: none !important;
    background: none !important;
    }
}
