<ion-header>
    <ion-navbar>
        <ion-title>{{remote_name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <!--button *ngFor="let i of remote_keys1" ion-button block full class="txt-orange" (click)="triggerIr(i)">{{i}}</button-->
    <!--ac-remote *ngIf="remote=='Air Conditioner'" (trigger)='triggerIr(obj)'></ac-remote>
  <tv-remote *ngIf="remote == 'TV'"></tv-remote-->
    <!-- AC REMOTE___________________________________________________________________________-->
    <div class="remote-layout-wrap ac-class" no-padding *ngIf="remote=='Air Conditioner'">
        <div class="display-screen-div flex display-flex">
            <div class="display-content display-flex">
                <ion-row class="bdr-none current-settings-display btn-tab" *ngIf="!wait_flag">
                    <ion-col text-center align-self-center class="txt-field">
                        <div>
                            {{current_ac_status?.temp_set}}<sup class="celsius txt-sup"><span style="vertical-align: -webkit-baseline-middle;"></span></sup>
                            <sub class="txt-white txt-sub">
                  <img src="{{'assets/icon/'+current_ac_status?.mode_set+'.svg'}}" class="mode-icon"> {{current_ac_status?.mode_set}} 
                </sub>
                        </div>

                    </ion-col>
                </ion-row>
                <ion-row class="bdr-none current-settings-display btn-tab" *ngIf="wait_flag">
                    <ion-col text-center align-self-center >
                        <span class="font1-1rem txt-orange">Downloading Remote .. </span>
                        <span class="font-2rem txt-white">{{(progress[0]/total_tuples)*100 | number:'1.0-0'}}%</span>
                        <br>
                        <span class="font-1-1rem txt-normal">(This happens only once)</span>
                        <!--round-progress style="padding-bottom:30% !important;width:30%" [current]="progress[0]" [max]="total_tuples" [stroke]="20"
                            [on]="'true'">
                        </round-progress-->

                    </ion-col>
                </ion-row>

                <ion-row *ngIf="current_ac_status?.power_set=='ON' &&!wait_flag">
                    <ion-col class="font-1-5rem" padding-left>
                        <!--p class="font-1-5rem mb-6px txt-white">Room temp: <span class="txt-gold"> {{current_ac_status?.temp_set}}<sup class="txt-sup">o<span style="vertical-align: -webkit-baseline-middle;">C</span></sup>
                            </span>
                        </p-->
                    </ion-col>
                    <ion-col col-2>&nbsp;</ion-col>
                    <ion-col col-1 class="mb-2vw">
                        <span class="demoSpan1" ngClass="{{current_ac_status?.fan_set!='FAN_AUTO'?'active':''}}">
                <span class="demoSpan2" ngClass="{{current_ac_status?.fan_set=='FAN_MID'||current_ac_status?.fan_set=='FAN_HI'?'active':''}}">
                  <span class="demoSpan3"  ngClass="{{current_ac_status?.fan_set=='FAN_HI'?'active':''}}">
                </span>
                        </span>
                        </span>
                    </ion-col>
                    <ion-col col-2 align-self-center class="pr-5pxs"><span class="font-1-3rem txt-white">Speed</span>
                        <br> <span class="font-1-3rem txt-gold">{{current_ac_status?.fan_set.slice(4,8)}}</span></ion-col>

                </ion-row>
                <ion-row>

                    <div class='wave -one'></div>
                    <div class='wave -two'></div>
                    <div class='wave -three'></div>
                    <!--ion-col col-1></ion-col>
                    <ion-col col-6>
                        <h5 class="txt-orange">Loading Remote </h5>
                    </ion-col>
                    <ion-col col-4>
                        <ion-spinner name="dots"></ion-spinner>
                    </ion-col>
                    <ion-col col-1></ion-col-->
                </ion-row>

            </div>
        </div>
        <!-- /.Display Screen Div -->
        <div class="action-buttons-div flex display-flex">
            <ion-row>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin no-padding full [disabled]="!power_next" (click)="triggerAcIr('POWER')" class="opacity-1">
                        <ion-icon name="power" class="font-3rem" ngClass="{{current_ac_status?.power_set=='ON'?'ON':'OFF'}}"></ion-icon>
                    </button>
                </ion-col>

                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin no-padding full [disabled]="!fan_spd_next" (click)="triggerAcIr('FAN_SPD')" class="opacity-1">
                        <i class="flaticon-technology-3"></i>
                        <!-- <ion-icon name="nuclear" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>

                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin no-padding full (click)="triggerAcIr('MODE')">
                       <!-- <i class="flaticon-multimedia-1"></i> --> 
                        <span class="font-1-8rem">Mode</span>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row class="bdr-none">
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin no-padding full [disabled]="!temp_down_next" (click)="triggerAcIr('TEMP DOWN')" class="opacity-1">
                                <ion-icon name="remove" class="font-3rem"></ion-icon>
                            </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key" disabled>
                    <button ion-button no-margin no-padding full class="opacity-1 btn-disable" [disabled]="!temp_up_next && !temp_down_next">
                        <i class="flaticon-temp"></i> 
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin no-padding full [disabled]="!temp_up_next" (click)="triggerAcIr('TEMP UP')" class="opacity-1">
                                <ion-icon name="add" class="font-3rem"></ion-icon>
                            </button>
                </ion-col>

            </ion-row>
            <ion-row>
                <ion-col no-padding *ngIf="clear_timer" class="btn-key">
                    <button ion-button no-margin no-padding full (click)="goToCreateTimer()" class="font-1-8rem" [disabled]="kiot_internet!='online'"> 
                        <i class="flaticon-minutes"></i> &nbsp; Timer  
                        <!-- <ion-icon name="power"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding *ngIf="!clear_timer" class="btn-key">
                    
                    <button ion-button no-margin no-padding full > 
                    <div text-right (click)="deleteTimer()" class="cancel-timer">Cancel</div>
                        Turns <p>&nbsp;</p>
                        <div ngClass="{{timer_data[0].ir_state | toggleValue }}">
                            {{timer_data[0].ir_state | toggleValue }}</div>
                            <p>&nbsp;</p> in 
                        {{time_left[0]>9?'':'0'}}{{time_left[0]}}:{{time_left[1]>9?'':'0'}}{{time_left[1]}} 
                        <!-- <ion-icon name="power"></ion-icon> -->
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <!-- TV REMOTE _______________________________________________________________________________________-->
    <ion-grid class="keyboard1 tv-class" *ngIf="remote=='TV'" no-padding>
        <div>
            <ion-row no-padding>
                <ion-col no-padding col-4 *ngIf="remote_keys['POWER']" class="btn-key">
                    <button ion-button class="btn-tab" full (click)="triggerIr('POWER')">
                    <ion-icon name="power" class="font-3rem"></ion-icon>
                </button>
                </ion-col>
                <ion-col no-padding col-4 *ngIf="!remote_keys['POWER']" class="btn-key">
                    <button ion-button class="btn-tab" full *ngIf="current_power" (click)="triggerIr('POWER ON')" class="ON btn-tab">
                    <ion-icon name="power" class="font-3rem"></ion-icon>
                    
                </button>
                    <button ion-button class="btn-tab" full *ngIf="!current_power" (click)="triggerIr('POWER OFF')" class="OFF btn-tab">
                    <ion-icon name="power" class="font-3rem"></ion-icon>
                    
                </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button full class="btn-tab opacity-1" (click)="triggerIr('INPUT')" [disabled]="!remote_keys['INPUT']">
                    <ion-icon name="log-in" class="font-3rem"></ion-icon>
                    <!-- <br><span class="txt-normal">Input Source</span> -->
                </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button full class="btn-tab opacity-1" (click)="triggerIr('MENU')" [disabled]="!remote_keys['MENU']">
                    <ion-icon name="menu" class="font-3rem"></ion-icon>
                    <!-- <br><span class="txt-normal">Menu</span> -->
                </button>
                </ion-col>
            </ion-row>
            <ion-row no-padding>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button full class="btn-tab opacity-1" (click)="triggerIr('EXIT')" [disabled]="!remote_keys['EXIT']">
                    <ion-icon name="ios-exit-outline" class="font-3rem"></ion-icon>
                </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button full class="btn-tab" (click)="openNumPad()">
                    <i class="flaticon-pad-numbers"></i>
                    <!-- <ion-icon name="keypad-outline" class="font-3rem"></ion-icon> -->
                </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button full class="btn-tab opacity-1" (click)="triggerIr('BACK')" [disabled]="!remote_keys['BACK']">
                    <i class="flaticon-previous"></i>
                    <!-- <ion-icon name="undo-outline" class="font-3rem"></ion-icon> -->
                </button>
                </ion-col>
            </ion-row>
        </div>
        <ion-row style="margin-top: 2rem;">
            <ion-col col-1></ion-col>
            <ion-col col-2 text-center no-padding no-margin>
                <button ion-button no-padding no-margin class="btn-tv top" (click)="triggerIr('CHANNEL UP')">+</button>
                <button ion-button no-padding no-margin class="btn-tv opacity-1" disabled>Ch</button>
                <button ion-button no-padding no-margin class="btn-tv btom" (click)="triggerIr('CHANNEL DOWN')">-</button>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2 text-center no-padding no-margin>
                <ion-row>
                    <ion-col no-padding no-margin>
                        <button ion-button no-padding no-margin class="btn-tv round" (click)="triggerIr('MUTE')">
                           <i class="flaticon-mute"></i>
                            <!-- <ion-icon name="volume-off"></ion-icon> -->
                        </button>
                    </ion-col>
                </ion-row>
                <ion-row *ngIf="remote_keys['SMART']">
                    <ion-col class="smart-padding" no-padding no-margin>
                        <button ion-button no-padding no-margin class="btn-tv round opacity-1" (click)="triggerIr('SMART')" [disabled]="!remote_keys['SMART']">
                    <!-- <ion-col padding-top no-padding>
                        <button ion-button class="btn-tv round" (click)="triggerIr('SMART')" [disabled]="!remote_keys['SMART']"> -->
                        <i class="flaticon-TV"></i>
                        <!-- <ion-icon name="home"></ion-icon> -->
                    </button> Smart TV
                    </ion-col>
                </ion-row>
            </ion-col>
            <ion-col col-2></ion-col>
            <ion-col col-2 text-center no-padding no-margin>
                <button ion-button no-padding no-margin class="btn-tv top" (touchstart)="volumeLongPress('start','VOLUME UP')" (touchend)="volumeLongPress('end')">+</button>
                <button ion-button no-padding no-margin class="btn-tv opacity-1" disabled>Vol</button>
                <button ion-button no-padding no-margin class="btn-tv btom" (touchstart)="volumeLongPress('start','VOLUME DOWN')" (touchend)="volumeLongPress('end')">-</button>
            </ion-col>
            <ion-col col-1></ion-col>
        </ion-row>


        <div text-center style="width: 70%; margin: 18px auto;">
            <ion-row class="btn-round mb-15" no-margin padding>
                <button ion-button clear class="remote-rouned-btn btn-top">
                <i class="flaticon-arrows-up pb-10vw" (click)="triggerIr('UP')"></i>
            </button>
                <button ion-button clear class="remote-rouned-btn btn-right">
                <i class="flaticon-arrows-left pl-10vw" (click)="triggerIr('RIGHT')"></i>
            </button>
                <button ion-button clear class="remote-rouned-btn btn-left">
                <i class="flaticon-arrows-right pr-10vw" (click)="triggerIr('LEFT')"></i>
            </button>
                <button ion-button clear class="remote-rouned-btn btn-bottom">
                <i class="flaticon-arrows-down pt-10vw" (click)="triggerIr('DOWN')"></i>
            </button>
                <button ion-button class="remote-center-btn font-1-7rem" (click)="triggerIr('ENTER')"> OK </button>
            </ion-row>
        </div>


    </ion-grid>
    <ion-fab right bottom color="Red" class="fab1" *ngIf="remote=='TV'">
        <button ion-fab (click)="goToExtraButtons()">
          <img class="remo-img" src="assets/img/remote-control.png" />
      </button>
    </ion-fab>
    <!--PROJECTOR AND AV RECEIVER___________________________________________________________________________________-->
    <div class="remote-layout-wrap projector-style" *ngIf="remote=='Projector'||remote=='AV Receiver'">
        <div class="display-screen-div flex display-flex">
            <div class="display-content">
                <div text-center style="width: 70%; margin: 0 auto;">
                    <ion-row class="btn-round mb-15" no-margin padding>
                        <button ion-button clear class="remote-rouned-btn btn-top">
                <i class="flaticon-arrows-up pb-10vw" (click)="triggerIr('UP')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-right">
                <i class="flaticon-arrows-left pl-10vw" (click)="triggerIr('RIGHT')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-left">
                <i class="flaticon-arrows-right pr-10vw" (click)="triggerIr('LEFT')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-bottom">
                <i class="flaticon-arrows-down pt-10vw" (click)="triggerIr('DOWN')"></i>
            </button>
                        <button ion-button class="remote-center-btn" (click)="triggerIr('ENTER')"> OK </button>
                    </ion-row>
                </div>
            </div>
        </div>
        <div class="action-buttons-div flex display-flex">
            <ion-row no-padding>
                <ion-col no-padding col-4 *ngIf="remote_keys['POWER']" class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('POWER')">
                        <ion-icon name="power" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-4 *ngIf="!remote_keys['POWER']" class="btn-key">
                    <button ion-button no-margin full *ngIf="current_power" (click)="triggerIr('POWER ON')" class="ON">
                        <ion-icon name="power" class="font-3rem"></ion-icon>
                    </button>
                    <button ion-button no-margin full *ngIf="!current_power" (click)="triggerIr('POWER OFF')" class="OFF">
                        <ion-icon name="power" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('MENU')" [disabled]="!remote_keys['MENU']" class="opacity-1">
                        <ion-icon name="list" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('MUTE')" [disabled]="!remote_keys['MUTE']" class="opacity-1">
                        <i class="flaticon-mute"></i>
                        <!-- <ion-icon name="volume-off" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (touchstart)="volumeLongPress('start','VOLUME DOWN')" (touchend)="volumeLongPress('end')" [disabled]="!remote_keys['VOLUME DOWN']" class="opacity-1">
                        <ion-icon name="remove" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full disabled class="opacity-1 font-1-8rem"> 
                    <i class="flaticon-speaker"></i>
                        <!-- <ion-icon name="power"></ion-icon> -->
                    </button>
                </ion-col>

                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (touchstart)="volumeLongPress('start','VOLUME UP')" (touchend)="volumeLongPress('end')" [disabled]="!remote_keys['VOLUME UP']" class="opacity-1">
                        <ion-icon name="add" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="remote_keys['BRIGHTNESS UP']">
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('BRIGHTNESS DOWN')">
                        <ion-icon name="remove" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full disabled class="opacity-1 font-1-8rem"> 
                    <i class="flaticon-sun1"></i>
                        <!-- <ion-icon name="power"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('BRIGHTNESS UP')">
                        <ion-icon name="add" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding col-12 (click)="goToExtraButtons()" class="btn-key">
                    <button ion-button no-margin full>
                        <i class="flaticon-remote"></i> &nbsp; Full Remote
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <!--PROJECTOR AND AV RECEIVER ENDS HERE_______________________________________________________________________________-->
    <!--DISC PLAYER___________________________________________________________________________________-->
    <div class="remote-layout-wrap projector-style" *ngIf="remote=='Disc Player' || remote=='Media Streamer'">
        <div class="display-screen-div flex display-flex">
            <div class="display-content">
                <div text-center style="width: 70%; margin: 0 auto;">
                    <ion-row class="btn-round mb-15" no-margin padding>
                        <button ion-button clear class="remote-rouned-btn btn-top">
                <i class="flaticon-arrows-up pb-10vw" (click)="triggerIr('UP')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-right">
                <i class="flaticon-arrows-left pl-10vw" (click)="triggerIr('LEFT')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-left">
                <i class="flaticon-arrows-right pr-10vw" (click)="triggerIr('RIGHT')"></i>
            </button>
                        <button ion-button clear class="remote-rouned-btn btn-bottom">
                <i class="flaticon-arrows-down pt-10vw" (click)="triggerIr('DOWN')"></i>
            </button>
                        <button ion-button class="remote-center-btn" (click)="triggerIr('ENTER')"> OK </button>
                    </ion-row>
                </div>
            </div>
        </div>
        <div class="action-buttons-div flex display-flex">
            <ion-row no-padding>
                <ion-col no-padding col-6 *ngIf="remote_keys['POWER']" class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('POWER')" [disabled]="!remote_keys['POWER']" class="opacity-1">
                        <ion-icon name="power" class="font-3rem"></ion-icon>
                    </button>
                </ion-col>
                <ion-col no-padding col-6 *ngIf="!remote_keys['POWER']" class="btn-key">
                    <button ion-button no-margin full *ngIf="current_power" (click)="triggerIr('POWER ON')" [disabled]="!remote_keys['POWER ON']"
                        class="ON opacity-1">
                        <ion-icon name="power" class="font-3rem"></ion-icon>
                    </button>
                    <button ion-button no-margin full *ngIf="!current_power" (click)="triggerIr('POWER OFF')" [disabled]="!remote_keys['POWER OFF']"
                        class="OFF opacity-1">
                        <ion-icon name="power" class="font-3rem"></ion-icon>                      
                    </button>
                </ion-col>
                <ion-col no-padding col-6 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('OPEN/CLOSE')" [disabled]="!remote_keys['OPEN/CLOSE']" class="opacity-1">
                        <i class="flaticon-previous"></i>
                        <!-- <ion-icon name="undo" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding col-3 class="btn-key">
                    <button ion-button no-margin full disabled (click)="triggerIr('PREV')" [disabled]="!remote_keys['PREV']" class="opacity-1">
                        <i class="flaticon-back"></i>
                        <!-- <ion-icon name="skip-backward" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-3 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('REV')" [disabled]="!remote_keys['REV']" class="opacity-1">
                    <i class="flaticon-rewind"></i>
                        <!-- <ion-icon name="rewind" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-3 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('FWD')" [disabled]="!remote_keys['FWD']" class="opacity-1">
                        <i class="flaticon-fast-forward"></i>
                        <!-- <ion-icon name="fastforward" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-3 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('NEXT')" [disabled]="!remote_keys['NEXT']" class="opacity-1">
                        <i class="flaticon-next"></i>
                        <!-- <ion-icon name="skip-forward" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full disabled (click)="triggerIr('STOP')" [disabled]="!remote_keys['STOP']" class="opacity-1">
                        <i class="flaticon-stop"></i>
                        <!-- <ion-icon name="square" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('PLAY')" [disabled]="!remote_keys['PLAY']" class="opacity-1">
                        <i class="flaticon-play"></i>
                        <!-- <ion-icon name="play" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
                <ion-col no-padding col-4 class="btn-key">
                    <button ion-button no-margin full (click)="triggerIr('PAUSE')" [disabled]="!remote_keys['PAUSE']" class="opacity-1">
                        <i class="flaticon-pause"></i>
                        <!-- <ion-icon name="pause" class="font-3rem"></ion-icon> -->
                    </button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col no-padding col-12 (click)="goToExtraButtons()" class="btn-key">
                    <button ion-button no-margin full>
                        <i class="flaticon-remote"></i> &nbsp; Full Remote
                    </button>
                </ion-col>
            </ion-row>
        </div>
    </div>
    <!--DISC PLAYER ENDS HERE_______________________________________________________________________________-->
    <!-- NUM PAD________________________________________________________________________________________-->
    <div *ngIf="showNumPad" class="num" [@enterAnimation]="showNumPad">
        <ion-grid no-padding>
            <ion-row>
                <ion-col col-11 text-center no-padding>
                    <ion-row>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('1')">1</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('2')">2</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('3')">3</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('4')">4</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('5')">5</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('6')">6</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('7')">7</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('8')">8</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('9')">9</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col width-33 text-center no-padding>
                            <button text-center class="btn_calc opacity-1" ion-button (click)="triggerIr('DASH')" [disabled]="!remote_keys['DASH']">
                                <!--ion-icon name="close"></ion-icon-->
                                --/-
                            </button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="triggerIr('0')">0</button>
                        </ion-col>
                        <ion-col width-33 text-center no-padding>
                            <button class="btn_calc" ion-button (click)="openNumPad()">
                                <ion-icon name="close" class="font-3rem"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>
                </ion-col>
                <ion-col col-1 text-center no-padding class="bg-gold"> &nbsp;
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>













    <div class="remote-layout-wrap set-top-box" *ngIf="remote=='Set Top Box'">
        <div class="display-content display-flex">
            <ion-row class="mb-15">
                <ion-col width-33 text-right>
                    <button ion-button round class="btn-return bg-danger" (click)="triggerIr('POWER')">
                <ion-icon name="power"></ion-icon>
            </button>
                </ion-col>
                <ion-col width-33 text-center>
                    <button ion-button round class="btn-return bg-danger">
               <ion-icon name="power"></ion-icon>
            </button>
                </ion-col>
                <ion-col width-33 text-left>
                    <button ion-button round class="btn-return" (click)="triggerIr('VOLUME MUTE')">
                <!-- <ion-icon name="volume-off"></ion-icon> -->
                <i class="flaticon-mute"></i>
              <!--   <img src="assets/img/mute.png" class="mute"> -->
            </button>
                </ion-col>
            </ion-row>
            <ion-row class="btn-round mb-15" no-margin no-padding>
                <button ion-button class="remote-rouned-btn btn-top" [disabled]="!remote_keys['UP']" (click)="triggerIr('UP')"> 
            <i class="flaticon-arrows-up mt-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw">  -->
        </button>
                <button ion-button class="remote-rouned-btn btn-right" [disabled]="!remote_keys['RIGHT']" (click)="triggerIr('RIGHT')"> 
            <i class="flaticon-arrows-left mr-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
         </button>
                <button ion-button class="remote-rouned-btn btn-left" [disabled]="!remote_keys['LEFT']" (click)="triggerIr('LEFT')"> 
          <i class="flaticon-arrows-right ml-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
        </button>
                <button ion-button class="remote-rouned-btn btn-bottom" [disabled]="!remote_keys['DOWN']" (click)="triggerIr('DOWN')"> 
          <i class="flaticon-arrows-down mb-10vw"></i>
            <!-- <img src="assets/img/arrow-right.png" class="pl-10vw"> -->
        </button>
                <button ion-button class="remote-center-btn" [disabled]="!remote_keys['BACK']" (click)="triggerIr('BACK')">
        	<img src="assets/img/return.png">
        </button>
                <!-- <button ion-button class="" clear> -->
                <img src="assets/img/vol-down.png" class="bottom-left" (click)="triggerIr('VOLUME DOWN')">
                <!-- <span class="vol-down"  (click)="triggerIr('VOLUME DOWN')">VOL -</span> -->
                <img src="assets/img/ch-down.png" class="bottom-right" (click)="triggerIr('CHANNEL DOWN')">
                <!--  <span class="ch-down" (click)="triggerIr('CHANNEL DOWN')">CH -</span> -->
                <img src="assets/img/vol-up.png" class="top-right" (click)="triggerIr('VOLUME UP')">

                <!--  <span class="vol-up" (click)="triggerIr('VOLUME UP')">VOL +</span> -->
                <img src="assets/img/ch-up.png" class="top-left" (click)="triggerIr('CHANNEL UP')">
                <!--  <span class="ch-up" (click)="triggerIr('VOLUME UP')">CH +</span>  -->
                <!--  </button> -->
            </ion-row>
            <ion-row class="mb-5">
                <ion-col text-center padding-left padding-right class="keypad">
                    <button ion-button round class="btn-return1" (click)="openNumPad()">
                <i class="flaticon-pad-numbers"></i>
                <!-- <ion-icon name="keypad"></ion-icon> -->
            </button>
                </ion-col>
            </ion-row>
            <!--ion-row>
        <ion-col width-33 text-right>
            <button ion-button round class="btn-return"  (click)="dismiss('fav')">
                <ion-icon name="heart" class="fav-icon"></ion-icon>
            </button>
        </ion-col>
        <ion-col width-33 text-center>
            <button ion-button round class="btn-return" (click)="goToChannelList()">            
                <ion-icon name="book"></ion-icon>
            </button>
        </ion-col>
        <ion-col width-33 text-left> 
            <button ion-button round class="btn-return">
                <ion-icon name="volume-off"></ion-icon>
            </button>
        </ion-col> 
    </ion-row-->
        </div>
    </div>












</ion-content>