page-real-remote {

    .ac-class {
        .cancel-timer{
            position: absolute;
            top: 2vw;
            right: 2vw;
            border: solid 1px;
            color: $orange;
            padding: 1.2vw;
        }
        .button {
            /*margin:0 !important;*/
            /*height: 27vw !important;*/
        }
        .btn-key {
            /* height: 26vw !important;*/
            border-right: 0.3px solid $body-bg;
            border-bottom: 0.3px solid $body-bg;
        }
        .txt-field {
            font-size: 7rem;
            height: 30vw;
            color: $white;
        }
        .keyboard {
            position: absolute;
            bottom: 0;
        }
        a[disabled],
        button[disabled],
        [ion-button][disabled] {
            color: #565558;
        }
        .remote-layout-wrap {
            /* display: flex; */
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-flow: column wrap;
            height: 100%;
            .display-flex {
                flex: 1;
                justify-content: center;
                align-content: center;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-flow: column;
                align-content: stretch;
            }
        }
        .mode-icon{
            height:4vw;
        }
        .mb-2vw {
            margin-bottom: 2vw;
        }
        .action-buttons-div.flex.display-flex {
            flex: 1;
            /*background: $item-bg;*/
            ion-row {
                flex: 1;
                .button {
                    height: 100%;
                    position: absolute;                    
                }

            }
        }
        .display-screen-div {
            .current-settings-display {
                flex: 20;
            }
        }
        .m-custom {
            margin: 8px 0px 8px 0;
        }
        .txt-sub {
            font-size: 20%;
            margin-left: -45px;
            vertical-align: baseline;
        }
        .txt-sup {
            vertical-align: super;
            font-size: 50%;
        }
        .celsius:after {
            content: "\2103";
        }
        #span {
            height: 40px;
            width: 40px;
            display: inline-block;
            position: relative;
        }
        .demoSpan1 {
            position: relative;
        }
        .demoSpan1,
        .demoSpan3,
        .demoSpan2 {
            content: '';
            height: 10px;
            width: 3px;
            display: inline-block;
            background: #333;
            position: absolute;
            bottom: 0px;
            left: 0px;
        }
        .demoSpan1.active {
            background: $orange;
        }
        .demoSpan2.active {
            background: $orange;
        }
        .demoSpan3.active {
            background: $orange;
        }
        .demoSpan1 {
            left: 0px;
        }
        .demoSpan2 {
            height: 20px;
            left: 10px;
        }
        .demoSpan3 {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        .demoSpan3 {
            height: 30px;
            left: 10px;
        }
        //.demoSpan2:after{height:40px; left:30px;}
    }
    .remote-layout-wrap {
        /* display: flex; */
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        .display-flex {
            flex: 1;
            justify-content: center;
            align-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            align-content: stretch;
        }
    }
    .display-screen-div {
        .current-settings-display {
            flex: 20;
        }
    }
    .mb-2vw {
        margin-bottom: 2vw;
    }
    .action-buttons-div.flex.display-flex {
        flex: 1;
        /*background: $item-bg;*/
        ion-row {
            flex: 1;
            .button {
                height: 100%;
                position: absolute;
            }
        }
    }
    //TV STYLE_____________________________________________________________________________
   .remo-img{
    width:30px;
   }
    .tv-class {
        .btn-key {
            /* height: 26vw !important;*/
            border-right: 0.3px solid $body-bg;
            border-bottom: 0.3px solid $body-bg;
        }
        a[disabled],
        button[disabled],
        [ion-button][disabled] {
            color: #565558 !important;
        }
        .smart-padding{
            padding-top: 40px !important;
        }
        .btn-tab {
            margin: 0 !important;
            height: 21vw !important;
            /*border: 1px solid #343434;*/
        }
        .btn-ok {
            border-radius: 100%;
            /*border:0.5px solid #343434;*/
            height: 6rem !important;
            width: 6rem !important;
        }
        .btn-tab .button-inner {
            display: initial !important;
        }
        .btn-tv {
            margin: 0;
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 0;
            font-size:2rem !important;
        }
        .top {
            border-radius: 40% 40% 0 0;
        }
        .btom {
            border-radius: 0 0 40% 40%;
        }
        .round {
            border-radius: 100%;
        }
    }
    /*.row {
        border-top: 0.5px solid #343434;
        border-bottom: 0.5px solid #343434;
    }
    .button {
        margin: 0 !important;
        height: 27vw !important;
    }
    .txt-field {
        font-size: 7rem;
        height: 30vw;
        color: $white;
    }
    .keyboard {
        position: absolute;
        bottom: 0;
    }
    button[disabled],
    [ion-button][disabled] {
        opacity: 1 !important;
    }
    ion-icon {
        font-size: 1.5em !important;
    }
    
*/
    .btn-tab {
        margin: 0 !important;
        height: 21vw !important;
        /*border: 1px solid #343434;*/
    }
    //PROJECTOR STYLE____________________________________________________________
    .projector-style {
        .round {
            border-radius: 100%;
        }
        .btn-ok {
            border-radius: 100%;
            border: 1px solid #343434;
            height: 5rem !important;
        }
    }
    .btn-key {
        /* height: 26vw !important;*/
        border-right: 0.3px solid $body-bg;
        border-bottom: 0.3px solid $body-bg;
    }
    a[disabled],
    button[disabled],
    [ion-button][disabled] {
        color: #565558 !important;
    }
    .num {
        position: absolute;
        width: 100%;
        bottom: 0;
        .btn_calc {
            background: $item-bg;
            /*border:2px solid $black;
    height: 5rem;
    width: 9rem;*/
            width: 100%;
            height: 100%;
            font-size: 2rem !important;
            line-height: 8rem;
            margin: 0 !important;
            border-radius: 0 !important;
        }
        .btn_calc.activated {
            background: $item-active !important;
        }
        .btn_calc_val {
            /* border:1px solid #323232;*/
            height: 11rem;
            font-size: 4rem;
            line-height: 13rem;
        }
        .bg-gold {
            background-color: $gold !important;
        }
        .invalid {
            -webkit-animation: shake .6s linear;
        }
        @-webkit-keyframes shake {
            0% {
                left: -10px;
            }
            16% {
                left: 9px;
            }
            33% {
                left: -6px;
            }
            50% {
                left: 5px;
            }
            66% {
                left: -2px;
            }
            83% {
                left: 1px;
            }
            100% {
                left: 0px;
            }
        }
        .curvy-edges {
            border-radius: 78px !important;
            border: solid 0.8px $orange !important;
        }
        .m-50 {
            margin-top: 50px;
        }
        .channel-img {
            height: 90px;
            border-radius: 10px;
            border: 0.6px solid $item-bg-light;
        }
        >.popover-content {
            left: 0vw !important;
            bottom: 0vw !important;
            width: 100% !important;
            border-radius: none !important;
            background: none !important;
        }
    }
    .flaticon-arrows-4:before {
        margin-right: -4px;
    }
    .btn-round {
        border-radius: 50%;
        height: 55vw;
        text-align: center;
        margin: 0 auto;
        width: 55vw;
        background-size: 62vw 62vw;
        background-repeat: no-repeat;
        transform: rotate(45deg);
    }
    .remote-rouned-btn {
        height: 50%;
        width: 50%;
        position: relative;
        top: 0px;
        left: 0px;
        /* border: 1px solid $black;*/
        margin: 0 !important;
        padding: 0px !important;
    }
    .remote-rouned-btn.activated {
        background: transparent !important;
    }
    .remote-center-btn {
        width: 18vw;
        height: 18vw;
        border-radius: 100%;
        border: 2px solid $black;
        transform: translateY(20vw);
        transform: translate3d(14vw, -33vw, 0);
    }
    .remote-rouned-btn .button-inner,
    .remote-center-btn .button-inner {
        transform: rotate(-45deg);
    }
    .pl-10vw {
        padding-left: 10vw !important;
    }
    .pb-10vw {
        padding-bottom: 10vw !important;
    }
    .pr-10vw {
        padding-right: 10vw !important;
    }
    .pt-10vw {
        padding-top: 10vw !important;
    }
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        /*font-size: 40px;*/
    }
    .btn-disable.activated{
        background-color: $item-bg !important;
    }


    .set-top-box {
        z-index: -10;
        >.scroll-content {
       overflow-y: scroll;
       overflow-x: hidden;
   }
    #outer-wrapper {
        padding-top: 20px;
        padding-bottom: 20px;
    }
/*    .toolbar-ios {
        padding: 2px !important;
        min-height: 32px !important;
    }*/
    .col {
        padding: 0px !important;
    }
    .btn-round {
        background-color: $item-bg !important;
        border-radius: 50%;
        height: 50vw;
        text-align: center;
        margin: 0 auto;
        width: 50vw;
        background-size: 62vw 62vw;
        background-repeat: no-repeat;
        transform: rotate(45deg);
    }
    .remote-rouned-btn {
        height: 50%;
        width: 50%;
        position: relative;
        top: 0px;
        left: 0px;
        /* border: 1px solid $black;*/
        margin: 0 !important;
        padding: 0px !important;
    }
    .remote-center-btn {
        width: 25vw;
        height: 25vw;
        border-radius: 100%;
        border: 2px solid $black;
        transform: translateY(20vw);
        transform: translate3d(12vw, -39vw, 0);
    }
    .remote-rouned-btn .button-inner,
    .remote-center-btn .button-inner {
        transform: rotate(-45deg);
    }
    .btn-top img {
        webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }
    .btn-left img {
        webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
    /*.btn-right img{
		webkit-transform: rotate(45deg);
    	transform: rotate(45deg);
	}*/
    .btn-bottom img {
        webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
    .btn-top {
        border-left: 2px solid $black;
        border-radius: 0px;
        border-top: 2px solid $black;
        border-top-left-radius: 20px;
    }
    .btn-left {
        border-left: 2px solid $black;
        border-radius: 0px;
        border-bottom: 2px solid $black;
        border-bottom-left-radius: 20px;
    }
    .btn-right {
        border-right: 2px solid $black;
        border-radius: 0px;
        border-top: 2px solid $black;
        border-top-right-radius: 20px;
    }
    .btn-bottom {
        border-right: 2px solid $black;
        border-radius: 0px;
        border-bottom: 2px solid $black;
        border-bottom-right-radius: 20px;
    }
    .remote-rouned-btn.activated {
        color: $gold !important;
    }
    .remote-center-btn.activated {
        background-color: #866b02 !important;
    }
    /*.btn-left .button-inner{
		padding-left: 12px;
	}
	.btn-right .button-inner{
		padding-right: 12px;
	}*/
    .btn-return {
        width: 25vw;
        height: 13vw;
        border-radius: 16px;
        border: 2px solid $black;
    }
    .btn-return1 {
        width: 80vw;
        height: 13vw;
        border-radius: 16px;
        border: 2px solid $black;
    }
    .mb-30 {
        margin-bottom: 30px;
    }
    .mb-15 {
        margin-bottom: 15%;
    }
    .mb-5 {
        margin-bottom: 5%;
    }
    .pl-10vw {
        padding-left: 10vw !important;
    }
    .top-left {
        height: 85%;
        transform: rotate(90deg);
        margin: -232% 0px 0px 32%;
    }
    .top-right {
        height: 85%;
        transform: rotate(0deg);
        margin: -158% 0px 0px -45%;
    }
    .bottom-left {
        height: 85%;
        transform: rotate(-90deg);
        margin: -19% 0px 0px -25%;
    }
    .bottom-right {
        height: 85%;
        transform: rotate(-180deg);
        margin: -158% 0px 0px 102%;
    }
    .vol-down {
        transform: rotate(-45deg);
        margin: 10% -18%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .ch-down {
        transform: rotate(-45deg);
        margin: 50% 109%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
        position: absolute;
    }
    .vol-up {
        transform: rotate(-45deg);
        margin: 46% -33%;
        position: absolute;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .ch-up {
        transform: rotate(-45deg);
        position: absolute;
        margin: -25% 39%;
        font-size: 1.3rem;
        color: $white;
        white-space: nowrap;
    }
    .remote-layout-wrap {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-flow: column wrap;
        height: 100%;
        .display-flex {
            flex: 1;
            justify-content: center;
            align-content: center;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-flow: column;
            align-content: stretch;
        }
    }
}
.flaticon-speaker:before{
    color:$orange;
    opacity: 0.6;
}
.flaticon-sun1:before{
    color: $orange;
    opacity: 0.6;
}
.flaticon-temp{
    color:$orange;
    opacity: 0.6;
}
}
