
<ion-header>

  <ion-navbar>
    <ion-title>scheduleSwitch</ion-title>
                <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                done
            </button>
        </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

</ion-content>
