<ion-header>
  <ion-navbar>
    <ion-title> All {{type.value}} </ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>

  <ion-row no-margin>
    <ion-col col-4 no-margin no-padding padding-bottom *ngFor="let i of programData" class="btn1 pl-3px" [ngClass]="{active: i._id|findActive:current_active}">
      <button ion-button class="program_flip_button" (click)="onTap(i._id)">
				<img [src]="i.program | programPosterPipe" class="wh-100 img1">
				<div class="img2">
	        <p no-margin  (click)="switchToChannel(i.channelid,false,i)"><img src="assets/img/morelarge.jpg" class="wh-100"></p>
	        <p no-margin (click)="goToProgramDetails(i,i.duration)" style="margin-top: -3px;">
	          <img src="assets/img/more1.jpg" class="wh-100"></p>
	      </div>
			</button>
      <p class="txt-hide progressbar">
        <svg [attr.width]="i.duration" height="3" style="display: block;position: relative;">
          <rect width="100%" height="100%" class="fill-green"> </rect>
        </svg>
      </p>
      <div class="txt-hide1">       
      <p text-center class="card-title font-1-3rem txt-white ellipses">{{i.program.mainprogramname||i.program.name}}</p>
      <p text-center class="card-subtitle font-1-3rem txt-gold ellipses">{{i.channel_name}}</p>
      </div>
    </ion-col>
  </ion-row>
  <ion-infinite-scroll *ngIf="!noMoreRows" (ionInfinite)="doInfinite($event)" threshold="80%">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>