page-custom-remote {
    .block1,
    .block2 {
        padding: 0 2px 0px 2px;
        .col {
            height: 6rem;
            line-height: 5rem;
            .button-inner {
                display: block !important;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                font-size: 1.4rem !important;
            }
        }
        .button {
            border-radius: 0 !important;
            border: 1px solid $body-bg;
        }
    }
    .item-inner {
        border: none !important;
        padding-right: 0 !important;
    }
    .item:last-child,
    .item:last-child .item-inner {
        border-bottom: none !important;
    }
    .item:first-child,
    .item:first-child .item-inner {
        border-top: none !important;
    }
    .label {
        margin: 0 !important;
    }
    ion-reorder {
        position: absolute;
        height: 20px;
        top: 11px;
        right: 5px;
        opacity: 0.5 !important;
    }
    .ion-ios-reorder:before {
        color: $orange !important;
    }
}
