<ion-header>
    <ion-navbar>
        <ion-title>Custom Remote</ion-title>
        <ion-buttons end>
            <button ion-button class="txt-orange" (click)="goToEditRemote()">Edit </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <!-- <ion-item class="txt-white bg-none" text-left full no-margin>Remotes
        <span item-right class="txt-normal">cool</span>
    </ion-item> -->
    <ion-list reorder="true" no-padding no-margin (ionItemReorder)="$event.applyTo(buttons_list)">
    	<ion-item class="bg-none" no-padding *ngFor="let i of buttons_list">
    		<ion-row class="mt-5px">
    			<ion-col col-6 text-left class="txt-white ellipses">{{i.irapp?.name}}</ion-col>
    			<ion-col col-5 text-right class="txt-normal pr-5px ellipses">{{i.irapp?.room_id?.name}}</ion-col>
    			<ion-col col-1></ion-col>
    		</ion-row>
        <ion-row class="block1" no-padding>
            <ion-col col-4 align-self-center ion-button *ngFor="let j of i.keys" (click)="triggerIr(i,j.name)" class="txt-normal">{{j.name}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-list>
</ion-content>
