page-channel-programs {
    .itm-divider.item-inner {
        border-bottom: 0 !important;
    }
    .item {
        max-height: 20rem !important;
    }
    .item ion-thumbnail {
        min-width: 82px !important;
       /* min-height: 120px !important;*/
    }
    .img-thumb {
        width: 22vw !important;
        height: 36vw !important;
        border-radius: 3px;
    }
    .label {
    margin: 4vw 8px 11px 3vw !important;
}

.itm-divider-btom .label{
    margin:12px 5px 5px 0 !important;
}
.progressbar{
    margin-top: -0.7vw;
    margin-bottom: 0vw;
    margin-left: 0.5vw;
}
.watch-now-btn{
    position: absolute;
    height: 9vw;
    top: 9vw;
    right: 11px;
    z-index: 99;
    padding: 1vw;
    font-size: 1.1rem !important;
    color: $orange;
}
.button.activated.watch-now-btn {
    font-size: 1.1rem !important;
}
.row{
    margin-bottom: -8.8vw;
}
.now-play {
     img{
        width: 36vw!important;
        height: 24vw !important;
        background: white;
    }
}
    p{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }
    .card-title {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .card-subtitle {
        margin: 0px !important;
        padding: 0px 4px 0px 4px !important;
        font-size: 1.5rem;
        line-height: 2rem;
    }
.itms{
    background:transparent !important;
    padding:2px !important;
    /*border: 2px solid $menubar-bg;*/
    ion-thumbnail{
        width: 100% !important;
    }
    img{
        width: 100% !important;
    }
}
.item-inner {
    border-bottom: transparent !important;
    align-self: flex-start !important;
}
 
    .spinner-md-crescent circle {
        stroke: $orange; 
    }
    .infinite-loading-spinner {
        margin-top: 15px;
    }
    .spinner-ios-ios line,
    .spinner-ios-ios-small line {
        stroke: $orange !important;
    }
    .item .item-inner {
        display: block !important;
    }
    /*.item .label {
        margin:5px !important;
    }*/
    .item ion-thumbnail.thumb-small{
        min-height: 0 !important;
    }
    .small{
        width: 78px !important;
        height: 60px !important;
    }
   .item-inner {
        border-bottom: 0px solid $item-bg-light !important;
        align-self: center;
    }
    .item ion-avatar[item-left], .item ion-thumbnail[item-left] {
        margin: 8px 2px 8px 0 !important;
    }

}
