<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      {{channelname}}
    </ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <!--button ion-button class="watch-now-btn" (click)="switchToChannel()"> Watch Now</button-->
  <img src="assets/img/watch_now.png" item-right class="watch-now-btn" (click)="switchToChannel()" />
  <ion-item-group>
    <ion-item>
      <ion-thumbnail item-left class="thumb-small now-play">
        <img class="img-thumb small" [src]="temp?.thumbnail">
      </ion-thumbnail>
      <div>
        <h2 class="txt-gold ellipses font-2">{{channelname}}</h2>
        <p class="txt-silver ellipses font-1-4rem">{{channelid | channel_num:provider_map:channel_meta}}</p>
        <div class="txt-silver font-1-4rem">Now Playing:</div> <span class="txt-gold font-1-4rem ellipses">{{later_programs[days[0]][0]?.program?.mainprogramname||later_programs[days[0]][0]?.program?.name}}</span>
      </div>
    </ion-item>
  </ion-item-group>
  <ion-item-group>

    <ion-row padding *ngFor="let i of days;let ind=index">
      <ion-col col-12 class="txt-gold font-1-8rem" *ngIf="ind==0">Today</ion-col>
      <ion-col col-12 class="txt-gold font-1-8rem" *ngIf="ind==1 && later_programs[i].length">Tomorrow</ion-col>
      <ion-col col-12 class="txt-gold font-1-8rem" *ngIf="ind>1 && later_programs[i].length">{{i | date:'EEE'}},{{i | date:'dd'}} {{i | date:'MMM'}}</ion-col>
      <ion-col col-4 no-margin no-padding padding-bottom *ngFor="let j of later_programs[i];let ind2=index" (click)="goToProgramDetails(j)"
        class="btn1 pl-3px">
        <button ion-button class="program_flip_button" (click)="onTap(j._id)">
        <img [src]="j.program | programPosterPipe" class="wh-100 img1">        
      </button>
        <p class="txt-hide progressbar" *ngIf="ind==0&&ind2==0">
          <svg [attr.width]="j.duration" height="3" style="display: block;position: relative;">
            <rect width="100%" height="100%" class="fill-green"> </rect>
          </svg>
        </p>
        <div>
          <p text-center class="card-title font-1-3rem txt-white ellipses">{{j.program.mainprogramname||j.program.name}}</p>
          <p text-center class="card-subtitle font-1-1rem txt-gold ellipses" *ngIf="ind!=0||ind2!=0">{{j.starttime | date:'shortTime'}}-{{j.endtime | date:'shortTime'}}</p>
          <p text-center class="card-subtitle font-1-1rem txt-orange ellipses" *ngIf="ind==0&&ind2==0">Now Playing</p>
        </div>
      </ion-col>
    </ion-row>

    <!-- <ion-item *ngFor="let i of programsData" (click)="goToProgramDetails(i)">
      <ion-thumbnail item-left ngClass="{{i.program.type=='TV-Series'||i.program.type=='Movie'?'':'thumb-small'}}">
        <img [src]="i.program | programPosterPipe" class="img-thumb" ngClass="{{i.program.type=='TV-Series'||i.program.type=='Movie'?'':'small'}}">
      </ion-thumbnail>
      <h2 class="txt-gold ellipses">{{i.program.mainprogramname||i.program.name}}</h2>
      <p class="txt-silver font-1-5rem">{{channelname}} | {{i.channelid||i.id | channel_num:provider_map:channel_meta}}</p>
      <p class="txt-silver font-1-2rem">{{i.starttime | date:'EEE'}},{{i.starttime | date:'dd'}} {{i.starttime | date:'MMM'}} | {{i.starttime | date:'shortTime'}}-{{i.endtime
        | date:'shortTime'}} </p>
    </ion-item> -->
  </ion-item-group>
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!noMoreRows" threshold="60%">
    <ion-infinite-scroll-content>
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>