<ion-content padding>
  <div class="logo" text-center>
    <!-- <img src="assets/img/logo.png" alt="KIOT logo">
     -->
    <div class="min-ht">
      &nbsp;
    </div>
    <img class="logo-banner" src="assets/img/Logo.png">
  </div>

  <form (ngSubmit)="login()" #registerForm="ngForm">
    <ion-list>
      <ion-item class="mb-1vw">
        <ion-icon name="md-mail" item-left></ion-icon>
        <ion-input [(ngModel)]="registerCredentials.email" [ngModelOptions]="{standalone: true}" class="text-input" required type="email"
          placeholder="Email"></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="br_top">
        <ion-icon name="md-lock" item-left></ion-icon>
        <ion-input [(ngModel)]="registerCredentials.password" [ngModelOptions]="{standalone: true}" required type="password" placeholder="Password"></ion-input>
      </ion-item>
    </ion-list>
    <br/>
    <ion-row responsive-sm no-padding>
      <ion-col no-padding>
        <button ion-button class="btn_ff" [disabled]="!registerCredentials.email||!registerCredentials.password" type="submit" block>Login</button>
      </ion-col>
      <!--span text-center class="txt_ff"> OR </span>
      <ion-col no-padding> 
        <button ion-button block class="btn_fb">
          <ion-icon name="logo-facebook"></ion-icon> &nbsp;  Login with Facebook
        </button>
      </ion-col-->
    </ion-row>

    <div style="margin-bottom: 2vw;" text-center>OR</div>
    <button ion-button type="button" class="btn_ff" block (click)="loginWithGoogle()">

        <img class="googl-img" src="assets/img/google.gif">Login with Google
      
    </button>

    <ion-row text-center no-padding>
      <ion-col width-50 text-left no-padding>
        <a class="txt_ff" (click)="goToForgotPassword()"> I forgot password  </a>
      </ion-col>
      <ion-col width-50 text-right no-padding>
        <a class="txt_ff" (click)='goToSignUp();'> Create new account </a>
      </ion-col>
    </ion-row>
  </form>


</ion-content>