
/**
 * 01/28/2016
 * This pen is years old, and watching at the code after all
 * those years made me fall from my chair, so I:
 * - changed all IDs to classes
 * - converted all units to pixels and em units
 * - changed all global elements to classes or children of
 *   .login
 * - cleaned the syntax to be more consistent
 * - added a lot of spaces that I so hard tried to avoid
 *   a few years ago
 *   (because it's cool to not use them)
 * - and probably something else that I can't remember anymore
 *
 * I sticked to the same philosophy, meaning:
 * - the design is almost the same
 * - only pure HTML and CSS
 * - no frameworks, preprocessors or resets
 */

/* 'Open Sans' font from Google Fonts */
page-login{
//@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);




.list > .item-block:first-child {
  border-top: none;
  border-bottom:0;
}
.scroll-content{
  background: black !important;
}




.list > .item-block:last-child,
.list > .item-wrapper:last-child .item-block {
  //border: 0.55px solid $white !important;
}

ion-icon { font-size:2rem !important; }
.item {  background:transparent;  color:$white; }

.item-inner{  margin-left:0 !important; }

.item-md {font-size:1.2rem !important; }
.list {   margin:0; }

.txt_ff{  color:$white !important; }

a{ text-decoration:none; }
.min-ht{
  min-height:6vw;
}
.logo-banner{
  margin-bottom:8vw;
  height: 73vw;
}


.br_top{
  border-top:0;
}
.btn_ff{
  margin-bottom: 3vw;
}

.btn_fb{
  color: $white !important;
  background-color: #2d4486 !important;
}

.btn_fb.activated {
  background-color: #213263 !important;
}
.googl-img{
  height: 7rem;
  margin: 0vw;
  margin-top: 0;
  margin-left: -8vw;
  margin-right: -3vw;
}

}



