<ion-header>
  <ion-navbar>
    <ion-title>Switches</ion-title>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold"> All Switches in {{ this.homeName}}</span>
    </ion-item-divider>
    <span *ngFor="let i of items">
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold font-1-6rem"> {{i.room_name}}</span>
    </ion-item-divider>
    <span *ngFor="let j of i.devices">
          <span *ngFor="let k of j.switch_appliances" class="loopspan">
             <button ion-item class="itm2" (click)="goToSwitchDetails(k,j.sboard_name,i.room_name,k.is_configured)">
           
            <!--span *ngIf="!k.is_configured" class="font-1-1rem txt-gold"> (Switch - {{k.switch_no}})</span-->
    <span *ngIf="k.name!=''">{{k.name}}</span>
    <span *ngIf="!k.is_configured" class="font-1-1rem txt-gold">(Unconfigured)</span>
    <br><span class="txt-orange txt-small"> {{j.sboard_name}}</span>
    <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>
    </span>
    </span>
    </span>
  </ion-item-group>
</ion-content>