page-configure2-switch-board {
    .off-screen {
        height: 1px;
        left: -50000px;
        overflow: hidden;
        position: absolute;
        top: 0;
        width: 1px;
    }
    .kiot-banner{
        max-width:40% !important;
    }
    // PROGRESS BAR
    #progress-bar {
        position: relative;
        padding-top: 0px;
        margin-bottom: 1.5em;
        color: #4d483f;
        #progress-steps {
            height: 7px;
            width: 100%;
            margin: 0;
            padding: 0;
            display: block;
            background-color: $white;
            position: relative;
            list-style-type: none;
            counter-reset: item;
        }
        .progress-step {
            // Width set by JS
            width: 16.66%;
            height: 7px;
            float: left;
            margin: 0;
            padding: 0;
            position: relative;
        }
        .count:before {
            content: "\2713";
            counter-increment: item;
            display: block;
            width: 14px;
            height: 18px;
            background-color: $white;
            position: absolute;
            right: -10px;
            top: -6px;
            padding: 2px 0 0 6px;
            font-size: 14px;
            font-weight: bold;
            z-index: 999;
            border-radius: 100%;
            color: $white;
        }
        .faild-index:before {
            background-color: #F00;
            content: "X";
        }
        .highlight-index:before {
            background-color: $green;
            color: $white;
        }
        .highlight-index,
        .faild-index {
            background-color: $orange;
            display: block;
            height: 100%;
        }
        .description {
            display: block;
            text-align: center;
            width: 64%;
            right: -32%;
            position: absolute;
            bottom: 20px;
            font-size: 0.9em;
        }
        .bolded-step {
            font-weight: normal !important;
        }
    }
    .bnr{
        bottom: 0;    background: $menubar-bg;    min-height: 50%;    position: absolute;
        width: 100%;
    }
}
