
<ion-header>
    <ion-navbar>
        <ion-title>Configure Device</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <ion-row style="min-height: 70vw;" justify-content-center	>
    	<ion-col align-self-center text-center>
        	<img src="assets/img/Logo.png" class="kiot-banner">
        </ion-col>
    </ion-row>
    <div class="bnr">
        <div id="progress-bar" padding>
            <h2 class="off-screen">progress indicator</h2>
            <ol id="progress-steps">
                <li class="progress-step"  style="width: 0%;">
                    <span class="count" ngClass="{{progress_array[1]==true?'highlight-index':progress_array[1]==-1?'faild-index':''}}"></span>
                </li>
                <li class="progress-step" style="width: 25%;" >
                    <span class="count"  ngClass="{{progress_array[2]==true?'highlight-index':progress_array[2]==-1?'faild-index':''}}"></span>
                </li>
                <li class="progress-step" style="width: 25%;"  >
                    <span class="count " ngClass="{{progress_array[3]==true?'highlight-index':progress_array[3]==-1?'faild-index':''}}"></span>
                </li>
                <li class="progress-step" style="width: 25%;" >
                    <span class="count "  ngClass="{{progress_array[4]==true?'highlight-index':progress_array[4]==-1?'faild-index':''}}"></span>
                </li>
                <li class="progress-step" style="width: 25%;" >
                    <span class="count"  ngClass="{{progress_array[5]==true?'highlight-index':progress_array[5]==-1?'faild-index':''}}"></span>
                </li>
            </ol>
        </div>
        <h3 padding class="txt-orange" *ngIf="progress_array[1]!=-1&&progress_array[2]!=-1&&progress_array[3]!=-1&&progress_array[4]!=-1&&progress_array[5]!=-1">Configuring...</h3>
        <h3 padding class="txt-red" *ngIf="progress_array[1]==-1||progress_array[2]==-1||progress_array[3]==-1||progress_array[4]==-1||progress_array[5]==-1">Failed</h3>
        <h5 padding class="txt-white">{{text}}</h5>
    </div>
</ion-content>
