<ion-header>
  <ion-navbar>
    <ion-title>Notification Settings</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-item class="itm">
    <ion-label>Receive Notifications</ion-label>
    <ion-toggle [(ngModel)]="receive_noti" (ionChange)="enableNotifications($event)"></ion-toggle>
  </ion-item>
  <ion-item-divider class="itm-divider-btom">
    <span class="txt-orange">Filter Notifications</span>
  </ion-item-divider>
  <ion-item class="itm" *ngFor="let i of types_noti">
    <ion-label>{{i.key}}</ion-label>
    <ion-toggle item-right [(ngModel)]="i.selected" [disabled]="!receive_noti"></ion-toggle>
  </ion-item>
 <br>
  <button ion-button full class="txt-orange" [disabled]="!receive_noti" (click)="saveNotiTypes()">Save Preferences</button>
</ion-content>