<ion-header>
  <ion-navbar>
    <ion-title>Create Device</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-silver">Create a new device</span></ion-item-divider>

    <!--ion-item class="itm">
      <ion-label>Device</ion-label>
      <ion-select [(ngModel)]="registerSwitchBoardCredentials.device_type">
        <ion-option value="4_node_switch">Kiot Switch</ion-option>
        <ion-option value="kiot_red">Kiot Red</ion-option>
        <ion-option value="1_node_switch">Kiot One</ion-option>

      </ion-select>
    </ion-item-->
    <ion-item class="itm">
      <ion-label>Device Name</ion-label>
      <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="registerSwitchBoardCredentials.switchBoardName"></ion-input>
    </ion-item>

    <ion-item class="itm">
      <ion-label>Device ID</ion-label>
      <button ion-button icon-right *ngIf="registerSwitchBoardCredentials.device_id" item-right class="txt-orange" text-right (click)="deleteDeviceId()"
        outline class="bdr-orange">{{registerSwitchBoardCredentials.device_id}}
          <ion-icon class="txt-orange" name="close"></ion-icon></button>
      <button ion-button icon-right *ngIf="!registerSwitchBoardCredentials.device_id && !this.showLoader_forCheck" item-right class="txt-orange bdr-orange" text-right
        (click)="scan()" outline>Scan QR</button>
      <button ion-button icon-right *ngIf="!registerSwitchBoardCredentials.device_id && !this.showLoader_forCheck" item-right class="txt-orange bdr-orange" text-right
        (click)="enterId()" outline>Enter</button>
      <!--ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="registerSwitchBoardCredentials.device_id"  [ngModelOptions]="{standalone: true}"
        required></ion-input-->
        <button ion-button icon-right item-right *ngIf="this.showLoader_forCheck" outline style="border-color:transparent">
        <ion-spinner name="dots" class="txt-gold" ></ion-spinner>
        </button>
    </ion-item>
    <ion-item class="itm">
        <ion-label>Device PIN</ion-label>
        <button ion-button icon-right *ngIf="registerSwitchBoardCredentials.device_pin" item-right class="txt-orange" text-right (click)="deleteDeviceId(1)"
          outline class="bdr-orange">{{registerSwitchBoardCredentials.device_pin}}
            <ion-icon class="txt-orange" name="close"></ion-icon></button>
        <button ion-button icon-right *ngIf="!registerSwitchBoardCredentials.device_pin" item-right class="txt-orange bdr-orange" text-right
          (click)="scan(1)" outline>Scan QR</button>
        <button ion-button icon-right *ngIf="!registerSwitchBoardCredentials.device_pin" item-right class="txt-orange bdr-orange" text-right
          (click)="enterId(1)" outline>Enter</button>
        <!--ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="registerSwitchBoardCredentials.device_id"  [ngModelOptions]="{standalone: true}"
          required></ion-input-->

      </ion-item>



    <!--<ion-item class="itm">
        <ion-label>Room Name</ion-label>
        <ion-select [(ngModel)]="registerSwitchBoardCredentials.roomId" [ngModelOptions]="{standalone: true}">
            <ion-option *ngFor="key of roomArray" [value]="key.roomId">{{key.roomaName}}</ion-option>
        </ion-select>
      </ion-item> -->

    <ion-item class="itm">
      <ion-label>Room Name</ion-label>
      <ion-select [(ngModel)]="registerSwitchBoardCredentials.roomId">
        <ion-option *ngFor="let name of roomArrayData" [value]="name._id">{{name.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <br>
  <button ion-button full type="submit" class="txt-orange" (click)="registerSwitchBoard()">Create Device</button>

</ion-content>