<ion-header>
  <ion-navbar>
    <ion-title> {{switch.name}} Settings</ion-title>
    <!-- <ion-buttons end class="txt-gold"> 
    <button clear ion-button>
       <ion-icon item-right name="close" class="txt-white"></ion-icon>
     </button> 
   </ion-buttons> -->
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <ion-row class="h-4rem">
    <ion-col text-center no-padding no-margin align-self-center>
      <span class="txt-gold">Running Hrs:</span>
      <span class="txt-white">{{switch.durationHrs}}:{{switch.durationMins|timeFormatter}}</span> &nbsp;

      <!--span class="txt-gold">Estimate kWh:</span>
      <span class="txt-white">{{switch.wattage}}</span-->
    </ion-col>
  </ion-row>

  <!--   <ion-row>
    <ion-col col-4></ion-col>
>
      <i class="flaticon-cooler"></i>
      <br>
    </ion-col>
    <ion-col col-4></ion-col>
  </ion-row> -->
  <!--   <ion-row no-padding>
    <ion-col width-50 no-padding class="txt-white font-4-8rem" text-center>   {{switch.durationHrs}}:{{switch.durationMins|timeFormatter}}  </ion-col> 
    <ion-col width-50 no-padding class="txt-white font-4-8rem" text-center>   {{switch.wattage}}   </ion-col>
  </ion-row> -->


  <!-- COMMENTED ON 1st SEPT-->
  <ion-item-group>

    <button class="btn txt-orange" ion-button full (click)="goToSchedules()">
        Schedule
      </button>

    <p padding-left class="m-40150">Switch can be scheduled to switch on or off based on given timings</p>
    <button class="btn txt-orange" ion-button full (click)="goToHistory()">
        History
      </button>

    <p padding-left class="m-40150">Switch toggle history for today</p>
    <button class="btn txt-orange" [disabled]="show_spinner" ion-button full (click)="testConnection()">
        Test Connection  
        <ion-spinner name="dots" *ngIf="show_spinner"></ion-spinner>
        <span *ngIf="show_spinner" item-right>00:{{timer>9?'':'0'}}{{timer}}</span>
      </button>
    <p padding-left class="m-40150">Test whether switch is reachable</p>
  </ion-item-group>
  <!-- COMMENTED ON 1st SEPT ENDS HERE-->


  <!--ion-row class="h-36vw">

    <ion-col align-self-center class="h-100" (click)="goToSchedules()">
      <div text-center class="dv-inner">
        <img src="/assets/img/schedule.png">

        <br>
        <h5>Schedule</h5>
      </div>
    </ion-col>
    <ion-col align-self-center class=" h-100" (click)="goToHistory()">
      <div text-center class="dv-inner">
        <img src="/assets/img/history.png">
        <br>
        <h5>History</h5>
      </div>

    </ion-col>
  </ion-row>
  <br>
  <ion-row class="h-36vw">

    <ion-col align-self-center col-6 class="  h-100" [disabled]="show_spinner" (click)="testConnection()">
      <div text-center class="dv-inner">
        <img src="/assets/img/test-connection.png">
        <br>
        <h5>Test Connection</h5>
      </div>

      <ion-spinner name="dots" *ngIf="show_spinner"></ion-spinner>
      <span *ngIf="show_spinner" item-right>00:{{timer>9?'':'0'}}{{timer}}</span>
    </ion-col>

  </ion-row-->




  <!-- <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Switch Settings</span>
    </ion-item-divider>
    <button ion-item class="itm"  (click)="goToSchedules()" >
      <h2>Schedule</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button> 
    <button ion-item class="itm" (click)="goToHistory()">
      <h2>History</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>
    <button ion-item class="itm" (click)="testConnection()">
      <h2>Test Connection</h2>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>    
  </ion-item-group> -->
</ion-content>