page-switch-stats {
	.hrs-pdng{
		padding:10px 0 0 0;
		margin:0;
	}
	.padding-top5{
		padding-top:5px;
	}
	.flaticon-cooler:before{
		font-size:4rem;
	}
	.h-100{
		height:100% !important;
		background:$menubar-bg;
		margin:2vw;
	}
	.h-36vw{
		height:36vw !important;
	}
	.dv-inner{
		margin-top: 16%;
	}
}
