<ion-header>

  <ion-navbar>
    <ion-title>Help</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-gold">General Support</span></ion-item-divider>
    <button ion-item class="itm">FAQ's<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    <button ion-item class="itm">Tutorials<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>

  </ion-item-group>
  <!--ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-gold">About</span></ion-item-divider>
    <button ion-item class="itm" (click)="goToLegal()">Legal<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    <button ion-item class="itm" (click)="goToPrivacyPolicy()">Privacy Policy</button>
  </ion-item-group-->

</ion-content>