<ion-header>
    <ion-navbar>
        <ion-title>Test Your {{type}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content no-padding>
    <div *ngIf="!no_remotes">
        <!-- <P padding class="font-1-5rem no-margin">Remote: 
  <span class="txt-gold"  style="font-size: 2.8rem !important;">{{present_remote}}</span>
  <span class="txt-gold">/ {{number_of_remotes}}</span>
</P> -->
        <h5 text-center>Test your {{brand}} {{type}}</h5>
        <div class="lh-20px" style="min-height: 20px">
            <h6 text-center class="no-margin" *ngIf="data && data[present_remote-1]?.model_name">( {{data[present_remote-1]?.model_name}} )</h6>
        </div>
        <div>
            <ion-row text-center ngClass="{{remote_anim}}">
                <ion-col col-4 *ngFor="let i of keys;let ind=index">
                    <button ion-button icon-only class="btn-icon txt-normal" [disabled]="waiting" (click)="triggerIr(i,ind)">
                        <i class="{{'flaticon-'+icons[i]}}"></i>
                    </button>
                    <br>
                    <span class="txt-white font-1-1rem" text-center>{{i}}</span>
                </ion-col>
            </ion-row>
        </div>
        <div style="display: flex;    flex-direction: column;    min-height: 80vw;    justify-content: center;">
            <ion-row style="height: 35vw; line-height: 35vw" *ngIf="number_of_remotes>1">
                <ion-col text-right col-4 align-self-center>
                    <button ion-button block clear no-padding [disabled]="disable_prev" (click)="prevRemote()" icon-right class="h-8rem">
                        <ion-icon name="ios-arrow-back-outline" class="font-8rem txt-gold"></ion-icon>
                    </button>
                </ion-col> 
                <ion-col text-center col-4 align-self-center>
                    <div padding class="font-1-8rem no-margin">
                        <span class="txt-gold" style="font-size: 2.8rem !important;">{{present_remote}}</span>
                        <span class="txt-gold">/ {{number_of_remotes}}</span>
                    </div>
                </ion-col>
                <ion-col text-left col-4 align-self-center>
                    <button ion-button block clear no-padding [disabled]="disable_next" (click)="nextRemote()" icon-left class="h-8rem">
                        <ion-icon name="ios-arrow-forward-outline" class="font-8rem txt-gold"></ion-icon>
                    </button>
                </ion-col>
            </ion-row>
        </div>
        <p>&nbsp;</p>
        <div class="stick-to-bottom">
            <ion-row no-padding>
                <ion-col text-center class="txt-orange bdr bg-1c">
                    <button ion-button block clear no-padding class="margin-zero txt-orange" (click)="setRemote()">Okay, Get this Remote</button>
                </ion-col>
            </ion-row>
<!-- 
  <ion-row no-padding *ngIf="moreThanOne"> 
    <ion-col text-center class="txt-white bdr bg-1c">
      <button ion-button block clear no-padding class="margin-zero txt-white" [disabled]="disable_prev" (click)="prevRemote()">Previous</button>    
    </ion-col>
    <ion-col text-center class="txt-white bdr bg-1c"> 
      <button ion-button block clear class="margin-zero txt-white" [disabled]="disable_next" (click)="nextRemote()"> Next </button>  
    </ion-col>
  </ion-row> 
-->
        </div>
    </div>
</ion-content>
