page-set-up-remote {
.sliding-remote {
    animation: next-remote 600ms ease-in-out;
}

@keyframes next-remote {
    0% {opacity: 1;}
    50%{opacity:0;}
    100%{opacity:1;}
}/*
@keyframes next-remote {
    from {
        opacity: 1;
        transform: scale(1, 1);
    }
    to {
        opacity: 0;
        font-size: 4rem;
    }
}*/

.stick-to-bottom{
    position: absolute;
    bottom: 0;
    width:100%;
}
.no-margin{
    margin:0 !important;
}
}
