<ion-header>

  <ion-navbar>
    <ion-title>New Scene</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-padding>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Create a new scene</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Name</ion-label>
      <ion-input type="text" item-right class="txt-normal" text-right [(ngModel)]="scene_name"></ion-input>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Schedule</ion-label>
      <ion-toggle [(ngModel)]="schedule_toggle"></ion-toggle>
    </ion-item>
    <ion-item class="itm" *ngIf="schedule_toggle">
      <ion-label>Trigger time</ion-label>
      <ion-datetime displayFormat="hh:mm A" [(ngModel)]="scene_time" placeholder="Select"></ion-datetime>
    </ion-item>
    <!--ion-item class="itm" *ngIf="schedule_toggle">
      <ion-label>Repeat on</ion-label>
      <ion-select [(ngModel)]="schedule_repeats" multiple="true" placeholder="Select" (ionChange)="repeatChange()" [selectedText]="repeat_selectText">
        <ion-option value='0'>Monday</ion-option>
        <ion-option value='1'>Tuesday</ion-option>
        <ion-option value='2'>Wednesday</ion-option>
        <ion-option value='3'>Thursday</ion-option>
        <ion-option value='4'>Friday</ion-option>
        <ion-option value='5'>Saturday</ion-option>
        <ion-option value='6'>Sunday</ion-option>
      </ion-select>

    </ion-item-->
    <div class="txt-center" *ngIf="schedule_toggle">
      <input type="checkbox" [(ngModel)]="schedule_repeats[0]" class="day" id="monday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[1]" class="day" id="tuesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[2]" class="day" id="wednesday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[3]" class="day" id="thursday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[4]" class="day" id="friday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[5]" class="day" id="saturday">
      <input type="checkbox" [(ngModel)]="schedule_repeats[6]" class="day" id="sunday">
    </div>
  </ion-item-group>
  <br>
  <button ion-button full class="txt-orange" [disabled]="!scene_name || (schedule_toggle&&scene_time=='Select')" (click)="goToRoomList()">Next</button>


</ion-content>