page-epg-main {


  ion-content {
    overflow: inherit !important ;
    text-overflow: inherit !important ;
    white-space: nowrap !important ;
}
  .item{
    overflow: inherit ;
    text-overflow: inherit ;
    white-space: nowrap ;
}

  ion-scroll{
    white-space: nowrap;
    height:230px;
    text-align: center;
    margin: 2px !important;
    margin-bottom: 2px;
    padding: 2px !important;
   }

    ion-img {
    display:inline-block;
    width: 120px;
    height: 180px;
    object-fit: cover;
    padding: 0px !important;
    // green background color
    background: #47c627 !important;
    contain: strict;

        }
  img{
    margin: 0 !important;

}
  .item-md {
      background-color: #d61a37 !important;
      margin: 0px !important;
      color: #3a5072 !important;
      padding: 0px !important;
      border-radius: 0px !important;
          }

    .item-ios {
      position: relative;
      margin: 0px !important;
      color: #3a5072 !important;
      border-radius: 0px !important;
      padding: 0 !important;
      // red progress bar
      background-color: #000 !important;
        }

  .label-ios {
       margin:0px !important;
  }
    .label-md {
       margin:0px !important;
     }

     ion-card{
       display: inline-block;
       background: none !important;
       margin: 0px !important;

     }
     .card-content-ios {
        padding: 0px !important;
        font-size: 1.4rem;

}
    .card-title-ios {
      margin: 0px !important;
      padding: 0px!important;
      font-size: 1.5rem;
}
    ::-webkit-scrollbar{
        display: none !important;
      }

  .card-ios {
    margin: 0px !important;
    padding: 0px !important;

    width: 30%;
    background: none !important;

  }
  .card-md {
    margin: 0px !important;
    padding: 0px !important;
    width: 30%;
    background: none !important;
  }

  .item-md.item-block .item-inner {
    padding: 0px !important;

  }

  .item-ios.item-block .item-inner {
      padding: 0px !important;

    }

   .txt-silver{
     color: #929292 !important;
       }
       .txt-black{
         color: #000 !important;
           }

       .bg-white{
         background-color: $white !important;
           }

   // text center
   .center-text {
      text-align: center;
   }
   .ellipses {
     overflow: hidden;
     white-space: nowrap;
     text-overflow: ellipsis;
   }

   // new design

   .card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: $white;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: $white;
  }

}

  .secondary {
    background-color: #1bd63e  !important;

  }
  .light {
    background-color: $white  !important;

  }


}


