<ion-content style="background: rgba(0,0,0,0.8) !important;">
  <img src='assets/img/offline1.png' class="offline" />

  <ion-row>
  <button full ion-button (click)="retry()" class="txt-gold" [disabled]="retry_loading">
            RETRY
            <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
    </button>
  <button full ion-button *ngIf="show_offline_mode" (click)="goOffline()" class="txt-gold">
            Go to Offline Mode
  </button>
  </ion-row>
</ion-content>