<ion-header>

  <ion-navbar>
    <ion-title>About</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div text-center>
    <img src="assets/img/Logo.png" style="height:44vw;margin-top:2vw" />
  </div>
  <br>
  <div text-center class="txt-normal font-1-6rem">
    Kiot Communications LLP
  </div>
  <br>
  <ion-item-group>
    <button ion-item class="itm" (click)="goToLegal()">Legal<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
    <button ion-item class="itm" (click)="goToPrivacyPolicy()">Privacy Policy<ion-icon item-right md="ios-arrow-forward"></ion-icon></button>
  </ion-item-group>
</ion-content>