<ion-header>
  <ion-navbar>
    <ion-title *ngIf="switchBoardDetailsData">{{ switchBoardDetailsData.sboard_name}}</ion-title>
    <ion-buttons end>
      <button class="txt-orange bg-none" (click)="goToEditSwitchBoard()">Edit</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content *ngIf="switchBoardDetailsData">
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Device details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Device Name</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.sboard_name}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Device Type</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.device_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Home</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.home_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Room</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.room_type}}</span>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Device ID</ion-label>
      <span item-right class="txt-normal">{{switchBoardDetailsData.device_id}}</span>
    </ion-item>
  </ion-item-group>
  <br>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">Device Config Details</span>
    </ion-item-divider>
    <ion-item class="itm">
      <ion-label>Device Type</ion-label>
      <span item-right *ngIf="!show_loader" class="txt-normal">{{sboardConfig.app||'unreachable'}}</span>
      <ion-spinner item-right *ngIf="show_loader" name="dots"></ion-spinner>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Current Network</ion-label>
      <span item-right *ngIf="!show_loader" class="txt-normal">{{sboardConfig.current_wifi||'unreachable'}}</span>
      <ion-spinner item-right *ngIf="show_loader" name="dots"></ion-spinner>
    </ion-item>
  </ion-item-group>
  <br>
  <button class="btn txt-orange" full ion-button (click)="configureSwitchBoard()">Configure Device </button>

  <p padding-left class="m-40150">When you click on it you can configure device settins</p>


  <button class="btn txt-red" ion-button full (click)="deleteSwitchBoard()">Delete Device</button>
</ion-content>