page-extra-buttons {
/*	.toolbar-ios{
		min-height:43px !important;
	}
	*/
	.searchbar-input{
		box-shadow:none !important;
	}
	.searchbar{
		background: none !important;	
	}
	.toolbar-background{
	    border-bottom: none !important;
	}
	
	.toolbar{
		border-bottom: 1px solid $body-bg;
	}
    .btn-more {
        font-size: 1.5rem !important;
	    margin: 0px 1px 1px 0px !important;
        color: $txt-primary;
        border-radius: 0;
    }
    ::-webkit-input-placeholder {
    	color: $orange !important;
	}
}
 