
<ion-header>

  <ion-navbar>
    <ion-title>All Buttons</ion-title>
  </ion-navbar>
    <ion-toolbar no-border-top no-padding>
        <ion-searchbar [showCancelButton]="shouldShowCancel" (ionInput)="filterItems($event)" placeholder="Search any key" autocomplete="on">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>


<ion-content>
  <div *ngFor="let i of extra_buttons2" no-padding  text-center>
    <button ion-button class="btn-more" *ngIf="i!='0'&&i!='1'&&i!='2'&&i!='3'&&i!='4'&&i!='5'&&i!='6'&&i!='7'&&i!='8'&&i!='9'" full (click)="triggerIr(i)">{{i}}</button>
  </div>

</ion-content>
