page-rooms{
	
	.rooms{
		height: 22rem;
		border: 2px solid $body-bg;
	}
	.btn-round{
		border-radius: 100%;
    	height: 100%;
    	width: 100%;
    	border: 3px solid $black;

		position: absolute;
		top:0;
		left:0;

	}
	.no-room-loader{
		position: absolute;
		top: 46%;
		left: 45%;
	}
	.btn-round{
		border-radius: 100%;
    	height: 100%;
    	width: 100%;
    	border: 3px solid $black;

		position: absolute;
		top:0;
		left:0;

	}
	.container{
		    	height: 10.5rem;
    	width: 10.5rem;
		position: relative;
		    	font-size: 4.5rem !important;
    	margin: 0 auto;
    	line-height: 10.5rem;
	}
		.rotating-btn{
		    border-radius: 100%;
    height: 100%;
    width: 100%;
    border-top: 2px solid $orange;
    font-size: 4.5rem !important;
    animation: spinner-rotate 1.2s linear infinite;
	}
	.fade-out-ring{
		  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.2s, opacity 1.2s linear;
	}
	.fade-in-ring{
		 visibility: visible;
  opacity: 1;
  transition: opacity 1.2s linear;
	}
	@keyframes myAnimation {
    0% {
        opacity:100%;
    }
    75% {
        opacity:25%;
    }
    100% {
        opacity:0%;
    }
}
	.app-icon{
		padding-left: 26vw;
    	padding-top: 6vw;
		float: left;
		position: absolute;
	}
	.temp{
		padding-right: 5px;
    	padding-top: 0px;
	}
	.temp1{
		padding-right: 5px;
    	padding-top: 6px;
	}
	.flaticon-temp:before {
    	font-size: 20px;
    	color:$orange;
	}
	.dis-power{
		opacity:0.4 !important;
	}
	.sup{
		font-size: 73% !important;
	}
	.app-name{
		font-size: 1.6rem !important;
		line-height: 4rem;
    	height: 4rem;
	}
	.loader-tile{
		position: absolute !important;
    height: 12.5rem !important;
    width: 12.5rem !important;
    left: 10vw;
    top: 5vw;
	}

	.ion-ios-power:before{
		font-weight: 900 !important;
	}
	.pwr-icon{
		padding-right: 3px;
    	padding-top: 3px;
	}
	.circle{
          width: 0.4em;
          height: 0.4em;
          display: block;
          border-radius: 50%;
    }


} 