<ion-header>
  <ion-navbar>
    <ion-title> Rooms </ion-title>
    <ion-buttons end class="txt-gold go_online_outer">
      <button class="noti-fab-btn txt-orange" style="margin-right:0px" (click)="startIntro(1)"><ion-icon name="ios-information-circle-outline" class="font-2-8rem"></ion-icon></button>
      <button class="go_online" ion-button (click)="retry()" *ngIf="kiot_internet=='offline'">
           GO ONLINE
            <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
     </button>
      <button (click)="goToNotifications();" class="noti-fab-btn txt-gold" *ngIf="kiot_internet=='online'">
              <span *ngIf="num_of_notifications" class="noti-num">{{num_of_notifications}}</span>
              <ion-icon *ngIf="num_of_notifications" name="ios-notifications-outline" class="txt-orange font-3rem"></ion-icon>
              <ion-icon *ngIf="!num_of_notifications" name="ios-notifications-outline" class="txt-normal font-3rem"></ion-icon>
              <!-- <img *ngIf="num_of_notifications" src="assets/img/notification.png">
              <img *ngIf="!num_of_notifications" src="assets/img/notification (1).png"> -->
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="bg-00">
  <!--ion-refresher refreshingSpinner="none" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher-->
  <!--         <ion-item-divider class="itm-divider-btom bdr-btom-none">
            <span class="txt-gold"> Rooms in the default home</span>
        </ion-item-divider> -->
  <ion-grid class="p-2">
    <ion-spinner *ngIf="no_rooms_loader" class="no-room-loader" name="dots"></ion-spinner>
    <ion-row>
      <ion-col *ngFor="let i of data" col-6 text-center class="bg-1c rooms">
        <div (click)="goToSwitchesinTheRoom(i)">
          <ion-row no-padding class="h-6vw">
            <ion-col no-padding text-left class="txt-white">
              <ion-icon name="ios-flash" class="txt-gold"></ion-icon> {{i.power}} W</ion-col>
            <ion-col no-padding>
              <div style="float:right;" text-right class="txt-white temp">
                <span style="margin-top: -2px;">{{i.tempr?i.tempr:''}}<sup *ngIf="i.tempr" class="celsius"></sup></span>
              </div>
              <div style="float:right;" text-right class="txt-white temp">
                <!-- <i class="flaticon-thermometer txt-orange"></i> -->
                <!-- <i class="flaticon-temp"></i>  -->
                <!--ion-icon name="cloudy" class="txt-orange"></ion-icon-->
              </div>
            </ion-col>
          </ion-row>
          <!--ion-spinner name="crescent" class="loader-tile"></ion-spinner-->
          <div text-left class="txt-white app-icon" *ngIf="!i.show_loader">
            <ion-icon name="radio-button-on" class="txt-green font-1rem"></ion-icon>
          </div>
          <div class="container" id="room_step_three">
            <div class="btn-round txt-white"><span ngClass="{{!i.show_loader?'fade-in-ring':'fade-out-ring'}}">{{i.activeAppliance}}</span>
            </div>
            <div ngClass="{{i.show_loader?'fade-in-ring':'fade-out-ring'}}" class="rotating-btn">
            </div>
          </div>
          <div class="txt-white app-name">{{i.room_name}}</div>
          <div text-left class="align-left p-5">
            <!-- <img src="assets/img/sum.png" style="width: 19px;"> -->
            <ion-icon name="radio-button-on" class="txt-gold font-1rem"></ion-icon>
          </div>
          <div>
            <div text-left class="align-left p-top-6" id="room_step_one">
              <span class="txt-white font-1-5rem"> {{i.totalAppliances}} </span>
            </div>
            <div *ngIf="(i.totalAppliances - i.activeAppliance)">
              <div text-left style="float:left;padding: 5px;">
                &nbsp;
                <ion-icon name="radio-button-on" class="txt-red font-1rem"></ion-icon>
              </div>
              <div text-left style="float:left;padding-top: 6px;">
                <span class="txt-white font-1-5rem"> {{(i.totalAppliances - i.activeAppliance)}}</span>
              </div>
            </div>
          </div>
        </div>
        <div text-right class="txt-red pwr-icon" ngClass="{{i.activeAppliance=='-'||i.activeAppliance==0?'dis-power':''}}" (click)="turnOffRoom(i)">
          <ion-icon id="room_step_two" name="power" class="txt-red font-2-2rem"></ion-icon>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<!-- <ion-content no-padding>
    <ion-refresher refreshingSpinner="none" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-item-group>
        <ion-item-divider class="itm-divider-btom bdr-btom-none">
            <span class="txt-gold"> Rooms in the default home</span>
        </ion-item-divider>
        <ion-row no-padding *ngFor="let i of data">
            <ion-col class="itm1 bdr-btom-rt-0d" ion-item (click)="goToSwitchesinTheRoom(i)">
                <p class="font-2 m-btom-8px txt-white">{{i.room_name}}</p>
                <ion-row no-margin no-padding>
                  <ion-col no-padding class="d-inherit">
                    <span class="txt-orange font-1-3rem"> Total: </span>
                    <span class="txt-normal font-1-3rem"> {{i.totalAppliances}} &nbsp; </span>
                  </ion-col>
                  <ion-col no-padding class="d-inherit">
                    <span class="txt-gold font-1-3rem"> Active: </span>
                    <span class="txt-normal font-1-3rem"> {{i.activeAppliances}} &nbsp;</span>
                  </ion-col>
                  <ion-col no-padding class="d-inherit">
                    <span class="txt-red font-1-3rem"> Inactive: </span>
                    <span class="txt-normal font-1-3rem"> {{(i.totalAppliances - i.activeAppliances)}} </span>
                  </ion-col>                  
                </ion-row>
            </ion-col>
            <ion-col class="itm1 lbl-m-0 align-vc h-80 maxh-100" text-center col-3 no-padding no-margin>
              <img src="assets/img/remind-active.png"  (click)="turnOffRoom(i)"> 
                <button [disabled]="!i.activeAppliances" ion-button full clear no-padding no-margin class="wh-100" (click)="turnOffRoom(i)">
                    <ion-icon name="power" class="txt-red font-2-5rem"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-item-group>
</ion-content> -->