
<ion-header>

  <ion-navbar>
    <ion-title class="ellipses">{{programInfo.mainprogramname||programInfo.name}}</ion-title>
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Close
            </button>
        </ion-buttons> 
	</ion-navbar>  

</ion-header>
 

<ion-content no-padding class="txt-normal">  
  <div *ngIf="data_loaded">

<div text-center>
  <img *ngIf="!fav_details" [src]="channel_thumbnail" class="logo-icon">
	<img width="100%" height="200" [src]="programInfo.thumbnail||programInfo.poster||programInfo.posterw92||programInfo.posterw164" ngClass="{{programInfo.thumbnail?'':'wid-40'}}" />    
    <svg *ngIf="progress" width="100%" height="3" style="display: block;position: relative;">
      <rect [attr.width]="progress" height="100%" class="fill-green"> </rect>
    </svg>
  </div> 
 <ion-spinner class="spinner-details" *ngIf="show_loader" name="dots"></ion-spinner> 
  <p padding-left class="txt-white txt-more"> <span class="font-2">{{programInfo.mainprogramname||programInfo.name}}<span *ngIf="programInfo.releaseyear"> ({{programInfo.releaseyear}})</span></span></p> 

<img *ngIf="!fav_details" src="{{'assets/img/'+fav+'.png'}}" class="fav-icon" (click)="setFav()"> 
<img *ngIf="(channel_number!='unknown'&& channel_number && !fav_details && watch_remind=='watch_now')|| watch_remind=='remind'|| watch_remind=='unremind'" src="{{'assets/img/'+watch_remind+'.png'}}" class="remind-icon" (click)="switchToChannel()"> 
<p *ngIf="programInfo.mainrating!=0" class="txt-more m-btom-6px">
<rating [ngModel]="programInfo.mainrating/200" 
        readOnly="true"  
        max="5"  
        emptyStarIconName="star-outline"   
        halfStarIconName="star-half" 
        starIconName="star" 
        nullable="true"></rating>
  <span class="txt-gold">{{programInfo.mainrating/200}}/5</span>
</p>

<span padding-left class="txt-white txt-more">{{channel_name}}</span><span *ngIf="channel_number!='unknown'" class="txt-white txt-more"> - {{channel_number}}</span>
<!-- <ion-row padding-left no-padding class="mb-6px">
  <ion-col width-75 class="channel font-1-5rem" no-padding>
  <span class="txt-white strong"> {{channel_name}} - {{channel_num}}</span>
  </ion-col>
  <ion-col class="txt-normal font-1-5rem" no-padding>
    <ion-icon name="heart"></ion-icon> &nbsp; &nbsp; 
    <ion-icon [name]="watch_remind" (click)="switchToChannel()"></ion-icon>
  </ion-col>
</ion-row> -->


<p padding-left class="txt-more" *ngIf="programInfo.mainprogramname&&programInfo.mainprogramname!=programInfo.name&&!fav_details">
    <span class="txt-gold">Episode: </span><span class="txt-white">{{programInfo.name}}</span>
    </p>
<p *ngIf="!fav_details" padding-left class="txt-gold txt-more">
  <span *ngIf="flag!=false">{{flag}}</span>
  <span *ngIf="flag==false">{{starttime | date:'EEE'}},{{starttime | date:'dd'}}  {{starttime | date:'MMM'}}</span>
  | {{starttime | date:'shortTime'}} - {{programdetails.endtime | date:'shortTime'}}
</p>

<p padding-left class="txt-white txt-more"><span class="font-w-600">{{programInfo.type}}</span>: {{programInfo.language}}</p>
<p padding-left class="txt-white txt-more"><span  class="font-w-600">Runtime</span>: 
       <span *ngIf="hrs!=0"> {{hrs}} hr</span> <span *ngIf="mins!=0">{{mins}} min</span></p>
<p padding-left class="txt-white txt-more">{{programInfo.genre}}</p>
<p padding-left *ngIf="director.realname" class="txt-more">
	<span class="txt-gold  font-w-600">Director</span>
 	<span class="txt-white txt-more">: {{director.realname}}</span>
</p>
<span *ngIf="cast.length">
<p padding-left class="txt-white txt-more font-w-600">Cast</p>

<ion-scroll scrollX="true" padding-left style="text-align: left">
  <span *ngFor="let c of cast">
  <ion-card>
  	<ion-item text-center class="bdr-btom-none program_flip_button p-top-120p" >
  		<img [src]="c.people?.postersmall||c.people?.postermedium||c.people?.posterlarge||'assets/img/noCast.png'" class="wh-100" />  		
  	</ion-item>
    <p text-center class="card-title txt-white font-1-3rem ellipses m-top-2">{{c.realname}} </p>
  </ion-card>
  </span>
</ion-scroll>
</span>

<p padding-left *ngIf="programInfo.tagline">
	<span class="txt-gold font-1-3rem font-w-600" >Tagline</span>
 	<span class="txt-white font-1-3rem">{{programInfo.tagline}}</span>
</p>
<p padding-left class="m-top-25" *ngIf="programInfo.summary">
	<span class="txt-gold font-1-5rem font-w-600">Overview</span>
 	<span class="txt-white lh-20px font-1-5rem">{{programInfo.summary}}</span>
</p>
  </div>
</ion-content>  