page-program-details {
     
    .logo-icon{          
        right: 0;
        position: absolute;
        width: 70px;
        /*opacity: 0.5;*/
        background: white;
    }
    .fav-icon{
        height:26px;
        right: 25px;
        position: absolute;
    }
    .remind-icon{
       height:26px;
       right: 75px;
       position: absolute; 
    }
    ion-content {
        overflow: inherit !important;
        text-overflow: inherit !important;
    }
    .spinner-details{
        position:relative;
        float:right;
    }
    .item {
        overflow: inherit;
        text-overflow: inherit;
        white-space: nowrap;
        /* height: 160px;*/
    }
    ion-scroll {
        white-space: nowrap;
        height: 160px;
        text-align: center;
        margin: 2px !important;
        margin-bottom: 2px;
        padding: 2px !important;
    }
    ion-img {
        display: inline-block;
        width: 120px;
        height: 140px;
        object-fit: cover;
        padding: 0px !important;
        contain: strict;
    }
    img {
        margin: 0 !important;
    }
    .item-md {
        background-color: $menubar-bg !important;
        margin: 0px !important;
        color: #3a5072 !important;
        /*padding: 0px !important;*/
        border-radius: 0px !important;
    }
    .item-ios {
        position: relative;
        margin: 0px !important;
        color: #3a5072 !important;
        border-radius: 0px !important;
        /*padding: 0 !important;*/
        background-color: $black !important;
    }
    .label-ios {
        margin: 0px !important;
    }
    .label-md {
        margin: 0px !important;
    }
    ion-card {
        display: inline-block;
        background: none !important;
        margin: 0px !important;
    }
    .card-content-ios {
        padding: 0px !important;
        font-size: 1.4rem;
    }
    .card-title-ios {
        padding: 0px!important;
        font-size: 1.5rem;
    }
    ::-webkit-scrollbar {
        display: none !important;
    }
    .card-ios {
        margin: 0px !important;
        padding: 0px !important;
        width: 30%;
        background: none !important;
    }
    .card-md {
        margin: 0px !important;
        padding: 0px !important;
        width: 30%;
        background: none !important;
    }
    .item-md.item-block .item-inner {
        padding: 0px !important;
    }
    .item-ios.item-block .item-inner {
        padding: 0px !important;
    }
    .txt-silver {
        color: #929292 !important;
    }
    .txt-black {
        color: $black !important;
    }
    .bg-white {
        background-color: $white !important;
    }

    // new design
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
        }
        .card-title {
            position: absolute;
           	padding-top: 4px;
            font-size: 2.0em;
            width: 100%;
            font-weight: bold;
            color: $white;
        }
        
    }
    .secondary {
        background-color: #1bd63e !important;
    }
    .light {
        background-color: $white !important;
    }
    .item:last-child {
    border-bottom: none !important;
}
ul {
  padding-left: 16px;
  margin-top:4px;
  display:inline;
 
  &.rating li {
    padding: 0 !important;
    color:$orange;
 
    ion-icon {
      font-size: 1.5rem !important;
    }
  }
}

.p-top-120p{
    padding-top: 120% !important
}

.item.program_flip_button {
    box-sizing: border-box;
    width: 100%;
    padding-top: 150%;
    position: relative;
    .item-inner{
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          img{
                object-fit: contain;
                -webkit-object-fit:cover;
                -o-object-fit:cover;
                -moz-object-fit:cover;
          }
    }
  }

  .bar{
      display: block;
      position: relative;
      margin:-3px 0px 0px 0px;
  }
  .txt-more{
    font-size:1.5rem !important;
    margin:13px 0px !important;
  }
  .wid-40{
      width:40% !important;
  }
}

