<ion-header>
    <ion-navbar>
        <ion-title>{{room_name}}</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>

    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content>
        </ion-refresher-content>
    </ion-refresher>
    <div>
        <!--div id="back"></div>
    <div id="front"></div-->
        <!--ion-row class="temp-block mt-5px">


            <ion-col style="color: #fff; font-size: 2rem;"> <span class="room-head">{{room_name}}</span></ion-col>
            <ion-col col-2 text-right no-padding padding-right style="padding-right: 5px !important;">
                <ion-icon name="ios-snow-outline" *ngIf="this.room_tempr &&this.room_tempr<21" class="txt-gold font-2-6rem"></ion-icon>
                <ion-icon name="ios-partly-sunny-outline" *ngIf="this.room_tempr &&this.room_tempr>=21 && this.room_tempr<29" class="txt-gold font-2-6rem"></ion-icon>
                <ion-icon name="ios-sunny-outline" *ngIf="this.room_tempr &&this.room_tempr>29" class="txt-gold font-2-6rem"></ion-icon>
            </ion-col>
        </ion-row-->
        <!--ion-col col-4 align-self-center>
                <div class="txt-white">
                    <ion-icon name="ios-flash" class="txt-gold mr-0-8vw"></ion-icon>{{room_energy}} kWh
                </div>
            </ion-col-->

        <ion-row class="temp-block blk-1">

            <ion-col class="temp" text-center>
                <ion-icon txt-left name="walk" class="txt-normal font-3rem " (click)="motionToast()"></ion-icon>
                <ion-icon name="ios-radio-button-on" style="margin-left: -7px;" class="font-2-4rem" ngClass="{{( motion=='unreachable'?'txt-normal':motion=='detected'?'txt-green':motion=='not_detected'?'txt-red':'' ) }}"></ion-icon>

                <ion-icon txt-left class="font-3rem txt-gold" name="ios-sunny-outline"></ion-icon>
                <span txt-left class="font-1-8rem" style="margin-left: -7px;">{{analog?(800-analog): '-'}} lux</span>

                <ion-icon name="ios-water-outline" class="txt-gold font-3rem"></ion-icon>
                <span class="font-1-8rem" style="margin-left: -7px;">{{room_hum || '-'}}%</span>

                <span style="margin-right: -15px;"> {{room_tempr || '-'}}</span>
                <sup class="celsius txt-sup">
              <span style="vertical-align: -webkit-baseline-middle;"></span>
            </sup>

            </ion-col>
        </ion-row>


        <ion-row class="temp-block">
            <ion-col></ion-col>
            <ion-col text-right style="margin-right: 13vw;margin-bottom: 2vw;" no-padding class="temp-txt txt-orange" *ngIf="this.room_tempr && this.room_hum">
                <span *ngIf="this.room_hum<40"> Dry </span>
                <span *ngIf="this.room_hum>=40 && this.room_hum<=75"> Humid </span>
                <span *ngIf="this.room_hum>75"> Moist </span> &
                <span *ngIf="this.room_tempr<21"> Cool </span>
                <span *ngIf="this.room_tempr>=21 && this.room_tempr<=31"> Moderate </span>
                <span *ngIf="this.room_tempr>31"> Hot </span>


            </ion-col>
        </ion-row>

        <!--ion-row class="temp-block" (click)="goToChartDetails()">
            <canvas #lineCanvas ngClass="{{show_chart?'fade-in-ring':'fade-out-ring'}}"></canvas>
            <h6 text-center class="txt-normal" *ngIf="!show_chart">No Data available</h6>
        </ion-row-->
        <ion-row class="block-top-chart temp-block">
            <ion-col>
                <ion-row class="bdr-btom" no-padding>
                    <ion-col col-8>Power Consumption</ion-col>
                    <ion-col text-right>
                        <ion-icon name="flash" class="txt-orange"></ion-icon> {{room_energy}} WH
                    </ion-col>
                </ion-row>
                <ion-row class="no-data" (click)="goToChartDetails()">
                    <canvas #lineCanvas height="125" ngClass="{{show_chart?'fade-in-ring':'fade-out-ring'}}"></canvas>
                    <div text-center class="txt-normal no-data-txt" ngClass="{{show_chart?'opacity-null':'opacity-full'}}">No Data available</div>
                </ion-row>
            </ion-col>
        </ion-row>

    </div>

    <!--div ion-button class="w-25vw h-9rem room-box btn-block btn padding-1 ml-5px" no-padding>
            <ion-row class="mb-10px pb-2rem">
                <ion-col>
                    <ion-icon name="ios-thermometer-outline" class="txt-normal font-2-8rem">
                    </ion-icon>
                </ion-col>
                <ion-col class="font-2">
                    {{room_tempr || '-'}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="txt-normal">
                    Temperature
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </div>
        <div ion-button class="w-25vw h-9rem room-box btn-block btn padding-1 ml-5px" no-padding>
            <ion-row class="mb-10px pb-2rem">
                <ion-col>
                    <ion-icon name="ios-water-outline" class="txt-normal font-2-8rem">
                    </ion-icon>
                </ion-col>
                <ion-col class="font-2">
                    {{room_hum || '-'}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="txt-normal">
                    Humidity
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </div>
        <div ion-button class="w-25vw h-9rem room-box btn-block btn padding-1 ml-5px" no-padding>
            <ion-row class="mb-10px pb-2rem">
                <ion-col>
                    <ion-icon name="walk" ngClass="{{'font-3rem '+( motion=='unreachable'?'txt-normal':motion=='detected'?'txt-green':motion=='not_detected'?'txt-red':''
                    ) }}" (click)="motionToast()">
                    </ion-icon>
                </ion-col>
                <ion-col class="font-1rem">
                    {{motion}}
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="txt-normal">
                    Motion
                </ion-col>
                <ion-col></ion-col>
            </ion-row>
        </div-->
    <!-- <ion-row>
        <ion-col class="temp-block" no-padding>
            <ion-row>
                <ion-col col-4 no-padding></ion-col>
                <ion-col col-8 no-padding>
                    <ion-row>
                        <ion-col col-8 no-padding>&nbsp;</ion-col>
                        <ion-col text-right no-padding padding-right style="padding-right: 5px !important;">
                            <ion-icon name="ios-sunny-outline" class="txt-gold font-2-6rem"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="temp" text-right>
                            <ion-icon name="ios-water-outline" class="txt-gold font-3rem"></ion-icon>
                            <span class="font-1-8rem" style="margin-left: -7px;">20%</span> 32
                            <sup class="celsius txt-sup"><span style="vertical-align: -webkit-baseline-middle;"></span></sup>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-2>&nbsp;</ion-col>
                        <ion-col text-center> Humid & Moderate </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row> -->
    <ion-item no-padding>
        <div class="p-2">
            <ion-row class="bot_bdr">
                <ion-col col-6 class="btn_ml" *ngFor="let i of data;let ind = index">
                    <div *ngIf="i.name">
                        <div class="switch" [ngClass]="{active: i.isActive1}">
                            <div class="upper-div">
                                <ion-row no-padding no-margin ngClass="{{phone_online?'':'h-2rem'}}">
                                    <ion-col col-9 no-padding no-margin>
                                        <div class="appliance-name">
                                            <span *ngIf="phone_online">{{i.name}}&nbsp;
                                            <!--img *ngIf="!sboards1[i.sboard_id]?.off_available && !sboards1[i.sboard_id]?.on_available" style="width: 20px;" src="assets/img/no-signal.svg"
                                                class="txt-orange no-signal"-->
                                            <span class="no-signal-loader">
                                                <div class="container ">
                                                    <div class="btn-round1 txt-white" ngClass="{{sboards1[i.device_id]?.off_available || sboards1[i.device_id]?.on_available?'fade-out-ring':'fade-in-ring'}}">
                                                    </div>
                                                <div ngClass="{{sboards1[i.device_id]?.off_available || sboards1[i.device_id]?.on_available?'fade-out-ring':'fade-in-ring'}}"
                                                    class="rotating-btn">
                                                </div>
                                            </div>
                                            </span>
                                            </span>
                                        </div>
                                        <div *ngIf="!sboards1[i.device_id]?.off_available && !sboards1[i.device_id]?.on_available">

                                            <!-- <ion-icon ios="ios-alert-outline" md="ios-alert-outline" class="txt-orange"></ion-icon> -->
                                        </div>
                                    </ion-col>
                                    <ion-col col-3 no-padding no-margin class="offline" align-self-end>

                                        <div class="settings txt-gold" *ngIf="phone_online" (click)="goToStats(i)">
                                            <!-- <i class="flaticon-settings txt-gold"></i> -->
                                            <ion-icon name="ios-settings-outline" class="font-2"></ion-icon>
                                            <!--img src="../assets/img/settings.png"-->
                                        </div>
                                    </ion-col>
                                </ion-row>
                                <div class="clearfix"></div>
                            </div>
                            <div class="middle-div" *ngIf="phone_online">
                                <div *ngIf="phone_online">
                                    <round-progress class="roundC" [current]="i.progressBarDuration" [max]="100" [stroke]="20" [rounded]="i.isRounded" [on]="i.isActive1"
                                        [responsive]="true" [animationDelay]="700">
                                    </round-progress>
                                </div>
                                <!-- <div class="btn_icon" (click)="trigger(i)"></div>  -->
                                <div class="btn_icon" ngClass="{{i.appliance_type?app_icons[i?.appliance_type]:''}}" (click)="trigger(i,ind)">
                                        <img src="assets/img/def-app-icon.svg" *ngIf="!i.appliance_type">
                                </div>
                                
                            </div>
                            <div class="running-hrs txt-normal" *ngIf="phone_online">Running Hrs: <span class="txt-orange">{{i.durationHrs}}:{{i.durationMins | timeFormatter}}</span>
                            </div>
                            <ion-spinner class="loading-tile" *ngIf="i.show_loader" name="dots"></ion-spinner>
                            <ion-row *ngIf="!phone_online">
                                <ion-col text-center>
                                    <div class="middle-div btn-round">
                                        <div class="btn_icon" ngClass="{{i.appliance_type?app_icons[i?.appliance_type]:''}}" (click)="trigger(i,ind)">
                                        </div>
                                    </div>
                                </ion-col>
                            </ion-row>
                            <div class="running-hrs txt-white" *ngIf="!phone_online">
                                {{i.name}}
                            </div>
                            <ion-row>
                                <ion-col col-1>
                                    <div class="color-box">
                                        <div *ngIf="display_colors" class="circle" [style.background-color]="display_colors[i?.display_color]||'#000'"></div>
                                        <!--<ion-icon name="radio-button-on" class="font-1rem" ngClass="{{display_colors[i.display_color]}}" ></ion-icon>-->
                                    </div>
                                </ion-col>
                                <ion-col>
                                    <ion-range *ngIf="i.isRegulator" [disabled]="!i.isActive1" (ionChange)="updateDimm(i,ind);" debounce="700" [(ngModel)]="i.current_dimm"
                                        min="0" max="99" class="dimm-range"></ion-range>
                                    <div style="float:right;" *ngIf="i.show_remote && phone_online" (click)="goToRemote(i)">
                                        <img src="assets/img/watch_now.png" style="width: 20px">
                                    </div>
                                    <div style="float:right; margin-top: -1.6vw;" *ngIf="i.isRegulator && i.isActive1" (click)="goToRemote(i)">
                                        <img src="../assets/img/dimm-active.svg" class="dimm">
                                    </div>
                                    <div style="float:right;margin-top: -1.6vw;" *ngIf="i.isRegulator && !i.isActive1" (click)="goToRemote(i)">
                                        <img src="../assets/img/dimm-inactive.svg" class="dimm">
                                    </div>
                                </ion-col>
                            </ion-row>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--div *ngIf="!i.name">
            <ion-row class="txt-normal">
              Please configure the switch in settings tab, in order to use this switch
            </ion-row>
            <ion-row>
            <button ion-button class="txt-orange" (click)="goToSettings()">Go to Settings</button>
            </ion-row>
          </div-->
                </ion-col>
            </ion-row>
        </div>
    </ion-item>
</ion-content>