page-switches-in-room {
    .disabled-sw {
        height: 4vw;
        position: absolute;
        margin: 10vw 34vw;
    }
    .temp-block {
        background: $item-bg;
        margin: 0px 5px 0 5px;
    }
    .temp {
        min-height: 6vw;
        align-self: center;
        height: 12vw;
        line-height: 12vw;
        font-size: 5rem;
        color: $white !important;
        opacity: 0.7;
    }

    .temp-txt{
      height: 7vw;
      line-height: 7vw;
    }
    .txt-sup {
        vertical-align: super;
        font-size: 35%;
    }
    .block-top-chart{
        margin-top:1vw;
    }
    .wave{
            margin-left: -401px !important;
    margin-top: -388px !important;
    }
    .celsius:after {
        content: "\2103";
    }
    ion-list {
        margin: 0 !important;
    }
    ion-item {
        background: transparent !important;
        border-bottom: none !important;
        padding-right: 0 !important;
    }
    .item {
        border: none !important;
        background: none !important;
    }
    ion-item .item-inner {
        padding-right: 0 !important;
    }
    ion-label {
        margin: 0 !important;
    }
    .loading-tile {
        //position:absolute;
        position: absolute;
        top: 4vw;
    }
    .bot_bdr {
        padding-bottom: 5px !important;
        position: relative;
        /*background: #000;*/
    }
    .btn_ml {
        /*margin-right:-30px;*/
        /* margin: 0 auto;*/
        height: 25rem;
        border: 2px solid $body-bg;
        /*border-radius: 10px;*/
        background: $item-bg;
    }
    .btn-round {
        border-radius: 100%;
        height: 12.5rem;
        width: 12.5rem;
        border: 3px solid $body-bg;
        margin: 0 auto;
        line-height: 10.5rem;
        .flaticon-refrigerator:before {
            font-size: 45px !important;
        }
    }
    .h-2rem {
        height: 2rem;
    }
    .content {
        color: $white;
    }
    .hrscount {
        text-align: center;
    }
    .kwhcount {
        text-align: center;
    }
    .hrscount,
    .kwhcount {
        font-size: 28px;
        color: $white;
    }
 
    .hrs {
        color: $orange;
    }
    .bg {
        background: $item-bg;
    }
    .kwh {
        color: $gold;
    }
    .hrs,
    .kwh,
    .remote,
    .setting {
        font-size: 17px;
        text-align: center;
        /*padding: 3px 0 2px 0px !important;*/
    }
    .remote,
    .setting {
        color: $white;
        width: 18px;
    }
    .bg_00 {
        background: $black;
    }
    .color_ff {
        color: $white;
    }
    .content_txt {
        vertical-align: middle;
    }
    .switch .roundC {
        background: url(../assets/img/btn_test.png);
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 1000px;
        max-width: 100%;
        background-position: center;
        max-height: 120px;
        padding-bottom: 0 !important;
        height: 300px;
        margin: 0 auto;
    }
    .switch.active .roundC {
        background: #F00;
        background: url("../assets/img/OnPress.png");
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: 1000px;
        max-width: 100%;
        background-position: center;
        max-height: 120px;
        padding-bottom: 0 !important;
        height: 300px;
        margin: 0 auto;
    }
    .switch {
        //    max-height:130px;
        .middle-div {
            position: relative;
        }
        .btn_icon {
            /*background-image: url("../assets/img/iconoff.png");*/
            /* padding-top: 225px; */
            color: $txt-primary;
            background-repeat: no-repeat;
            background-position: center;
            position: absolute;
            top: 0px;
            left: 25%;
            width: 50%;
            max-width: 100%;
            background-size: 30px;
            height: 100%;
            text-align: center;
            display: flex;
            -webkit-flex-flow: column;
            justify-content: center;
        }
        .circle {
            width: 0.4em;
            height: 0.4em;
            display: block;
            border-radius: 50%;
        }
    }
    .switch.active {
        .btn_icon {
            /*background-image: url("../assets/img/iconon.png");*/
            color: $orange !important;
        }
        .flaticon-refrigerator:before {
            color: $orange !important;
        }
    }
    .roundC svg {
        max-height: 130px;
    }
    .switch-icon {
        width: 8vw;
        transform: translate3d(19vw, -18vw, 0);
    }
    .dimm-range{
        width:94% !important;
    }
    .no-signal{
        position: absolute;
        top: 0.5vw;
    }
	.container{
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        font-size: 1.5rem !important;
        line-height: 1rem;
}
.btn-round1{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    border: 3px solid $black;

    position: absolute;
    top:0;
    left:0;

}
.blk-1{
    margin-top: 1.4vw;
    height: 6.8rem;
}
.no-signal-loader{
    position: absolute;
    top:1.3vw;
}
.rotating-btn{
    border-radius: 100%;
height: 100%;
width: 100%;
border-top: 2px solid $orange;
font-size: 1rem !important;
animation: spinner-rotate 1.2s linear infinite;
}
.fade-out-ring{
  visibility: hidden;
opacity: 0;
transition: visibility 0s 1.2s, opacity 1.2s linear;
}
.fade-in-ring{
 visibility: visible;
opacity: 1;
transition: opacity 1.2s linear;
}
@keyframes myAnimation {
0% {
opacity:100%;
}
75% {
opacity:25%;
}
100% {
opacity:0%;
}
}

    // .switch.active .btn_icon{
    //     padding-top: 225px;
    //     background-repeat: no-repeat;
    //     background-position: center;
    //     position: absolute;
    //     top: 0px;
    //     left: 0px;
    //     width: 100%;
    //     max-width: 100%;
    //     background-size: 30px;
    // }
    /*.item:last-child .item-inner{
    border-bottom: 0.5px solid $item-bg-light !important;
  }*/
    .item:last-child {
        border-bottom: none !important;
    }
    .running-hrs {
        text-align: center;
        font-size: 1.5rem;
        height: 38px;
        line-height: 38px;
    }
    .appliance-name {
        float: left;
        font-size: 1.6rem;
        color: $white;
        line-height: 28px;
        height: 45px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 80%;
    }
    .settings {
        float: right;
        font-size: 1.6rem;
        line-height: 28px;
        height: 45px;
        text-align: center;
        padding-left: 0.5rem;
        margin-top: -4px;
    }
    .offline {
        display: inline-flex;
        justify-content: flex-end;
    }
    .color-box {
        float: left;
        padding-top: 10px;
        padding-left: 5px;
    }
    .range-bar {
        background: #525252 !important;
        top: 14px !important;
    }
    .range {
        padding: 0px 15px 0px 20px !important;
    }
    .range-slider {
        height: 10px !important;
    }
    .range-knob-handle {
        top: 14px !important;
    }
    .range-knob {
        top: 14px !important;
        width: 15px !important;
        height: 15px !important;
    }

















@-webkit-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-moz-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@-o-keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

@keyframes backgroundAnimate {
  from {
    left: 0;
    top: 0;
  }
  to {
    left: -10000px;
    top: -2000px;
  }
}

#back {
  background: url(http://www.tranexnet.com/img/back.png) repeat 20% 20%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 500s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 5s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 500s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 500s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#front {
  background: url(http://www.tranexnet.com/img/front.png) repeat 35% 35%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
  z-index: -1;
  -webkit-animation-name: backgroundAnimate;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: backgroundAnimate;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: backgroundAnimate;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: backgroundAnimate;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
}
