<ion-header>
  <ion-navbar>
    <ion-title>Scenes</ion-title>
    <ion-buttons end class="txt-gold">
      <button (click)="goToNotifications();" class="noti-fab-btn txt-gold" *ngIf="kiot_internet=='online'">
              <span *ngIf="num_of_notifications" class="noti-num">{{num_of_notifications}}</span>
              <ion-icon *ngIf="num_of_notifications" name="ios-notifications-outline" class="txt-orange font-3rem"></ion-icon>
              <ion-icon *ngIf="!num_of_notifications" name="ios-notifications-outline" class="txt-normal font-3rem"></ion-icon>
              <!-- <img *ngIf="num_of_notifications" src="assets/img/notification.png">
              <img *ngIf="!num_of_notifications" src="assets/img/notification (1).png"> -->
            </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top ngClass="{{kiot_internet=='online'?'opacity-full':'opacity-null'}}">
    <ion-segment [(ngModel)]="current" (ionSelect)="scenesInit()">
      <ion-segment-button value="scenes">
        Scenes
      </ion-segment-button>
      <ion-segment-button value="workflows" (ionSelect)="workflowsInit()">
        Workflows
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="kiot_internet=='offline'" text-center style="margin-top: 25vw;">
    <img src='assets/img/offline1.png' />
    <button full ion-button (click)="retry()" class="txt-gold" [disabled]="retry_loading">
      RETRY
       <ion-spinner *ngIf="retry_loading" name="dots"></ion-spinner>
      </button>
    <p class='txt-gold center-text'>But Still you can switch on/off the appliances and operate remotes!</p>
  </div>
  <!-- <div *ngIf="kiot_internet=='online'">
    <ion-grid class="p-2">
      <ion-row class="bot_bdr">
        <ion-col no-padding col-6 class="btn_ml" *ngFor="let i of all_scenes;let ind=index">
          <ion-row no-padding>
            <ion-col no-padding>
              <div class="settings txt-gold" (click)="goToDetails(ind)">
                <ion-icon name="settings" class="font-2"></ion-icon>
              </div>

            </ion-col>
          </ion-row>
          <div (click)="triggerScene(i,ind)">
            <div class="circle app-icon">
              <ion-icon name="radio-button-on" ngClass="{{i.isActive&&i.scheduleSceneName?'txt-green':'txt-red'}}" class="font-1rem"></ion-icon>
            </div>

            <div class="container">
              <div class="btn-round txt-white"> {{ i.no_of_apps }}
              </div>
              <div class="rotating-btn" ngClass="{{i.show_loader?'fade-in-ring':'fade-out-ring'}}">
              </div>
            </div>



            <div class="appliance-name">
              {{i.sceneName?i.sceneName:i.scheduleSceneName}}
            </div>
            <div class="running-hrs txt-normal">
              <span class="txt-orange">{{i.user.name}}</span>
            </div>
          </div>
          <div>
            <div class="time-trigger" *ngIf="i.hour">
              <span class="txt-white">
                                {{i.hour>12?i.hour-12:i.hour}}:{{i.mins==0?'00':i.mins<10?'0'+i.mins:i.mins}} {{i.hour>12?'PM':'AM'}}
                            </span>
            </div>
            <div text-right padding-right class="time-trigger txt-white" *ngIf="!i.hour">Unscheduled</div>
          </div>

        </ion-col>
      </ion-row>


    </ion-grid>
  </div> -->
  <div *ngIf="kiot_internet=='online'&&current=='scenes'" class="mt-4vw">
    <div ngClass="{{selected_scene == 'NONE'?'':'no-click'}}" (click)="nullifySelected()" class="bg-click"></div>
    <div class="font-1-5rem txt-white epg-title ml-3vw" strong> Routines </div>
    <ion-row>
      <ion-col ion-button class="room-box btn-block" (click)="selectScene(i)" *ngFor="let i of routines" no-padding col-4>
        <div>
          <ion-row class="mt-1vw">
            <ion-col>
              <ul class="bar-graph">
                <li>
                  <div class="bar-wrap"><span class="bar-fill" ngClass="{{i.isActive?'':'bar-fill-inactive'}}" [style.width]="i.progress + '%'"></span></div>
                </li>
              </ul>
            </ion-col>
          </ion-row>
        </div>
        <div class="more-box">
          <ion-row class="h-2rem">
            <ion-col text-left>
              <div class="font-1-3rem" ngClass="{{i.isActive?'txt-gold':'txt-normal'}}">
                {{i.scheduleSceneName}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="h-3-5rem">
            <ion-col text-left>
              <div class="font-1-7rem txt-normal">
                {{i.hour>12?i.hour-12:i.hour}}:{{i.mins==0?'00':i.mins
                <10? '0'+i.mins:i.mins}} {{i.hour>12?'PM':'AM'}}
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-right padding-right>
              <ion-icon name="ios-bulb-outline" class="txt-gold font-1-7rem"></ion-icon>
              <span class="font-1-7rem">{{i.no_of_apps}}</span>
            </ion-col>
          </ion-row>
        </div>
        <div class="more-box1" ngClass="{{i._id==selected_scene?'opacity-full':'opacity-null no-click'}}">
          <ion-row class="h-50vw bg-1c btn-play-row">
            <ion-col align-self-center clear ion-button class="txt-gold btn-play" txt-center (click)="triggerScene(i,i.ind)">
              {{i.isActive?'Stop':'Play'}}
            </ion-col>
          </ion-row>
          <ion-row class="h-50vw bg-1c btn-view-row">
            <ion-col (click)="goToDetails(i.ind)" align-self-center ion-button class="txt-orange btn-view no-box-shadow" txt-center>
              View
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>

    <div class="font-1-5rem txt-white epg-title ml-3vw" strong>Scenes</div>

    <ion-row>
      <ion-col ion-button class="room-box2 btn-block" *ngFor="let i of scenes" (click)="selectScene(i)" no-padding col-6>
        <div>
          <ion-row class="mt-1vw">
            <ion-col col-3>
              <ion-icon name="ios-bulb-outline" class="txt-gold font-2-7rem"></ion-icon>
              <span class="font-2-4rem">{{i.no_of_apps}}</span>
            </ion-col>
            <ion-col col-8 align-self-center text-left text-wrap class="font-1-4rem">
              {{i.sceneName}}
            </ion-col>
          </ion-row>
        </div>
        <!--div class="more-box">
          <ion-row class="h-2rem">
            <ion-col col-9 text-left class="font-1-3rem">



            </ion-col>
          </ion-row>
          <ion-row class="h-3-5rem">
            <ion-col text-left>

            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col text-right padding-right>
              <ion-icon name="ios-bulb-outline" class="txt-gold font-1-7rem"></ion-icon>
              <span class="font-1-7rem">{{i.no_of_apps}}</span>
            </ion-col>
          </ion-row>
        </div-->
        <div class="more-box1" ngClass="{{i._id==selected_scene?'opacity-full':'opacity-null no-click'}}">
          <ion-row style="height: 100%;border-radius: 3.5vw;" class="bg-1c ">
            <ion-col col-6 align-self-center clear ion-button class="txt-gold bg-1c btn-play1" txt-center (click)="triggerScene(i,i.ind)">
              Play
            </ion-col>
            <ion-col col-6 (click)="goToDetails(i.ind)" clear align-self-center ion-button class="txt-orange bg-1c btn-view1" txt-center>
              View
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </div>









  <!--div *ngIf="kiot_internet=='online'&&current=='scenes'">
    <ion-row class="h-8rem bg-1c" *ngFor="let i of all_scenes;let ind=index">
      <ion-col col col-2 align-self-center text-center (click)="triggerScene(i,ind)">
        <round-progress class="roundC" [current]="i.progress||0" [max]="100" [stroke]="20" [rounded]="false" [on]="i.isActive&&i.scheduleSceneName"
          [responsive]="true">
        </round-progress>
        <button ion-button class="bdr-circle wh-4rem">
        <ion-icon name="play" *ngIf="!i.isActive||!i.scheduleSceneName" class="font-3rem txt-normal"></ion-icon>
         <ion-icon name="square" *ngIf="i.isActive&&i.scheduleSceneName" class="font-2-5rem txt-normal"></ion-icon>
      </button>
      </ion-col>
      <ion-col class="" (click)="goToDetails(ind)" align-self-center>
        <ion-row>
          <ion-col class="font-2 txt-gold">{{i.sceneName?i.sceneName:i.scheduleSceneName}}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="font-1-5rem" no-padding pl-5px>{{i.user.name}}</ion-col>

        </ion-row>
      </ion-col>
      <ion-col text-right *ngIf="i.hour" align-self-center>{{i.hour>12?i.hour-12:i.hour}}:{{i.mins==0?'00':i.mins
        <10? '0'+i.mins:i.mins}} {{i.hour>12?'PM':'AM'}}</ion-col>
      <ion-col text-right *ngIf="!i.hour" align-self-center>Unscheduled</ion-col>
    </ion-row>
  </div-->


  <!-- WORKFLOWS TAB_________________________________________________________-->

  <div *ngIf="kiot_internet=='online'&&current=='workflows'">
    <ion-row class="h-8rem bg-1c" style="border-bottom:1px solid $body-bg"  *ngFor="let i of all_workflows;let ind=index">
      <ion-col col col-3 align-self-center>
        <ion-row>
          <ion-col text-center class="txt-gold font-1-1rem mb-minus2vw">
            starts at
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center class="font-1-4rem">
            {{i.start_str}}
          </ion-col>
        </ion-row>

      </ion-col>
      <ion-col class="font-1-7rem txt-white wrkflw-name" text-center align-self-center text-wrap (click)="goToWorkflow(ind)">
        {{i.name}}
      </ion-col>
      <ion-col col-3 align-self-center text-center>
        <ion-row>
          <ion-col text-center class="txt-gold font-1-1rem mb-minus2vw">
            ends at
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col text-center class="font-1-4rem">
            {{i.end_str}}
          </ion-col>
        </ion-row>
      </ion-col>

    </ion-row>


  </div>
  <ion-fab *ngIf="curr_home && kiot_internet=='online'" right bottom color="Red" class="fab1">
    <button ion-fab (click)="goToCreate()">
    <ion-icon name="add"></ion-icon>
  </button>
  </ion-fab>

</ion-content>