ib-page-scenes {
    /*new styles*/
    .segment-ios .segment-button.segment-activated{
        background-color:$orange !important;
        color:$black !important;

    }
    .circle {
        width: 0.4em;
        height: 0.4em;
        display: block;
        border-radius: 50%;
    }
        .app-icon{
        margin-left: 27vw;
        padding-top: 5vw;
        float: left;
        position: absolute; 
   }
   .room-box{
        border-radius: 4vw;
        height: 12rem !important;
        margin: 10px 0px !important;
        border:3px solid $body-bg;
    }

    .room-box2{
        border-radius: 3.6vw;
        height: 6rem !important;
        margin: 10px 0px !important;
        border:3px solid $body-bg;
    }
    
   /* .room-box.activated{
        .more-box{
            display: none;
            padding-left: 2vw;
        }
        
    }*/
    .bg-click{
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}    
    .no-click{
        pointer-events: none;
    }
    .more-box1{
        position: absolute;
        top: 0;
        text-align: center;
        width: 100%;
        background: rgba(0,0,0,0.7);
        height: 100%;
        border-radius: 3.5vw;
        transition: 0.4s opacity ease;
        .button-inner{
            display: flex !important;
        }
    }
    .btn-play-row{
        border-top-left-radius: 3.5vw;
        border-top-right-radius: 3.5vw;
        border-bottom: 2px solid $body-bg;
    }
    .btn-view-row{
        border-bottom-left-radius: 3.5vw;
        border-bottom-right-radius: 3.5vw;
        border-top: 2px solid $body-bg;
    }
    .more-box{
        margin-left:1vw;
    }
/*    .btn-play{
        margin:4.5vw 0 5px 5px !important;
    }*/
    .btn-view,
    .btn-play {
        margin:5px !important;
        height: 30px !important;
    }
    .btn-view1,
    .btn-play1 {
        height: 30px !important;
    }
    .btn-play1{
        border-right: 2px solid $body-bg;
    }
    .btn-round {
        border-radius: 100%;
        height: 10.5rem;
        width: 10.5rem;
        border: 3px solid $black;
        font-size: 4.5rem !important;
        margin: 0 auto;
        line-height: 10.5rem;
        text-align:center;
    }
        	.btn-round{
		border-radius: 100%;
    	height: 100%;
    	width: 100%;
    	border: 3px solid $black;

		position: absolute;
		top:0;
		left:0;

	}
	.container{
		    	height: 10.5rem;
    	width: 10.5rem;
		position: relative;
		    	font-size: 4.5rem !important;
    	margin: 0 auto;
    	line-height: 10.5rem;
	}
		.rotating-btn{
		    border-radius: 100%;
    height: 100%;
    width: 100%;
    border-top: 2px solid $orange;
    font-size: 4.5rem !important;
    animation: spinner-rotate 1s linear infinite;
	}


	.fade-out-ring{
		  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1.2s, opacity 1.2s linear;
	}
	.fade-in-ring{
		 visibility: visible;
  opacity: 1;
  transition: opacity .2s linear;
	}
	@keyframes myAnimation {
    0% {
        opacity:100%;
    }
    75% {
        opacity:25%;
    }
    100% {
        opacity:0%;
    }
}
    
    ion-list {
        margin: 0 !important;
    }
    ion-item {
        background: transparent !important;
        border-bottom: none !important;
        padding-right: 0 !important;
    }
    .item {
        border: none !important;
        background: none !important;
    }
    ion-item .item-inner {
        padding-right: 0 !important;
    }
    ion-label {
        margin: 0 !important;
    }
    .bot_bdr {
        padding-bottom: 5px !important;
        position: relative;
        
    }
    .btn_ml {
        /*margin-right:-30px;*/
        /* margin: 0 auto;*/
        height: 23rem;
        border: 2px solid $body-bg;
        /*border-radius: 10px;*/
        background: $item-bg;
    }
    .content {
        color: $white;
    }
    .rounded-img {
        border-radius: 50%;
        margin-top: 3vw;
        margin-bottom: 1vw;
        height: 20vw;
        margin-left: 13vw;
        border: 1px solid $orange;
    }
    .rounded-img-deactive {
        border-radius: 50%;
        margin-top: 3vw;
        margin-bottom: 1vw;
        height: 20vw;
        margin-left: 13vw;
        border: 1px solid $item-bg-light;
    }

    .hrs {
        color: $orange;
    }
    .no_of_apps {
        float: left;
        font-size: 2.5rem;
    }
    /*.scroll-content {
        background: $black !important;
    }*/
    .running-hrs {
        text-align: center;
        font-size: 1.4rem;
        height: 44px;
        line-height: 25px;
    }
    .time-trigger {
        float: right;
        margin-top:-8px;
        margin-right: 2vw;
        font-size: 1.5rem;
    }
    .bg_00 {
        background: $black;
    }
    .color_ff {
        color: $white;
    }
    .content_txt {
        vertical-align: middle;
    }
    .switch-icon {
        width: 8vw;
        transform: translate3d(19vw, -18vw, 0);
    }
    .btn_icon {
        background-image: url("../assets/img/iconoff.png");
        padding-top: 225px;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        left: 25%;
        width: 50%;
        max-width: 100%;
        background-size: 30px;
    }
    .settings {
        /*position: absolute;
        margin-left: 42vw;*/
        font-size: 4.6vw !important;
        margin-top: 1vw;
        float: right;
        margin-right: 1vw;
    }
    /*.item:last-child .item-inner{
    border-bottom: 0.5px solid $item-bg-light !important;
  }*/
    .item:last-child {
        border-bottom: none !important;
    }
    .appliance-name {
        font-size: 1.6rem;
        color: $white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        margin-top: 2vw;
    }
    .fab ion-icon {
    font-size: 3rem !important;
    }
    .roundC svg {
        height: 82% !important;
    }
    .roundC{
        position: absolute;
        top: 0;
        left: 0;
    }



    //progressbar

 
    
    // Mixins
    
    @mixin prefix ($property, $value,
                     $moz:    true,
                     $webkit: true,
                     $o:      false,
                     $ms:     true,
                     $spec:   true) {
        @if $moz    {    -moz-#{$property}: $value; }
        @if $webkit { -webkit-#{$property}: $value; }
        @if $o      {      -o-#{$property}: $value; }
        @if $ms     {     -ms-#{$property}: $value; }
        @if $spec   {         #{$property}: $value; }
    }
    
    // Animations
    
    @keyframes bar-fill {
       0% { width: 0; }
    }
    @-webkit-keyframes bar-fill {
       0% { width: 0; }
    }
    @-moz-keyframes bar-fill {
       0% { width: 0; }
    }
    @-o-keyframes bar-fill {
       0% { width: 0; }
    }
    
    // Graph stuff
    
    .bar-graph {
            list-style: none;
            margin: 1.7vw 0vw 0vw 3vw !important;
            padding: 0 !important;
    }
    
    .bar-wrap {
      @include prefix(border-radius,10px 10px 10px 10px);
      background-color: rgba(255, 149, 0,0.2);     
      margin-bottom: 6px;
      width: 78% !important;
    }
    .wrkflw-name{
        border-left: 1px solid $item-bg-light;
        border-right: 1px solid $item-bg-light;
    }
    .bar-fill { 
      @include prefix(border-radius,10px 10px 10px 10px);
      @include prefix(animation, bar-fill 1s);
      border-radius: 10px 10px 10px 10px;
      -webkit-animation: bar-fill 1s;
      animation: bar-fill 1s;
      background-color: $orange;
      display: block;
      height: 3px;
      opacity:1;
      
    }
    .bar-fill-inactive{
        opacity:0.5 !important;
        background-color: $body-bg !important;
    }
    .button.activated{
        background: transparent !important;
    }
    
    // General stuff
    
    body {
      background-color: $black;
    }
    
    p {
      color: rgba(0, 155, 202,1);
      font: {
        family: 'Helvetica';
        size: 16px;
        weight: 100;
      }
      text-transform: uppercase;
    }

}
