<ion-content style="background: rgba(0,0,0,0.8) !important;">
  <div text-center style="margin-top: 53vw;">
    <img src='assets/img/update.png' />
    <h1 text-center class="txt-orange">Update Required</h1>
    <h4 class="txt-normal" text-center>Please Update Kiot App in order to continue using</h4>
<br>
      <!--button full ion-button (click)="retry()" class="txt-gold" [disabled]="retry_loading">
            Update Now
           
    </button-->
      <a href="#" (click)="goToStore()" class="store-link">Update Now</a>

  </div>
</ion-content>