
<ion-header>
    <ion-navbar>
        <ion-title>Add a shortcut</ion-title>
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                Cancel
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>

<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold">Select a switch to add shortcut</span>
    </ion-item-divider>
    <span *ngFor="let i of items">
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-gold font-1-6rem"> {{i.room_name}}</span>
    </ion-item-divider>
    <span *ngFor="let j of i.devices">
          <span *ngFor="let k of j.switch_appliances" class="loopspan">
             <button ion-item class="itm2" [disabled]="shortcut_dictionary[k._id]" (click)="addShortcut(k,i,j)">
           
            <!--span *ngIf="!k.is_configured" class="font-1-1rem txt-gold"> (Switch - {{k.switch_no}})</span-->
    <span *ngIf="k.name!=''">{{k.name}}</span>
    <span *ngIf="!k.is_configured" class="font-1-1rem txt-gold">(Unconfigured)</span>
    <br><span class="txt-orange txt-small"> {{j.sboard_name}}</span>
    <ion-icon item-right md="ios-arrow-forward"></ion-icon>
    </button>
    </span>
    </span>
    </span>
  </ion-item-group>

</ion-content>
