page-power-stats {
    .temp-block {
        background: $item-bg;
    }
    .segment-md .segment-button.activated, .segment-md .segment-button.segment-activated {
        border-color: transparent !important;
    }
}
