<ion-header>

  <ion-navbar>
    <ion-title>Power Stats</ion-title>
    <ion-buttons end>
      <button ion-button outline class="close-modal" (click)="dismiss(0)">
          Close
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="current">
      <ion-segment-button [value]="i.month" *ngFor="let i of all_months;let ind=index" (ionSelect)="monthSelected(ind)">
        {{i.name}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-spinner name="dots" *ngIf="show_spinner" style="position: absolute;left: 45%;"></ion-spinner>
  <ion-row class="temp-block" (click)="goToChartDetails()">
    <ion-col col-1></ion-col>
    <ion-col>
      <canvas #lineCanvas ngClass="{{show_chart?'fade-in-ring':'fade-out-ring'}}"></canvas>
      <h6 text-center class="txt-normal" *ngIf="!show_chart">No Data available</h6>
    </ion-col>
    <ion-col col-1></ion-col>
  </ion-row>

  <!--div class="chartWrapper">
    <div class="chartAreaWrapper">
      <canvas #lineCanvas width="15000" height="400" ngClass="{{show_chart?'fade-in-ring':'fade-out-ring'}}"></canvas>
    </div>
  </div-->
  <ion-item>
    <ion-row>
      <ion-col col-3 text-center class="itm txt-orange">
        Date
      </ion-col>
      <ion-col text-center class="itm txt-orange">
        Avg. Power
      </ion-col>
      <ion-col text-center class="itm txt-orange">
        Total Energy
      </ion-col>
    </ion-row>
  </ion-item>
  <ion-item-group [virtualScroll]="day_wise" approxItemHeight="15px">

    <ion-item class="itm" *virtualItem="let i ">
      <ion-row>
        <ion-col col-3 text-center class="itm">
          <time>{{i.date}}</time><sup>{{i.sup_txt}}</sup>
        </ion-col>
        <ion-col text-center class="itm">
          {{i.power || 'NA '}} <span *ngIf="i.power">W</span>
        </ion-col>
        <ion-col text-center class="itm">
          {{i.energy || 'NA '}} <span *ngIf="i.energy">WH</span>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-item-group>
</ion-content>