<ion-header>

  <ion-navbar>
    <ion-title>Workflow</ion-title>
    <ion-buttons end *ngIf="is_edit">
      <button ion-button outline class="close-modal" (click)="editWorkflow()">
                edit
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row >
  <ion-col align-self-center *ngIf="all_triggers.length" class="noti-heading font-2-4rem">Triggers</ion-col>
  <ion-col align-self-center col-2 text-center class="align-right font-3-4rem" *ngIf="all_triggers.length" (click)="openModalToAdd()"><ion-icon name="add"></ion-icon></ion-col>
  </ion-row>
  <ion-item class="itm" *ngFor="let i of all_triggers;let ind=index" ngClass="{{i.enabled?'opacity-full':'opacity-6'}}">
    <ion-row class="notif-head">
      <ion-col class="font-1-1rem">
        {{i.sensor_type}}
      </ion-col>
      <ion-col align-self-center col-9>

        <button ion-button clear class="align-right font-1-1rem txt-red btn-active" (click)="deleteTrigger(ind)">Delete</button>
        <button ion-button clear class="align-right font-1-1rem txt-orange btn-active" (click)="editTrigger(ind)">Edit</button>
          <button ion-button clear class="align-right font-1-1rem btn-active" (click)="disableTrigger(ind)">{{i.enabled?'Disable':'Enable'}}</button>
      </ion-col>
    </ion-row>
    <ion-row class="notif-msg">
      <ion-col>
        <span class="font-1-5rem ellipses">When {{i.sensor_type}} is {{i.trigger_type}} {{i.trigger_value}}</span><br>
        <span *ngFor="let j of i.actions" class="txt-normal font-1-1rem " innerHTML="{{j.action_string+'<br>'}}"></span>
      </ion-col>
    </ion-row>
  </ion-item>
  <br>
  <button ion-button full *ngIf="!all_triggers.length" (click)="openModalToAdd()">Add Trigger</button>

  <div *ngIf="all_triggers.length">
    <!--button ion-button full (click)="openModalToAdd()">Add Another Trigger</button-->
    <br>
    <button ion-button full (click)="doneAdding()" class="txt-orange">Done</button>
  </div>

  <br>
  <button ion-button full (click)="deleteWorkflow()" class="txt-red">Delete Workflow</button>

</ion-content>