<ion-header>
  <ion-navbar>
    <ion-title>New Remote</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-silver">Create a new Remote</span></ion-item-divider>
    <ion-item class="itm">
      <ion-label>Appliance Name</ion-label>
      <ion-input type="text" item-right class="txt-normal" required text-right [(ngModel)]="name" [ngModelOptions]="{standalone: true}"></ion-input>
    </ion-item>

    <ion-item class="itm">
      <ion-label>Room</ion-label>
      <ion-select [(ngModel)]="room" (ngModelChange)="onRoomChange()" *ngIf="items?.length">
        <ion-option *ngFor="let item of items" [value]="item.room_id">{{item.room_name}}</ion-option>
      </ion-select>
      <ion-label class="txt-normal" *ngIf="!items?.length" text-right>No Rooms available with devices</ion-label>
    </ion-item>
    <ion-item class="itm">
      <ion-label>Device to Pair</ion-label>
      <ion-select [(ngModel)]="sb_id" [disabled]="disSb">
        <ion-option *ngFor="let item of sb" [value]="item">{{item.sboard_name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="itm">
      <ion-label>Appliance Type</ion-label>
      <ion-select [(ngModel)]="type" [ngModelOptions]="{standalone: true}">
        <ion-option>Home Automation</ion-option>
        <ion-option>AV Receiver</ion-option>
        <ion-option>Projector</ion-option>
        <ion-option>Disc Player</ion-option>
        <ion-option>TV</ion-option>
        <ion-option>Media Streamer</ion-option>
        <ion-option>Set Top Box</ion-option>
        <ion-option>Air Conditioner</ion-option>
      </ion-select>
    </ion-item>
  </ion-item-group>
  <p>&nbsp;</p>
  <button ion-button block no-margin class="txt-orange" [disabled]="next_spinner" (click)="testConnection()">
   Configure Remote
   <ion-spinner name="dots" *ngIf="next_spinner"></ion-spinner> </button>
</ion-content>