<ion-header>

  <ion-navbar>
    <ion-title>Tickets</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div text-center class="mt-4vw">
    <div class="font-2 txt-normal" *ngIf="!wait && !all_tickets.length" text-center>No Active tickets/compliants</div>
  </div>
  <ion-row *ngIf="!wait && all_tickets.length">
    <ion-col align-self-center class="noti-heading font-2-4rem">All Tickets</ion-col>

  </ion-row>
  <ion-item class="itm" *ngFor="let i of all_tickets;let ind=index" ngClass="{{i.status=='pending'||i.status=='in_process'?'opacity-full':'opacity-6'}}">
    <ion-row class="notif-head">
      <ion-col class="font-1-1rem ellipses">
        {{i.title}} <span *ngIf="i.status!='pending'&&i.status!='in_process'" class="txt-gold"> - resolved</span>
      </ion-col>
      <ion-col class="txt-normal font-1rem" align-self-center col-3>
        {{i.createdAt | date}}
      </ion-col>
    </ion-row>
    <ion-row class="notif-msg">
      <ion-col>
        <span class="font-1-5rem">{{i.customer_comments}}</span><br>
       
      </ion-col>
    </ion-row>
  </ion-item>
  <br>
  <button ion-button full class="txt-gold" (click)="goToNewTicket()">New Compliant</button>
</ion-content>