page-tickets-list {
    .notif-head {
        background: #343434;
        height: 4rem;
        line-height: 3rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
            padding: 0 4px 0 4px;
    }
    .notif-msg{
    	background: $menubar-bg;
    	border-bottom-left-radius: 1rem;
    	border-bottom-right-radius: 1rem;
    	/*border: 0.5px solid #343434;*/
            padding: 0 4px 0 4px;
        transition: max-height .2s ease-in;
    }
            .list ion-item-options {
        border-bottom: none !important;
    }
    .itm{
    	max-height: none !important;
    	background: transparent !important;
    	padding: 10px 10px 0px 10px !important;
    }
    .mx-ht-1000{
        max-height: 35rem;
    }
    .mx-ht-15{
        max-height: 7rem;
    }
    .itm .item-inner {
    border-bottom: none !important;
    max-height: none !important;
    padding: 0 !important
	}
	.label{
		margin:0 !important;
	}
	.noti-heading{
		padding-left:4vw;
		margin-bottom: 0 !important;
    }
    /*.button.activated{
        font-size:1.1rem !important;
    }*/
    .button.activated.btn-active{
        font-size: 1.1rem !important;
    }
}
