<ion-header> 
	<ion-navbar>         
		<ion-title>Select a Home</ion-title> 
	</ion-navbar>  
</ion-header> 
<ion-content no-padding> 

	<ion-item-group>
    <ion-item-divider class="itm-divider-btom"><span class="txt-gold">Select a home to continue</span></ion-item-divider>			
      <button ion-item class="itm" *ngFor="let item of items" (click)="go(item)"><span>{{item.display_name}}</span>
			<span item-right class="txt-normal" *ngIf="item.isDefault"> Default </span>
			<ion-icon item-right md="ios-arrow-forward"></ion-icon>
			</button>
	</ion-item-group>

</ion-content>     
