page-select-keys {
	.searchbar-input{
		box-shadow:none !important;
	}
	.searchbar{
		background: none !important;	
	}
	.toolbar-background{
	    border-bottom: none !important;
	}
	
	.toolbar{
		border-bottom: 1px solid $body-bg;
	}
	::-webkit-input-placeholder {
    	color: $orange !important;
	}
}
