<ion-header>
    <ion-navbar>
        <ion-title>Remote Keys</ion-title>
        <ion-buttons end>
            <button ion-button outline class="close-modal" (click)="dismiss(0)">
                save
            </button>
        </ion-buttons>
    </ion-navbar>
    <ion-toolbar no-border-top no-padding>
        <ion-searchbar placeholder="Search any key" autocomplete="on" (ionInput)="filterItems($event)">
        </ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <div *ngFor="let i of remote_keys1;let ind=index" no-padding text-center>
            <ion-item class="itm">
                <ion-checkbox (ionChange)="detectChanges($event,i.name)" [(ngModel)]="i.checked"></ion-checkbox>
                <ion-label class="txt-normal">{{i.name}}</ion-label>
            </ion-item>
            <!-- <button ion-button class="btn-more" full (click)="triggerIr(i)">{{i}}</button> -->
        </div>
    </ion-list>
</ion-content>
