
<ion-header> 
	<ion-navbar>         
		<ion-title>Homes</ion-title> 
	</ion-navbar>  
</ion-header> 
<ion-content no-padding> 
	<ion-item-group *ngIf="show">
    <ion-item-divider class="itm-divider-btom">
      <span class="txt-silver">All your registered homes</span>
    </ion-item-divider>			
      <button ion-item class="itm" *ngFor="let item of homes" (click)="homeDetails(item)"><span>{{item.display_name}}</span>
			<span item-right class="txt-normal" *ngIf="item.isDefault"> Default </span>
      <ion-icon item-right md="ios-arrow-forward"></ion-icon>
			</button>
	</ion-item-group>
<br>
  <button class="btn txt-orange" ion-button full (click)="goToCreateHome();">
    Create Home
  </button>
  <p padding-left class="m-40150">When you click on it, you can create a new home </p>
   <button class="btn txt-orange" ion-button full (click)="goToJoinHome();">
    Join Home
  </button>
  <p padding-left class="m-40150">When you click on it, you can join into an existing home </p>

<!--    <ion-fab right bottom  color="Red" class="fab1">
       <button ion-fab  (click)="goToCreateHome();"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
  <ion-fab left bottom  color="Red" class="fab1">
       <button ion-fab  (click)="goToJoinHome();"><ion-icon name="add"></ion-icon></button>
  </ion-fab> -->

</ion-content>     
